<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>恢复备份</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--上传文件-->
		<link rel="stylesheet" href="bootstrap-fileinput/fileinput.min.css" />
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">恢复备份</li>
                                </ul>
								<a href="database_data_backups.html" class="btn btn-danger pull-right" role="button">数据备份</a>
							</div>
							<div class="content-box">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">本地SQL文件：</label>
										<div class="col-sm-8">
											<input type="file" class="file" id="input-1"/>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label"></label>
										<div class="col-sm-8">
											<button type="button" class="btn btn-danger">上传并执行SQL文件</button>
										</div>
									</div>
									<table class="table table-bordered table-hover j-get-more select-three">
										<thead>
											<tr>
												<th colspan="7" class="text-center">
													服务器上备份文件
												</th>
											</tr>
											<tr>
												<th>
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">移除</span>
														</label>
													</div>
												</th>
												<th>文件名</th>
												<th>版本</th>
												<th>时间</th>
												<th>大小</th>
												<th>卷</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<button class="btn btn-danger">删除</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--上传文件-->
	    <script src="bootstrap-fileinput/fileinput.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>


