<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>数据备份</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">数据备份</li>
                                </ul>
								<a href="database_restore_backup.html" class="btn btn-danger pull-right" role="button">恢复备份</a>
							</div>
							<div class="content-box">
								<div class="orderadd">
	                                <p class="bg-warning padding-all browser-prompt"><b>请注意(备份类型)</b>1.全部备份(备份数据库所有表)<br>2.标准备份(备份常用的数据库表)<br>3.最小备份(仅包括商品表、订单表、用户表)<br>4.自定义备份(根据自行选择备份数据表)</p>
	                            </div>
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">备份类型：</label>
										<div class="col-sm-5 j-get-one select-three">
											<div class="ect-select pull-left">
												<label class="dis-box" onClick="return divd('customBackups-tab')">
													<i class="j-select-btn"></i>
													<span class="box-flex">全部备份</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box active" onClick="return divd('customBackups-tab')">
													<i class="j-select-btn"></i>
													<span class="box-flex">标准备份(推荐)</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box" onClick="return divd('customBackups-tab')">
													<i class="j-select-btn"></i>
													<span class="box-flex">最小备份</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box" onClick="return divc('customBackups-tab')">
													<i class="j-select-btn"></i>
													<span class="box-flex">自定义备份</span>
												</label>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-hover j-get-more select-three customBackups-tab" style="display:none">
										<thead>
											<tr>
												<th colspan="4">
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">全选</span>
		                                                </label>
	                                                </div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_account_log</span>
		                                                </label>
	                                                </div>
												</td>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_ad</span>
		                                                </label>
	                                                </div>
												</td>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_ad_custom</span>
		                                                </label>
	                                                </div>
												</td>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_ad_position</span>
		                                                </label>
	                                                </div>
												</td>
											</tr>
											<tr>
												<th>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_admin_action</span>
		                                                </label>
	                                                </div>
												</th>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_admin_log</span>
		                                                </label>
	                                                </div>
												</td>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_admin_message</span>
		                                                </label>
	                                                </div>
												</td>
												<td>
													<div class="ect-select pull-left">
		                                                <label class="dis-box">
		                                                   <i class="j-select-btn ect-checkbox"></i>
		                                                   <span class="box-flex">ecs_admin_user</span>
		                                                </label>
	                                                </div>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">使用扩展插入方式：</label>
										<div class="col-sm-5 j-get-one select-three">
											<div class="ect-select pull-left">
												<label class="dis-box active">
													<i class="j-select-btn"></i>
													<span class="box-flex">是</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn active"></i>
													<span class="box-flex">否</span>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">分卷备份-文件长度限制(kb)：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="51200">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">备份文件名：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="20160825bbtuci.sql">
										</div>
									</div>
									<div class="form-group sure-but sure-reset-box">
										<label for="" class="col-sm-2 control-label"></label>
										<div class="col-sm-6 p-left5">
											<button class="btn btn-danger">开始备份</button>
									 	</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>

