<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>数据表优化</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab shipping">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">数据表优化</li>
                                </ul>
							</div>
							<div class="content-box">
							    <div class="search-list of-hidden tabel-down">
							    	<form class="form-horizontal">
										<label for="" class="control-label pull-left m-right1">总碎片数：</label>
										<label for="" class="control-label m-right1">1034</label>
										<button type="button" class="btn btn-danger">开始进行数据表优化</button>
									</form>
								</div>
								<div class="m-top2 m-bottom6">
									 <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th class="text-center">数据表</th>
												<th class="text-center">数据表类型</th>
												<th class="text-center">记录数</th>
												<th class="text-center">数据</th>
												<th class="text-center">碎片</th>
												<th class="text-center">字符集</th>
												<th class="text-center">状态</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>ecs_account_log</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_ad</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">23</td>
												<td class="text-center">3.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_ad_custom</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">0</td>
												<td class="text-center">0.00KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_ad_position</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">113</td>
												<td class="text-center">24.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_admin_action</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_admin_log</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_admin_log</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_admin_user</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_adsense</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_affiliate_log</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_agency</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_area_region</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
											<tr>
												<td>ecs_article_cat</td>
												<td class="text-center">MyISAM</td>
												<td class="text-center">283</td>
												<td class="text-center">123.23KB</td>
												<td class="text-center">0</td>
												<td class="text-center">utf8_general_ci</td>
												<td class="text-center">OK</td>
											</tr>
										</tbody>
									</table>
								</div>	
							</div>
						</div>
					</div>
			   </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--上传商品缩略图-->
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>

