<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link href="advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
		<link href="advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="titles">
                            <ul>
                            	<li class="pull-left active">支付方式</li>
                            </ul>
					</div>
					<div class="content-box">
						<div class="payment-list">
							<section>
								<header>
									<h5 class="pull-left">支付宝<i class="fa fa-caret-down ts-1 "></i></h5>
									<div class="remark">
										<span>插件版本：<em>1.0</em></span>
										<span>插件作者：<em>ECTouch TEAM</em></span>
									</div>
									<span class="radio-btn pull-right"><i class="ts-1"></i></span>
								</header>
								<div class="payment-list-con">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式名称	：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式描述	：</label>
												<div class="col-sm-7">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付宝帐户：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">交易安全校验码：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">合作者身份ID：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付手续费：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">货到付款？</label>
												<div class="col-sm-7">
													<label class="control-label">否</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">在线支付？</label>
												<div class="col-sm-7">
													<label class="control-label">是</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-danger pull-left">确定</button>
													<button type="reset" class="btn btn-default pull-left">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
							<section>
								<header>
									<h5 class="pull-left">财付通<i class="fa fa-caret-down ts-1"></i></h5>
									<div class="remark">
										<span>插件版本：<em>1.0</em></span>
										<span>插件作者：<em>ECTouch TEAM</em></span>
									</div>
									<span class="radio-btn pull-right"><i class="ts-1"></i></span>
								</header>
								<div class="payment-list-con">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式名称	：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式描述	：</label>
												<div class="col-sm-7">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">财付通商户号：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">交易安全校验码：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">财付通密钥：</label>
												<div class="col-sm-7 tabel-down">
													<div class="dis-box">
														<input type="text" class="form-control box-flex m-right1" id="" placeholder="">
														<button class="btn btn-danger">注册财付通商户号</button>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付手续费：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">货到付款？</label>
												<div class="col-sm-7">
													<label class="control-label">否</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">在线支付？</label>
												<div class="col-sm-7">
													<label class="control-label">是</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-danger pull-left">确定</button>
													<button type="reset" class="btn btn-default pull-left">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
							<section>
								<header>
									<h5 class="pull-left">微信支付<i class="fa fa-caret-down ts-1"></i></h5>
									<div class="remark">
										<span>插件版本：<em>1.0</em></span>
										<span>插件作者：<em>ECTouch TEAM</em></span>
									</div>
									<span class="radio-btn pull-right"><i class="ts-1"></i></span>
								</header>
								<div class="payment-list-con">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式名称：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式描述	：</label>
												<div class="col-sm-7">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">微信公众号AppId：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">微信公众号AppSecret：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">商户支付密钥Key：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control box-flex" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付手续费：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">货到付款？</label>
												<div class="col-sm-7">
													<label class="control-label">否</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">在线支付？</label>
												<div class="col-sm-7">
													<label class="control-label">是</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-danger pull-left">确定</button>
													<button type="reset" class="btn btn-default pull-left">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
							<section>
								<header>
									<h5 class="pull-left">余额支付<i class="fa fa-caret-down ts-1"></i></h5>
									<div class="remark">
										<span>插件版本：<em>1.0</em></span>
										<span>插件作者：<em>ECTouch TEAM</em></span>
									</div>
									<span class="radio-btn pull-right"><i class="ts-1"></i></span>
								</header>
								<div class="payment-list-con">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式名称：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式描述	：</label>
												<div class="col-sm-7">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付手续费：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">货到付款？</label>
												<div class="col-sm-7">
													<label class="control-label">否</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">在线支付？</label>
												<div class="col-sm-7">
													<label class="control-label">是</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-danger pull-left">确定</button>
													<button type="reset" class="btn btn-default pull-left">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
							<section>
								<header>
									<h5 class="pull-left">银行汇款/转帐<i class="fa fa-caret-down ts-1"></i></h5>
									<div class="remark">
										<span>插件版本：<em>1.0</em></span>
										<span>插件作者：<em>ECTouch TEAM</em></span>
									</div>
									<span class="radio-btn pull-right"><i class="ts-1"></i></span>
								</header>
								<div class="payment-list-con">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式名称：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式描述	：</label>
												<div class="col-sm-7">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付手续费：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">货到付款？</label>
												<div class="col-sm-7">
													<label class="control-label">否</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">在线支付？</label>
												<div class="col-sm-7">
													<label class="control-label">是</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-danger pull-left">确定</button>
													<button type="reset" class="btn btn-default pull-left">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
							<section>
								<header>
									<h5 class="pull-left">货到付款<i class="fa fa-caret-down ts-1"></i></h5>
									<div class="remark">
										<span>插件版本：<em>1.0</em></span>
										<span>插件作者：<em>ECTouch TEAM</em></span>
									</div><span class="radio-btn pull-right"><i class="ts-1"></i></span>
								</header>
								<div class="payment-list-con">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式名称：</label>
												<div class="col-sm-7">
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付方式描述	：</label>
												<div class="col-sm-7">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">支付手续费：</label>
												<div class="col-sm-7">
													<label class="control-label">配送决定</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">货到付款？</label>
												<div class="col-sm-7">
													<label class="control-label">否</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label">在线支付？</label>
												<div class="col-sm-7">
													<label class="control-label">是</label>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-3 control-label"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-danger pull-left">确定</button>
													<button type="reset" class="btn btn-default pull-left">重置</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
						</div>
					</div>	
				</div>
			</section>
		<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" language="javascript" src="advanced-datatable/media/js/jquery.dataTables.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<script>
             $(function () { $("[data-toggle='tooltip']").tooltip(); });
		</script>
	</body>

</html>