<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>客户统计</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">客户统计</li>
                                </ul>
								<a class="btn btn-danger pull-right" role="button">客户统计报表下载</a>
							</div>
							<div class="content-box">
								<table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th colspan="4">会员购买率 （会员购买率 = 有订单会员数 ÷ 会员总数）</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">会员总数</td>
											<td class="text-center">有订单会员数</td>
											<td class="text-center">会员叮当总数</td>
											<td class="text-center">会员购买率</td>
										</tr>
										<tr>
											<th class="text-center">324234</th>
											<td class="text-center">14</td>
											<td class="text-center">213</td>
											<td class="text-center">0.15%</td>
										</tr>
									</tbody>
								</table>
								<table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th colspan="4">每会员平均订单数及购物额（每会员订单数 = 会员订单总数 ÷ 会员总数） （每会员购物额 = 会员购物总额 ÷ 会员总数）</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">会员购物总额</td>
											<td class="text-center">每会员订单数</td>
											<td class="text-center">每会员购物额</td>
										</tr>
										<tr>
											<th class="text-center">￥324234元</th>
											<td class="text-center">0.00</td>
											<td class="text-center">￥23.34元</td>
										</tr>
									</tbody>
								</table>
								<table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th colspan="4">匿名会员平均订单额及购物总额（匿名会员平均订单额 = 匿名会员购物总额 ÷ 匿名会员订单总数）</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">匿名会员购物总额</td>
											<td class="text-center">匿名会员订单总数</td>
											<td class="text-center">匿名会员平均订单额</td>
										</tr>
										<tr>
											<th class="text-center">￥648.00元</th>
											<td class="text-center">2</td>
											<td class="text-center">￥324.00元</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>

