<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>会员排行</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--选择日期-->
		<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
							<ul>
								<li class="active pull-left">会员排行</li>
							</ul>
							<a class="btn btn-danger pull-right" role="button">下载购物金额报表</a>
						</div>
						<div class="content-box">
							<div class="search-list of-hidden">
								<form class="form-horizontal tabel-down">
									<label class="control-label m-right1 pull-left">日期选择</label>
									<div class="col-sm-3">		
	                                    <div class="input-group input-large" data-date="13/07/2013" data-date-format="mm/dd/yyyy" style="z-index:0">
	                                        <input type="text" class="form-control dpd1" name="from">
	                                        <span class="input-group-addon">To</span>
	                                        <input type="text" class="form-control dpd2" name="to">
	                                    </div>
									</div>
									<button class="btn btn-danger">查询</button>
								</form>
							</div>
							<div class="m-top2">
								<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered">
									<thead>
										<tr>
											<th class="text-center">排行</th>
											<th class="text-center">会员名</th>
											<th class="text-center">订单数(单位：个)</th>
											<th class="text-center">购物金额</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">1</td>
											<td class="text-center">123686456785</td>
											<td class="text-center">4</td>
											<td class="text-center">￥6546.00元</td>
										</tr>
										<tr>
											<td class="text-center">2</td>
											<td class="text-center">1456743556785</td>
											<td class="text-center">2</td>
											<td class="text-center">￥6457.00元</td>
										</tr>
									</tbody>
								</table>
								<div class="page pull-right ">
								   <div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
									<div class="page-link ">
										<a>第一页</a>
										<a>上一页</a>
										<a>下一页</a>
										<a>末页</a>
									</div>
									<div class="page-select ">
										<select class="form-control ">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		 <!--日期时间选择-->
		<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="js/advanced-form-components.js"></script>
	
		<script src="js/ectouch.js "></script>
	</body>

</html>

