<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="css/ectouch.css" />
		<link rel="stylesheet" href="iconfont/iconfont.css" />
	</head>

	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">配送方式</li>
                                </ul>
						    </div>
							<div class="content-box">
								<div class="list-div" id="listDiv">
									<table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>配送方式名称</th>
												<th style="width:20%">配送方式描述</th>
												<th class="text-center">保价费用</th>
												<th class="text-center">货到付款？</th>
												<th class="text-center">插件版本</th>
												<th class="text-center">插件作者</th>
												<th class="text-center">排序</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th><span onclick="listTable.edit(this, 'edit_name', 'fpd'); return false;" title="点击修改内容"></span>上门取货</th>
												<td>买家自己到商家指定地点取货</td>
												<td class="text-center">0</td>
												<td class="text-cen ter">是</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center">0</td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>城际快递</th>
												<td>配送的的运费是固定的</td>
												<td class="text-center">0</td>
												<td class="text-center">是</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center">0</td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>EMS国内邮政特快专递</th>
												<td>EMS国内邮政特快专递描述内容</td>
												<td class="text-center">0</td>
												<td class="text-center">是</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center">0</td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>市内快递</th>
												<td>固定运费的配送方式内容</td>
												<td class="text-center">0</td>
												<td class="text-center">是</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center">0</td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>运费到付</th>
												<td>所购商品到达即付运费</td>
												<td class="text-center">0</td>
												<td class="text-center">否</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center">0</td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>邮政快递包裹</th>
												<td>邮政快递包裹的描述内容</td>
												<td class="text-center">1%</td>
												<td class="text-center"否</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center">0</td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                               <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>邮局平邮</th>
												<td>邮局平邮的描述内容</td>
												<td class="text-center">0</td>
												<td class="text-center">是</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center"></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>顺丰速运</th>
												<td>江、浙、沪地区首重15元/KG，续重2元/KG，其余城市首重20元/KG</td>
												<td class="text-center">0</td>
												<td class="text-center">是</td>
												<td class="text-center">1.0.0</td>
												<td class="text-center">ECTOUCH TEAM</td>
												<td class="text-center"></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>申通快递/th>
													<td>江、浙、沪地区首重15元/KG，其他地区18元/KG，续重均为5-6元/KG，云南地区为8元</td>
													<td class="text-center">0</td>
													<td class="text-center">是</td>
													<td class="text-center">1.0.0</td>
													<td class="text-center">ECTOUCH TEAM</td>
													<td class="text-center"></td>
													<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
													</td>
											</tr>
											<tr>
												<th>圆通速递</th>
												<td>上海圆通物流（速递）有限公司经过多年的网络快速发展，在中国速递行业中一直处于领先地位。为了能更好的发展国际快件市场，强化与国际市场的接轨，强化圆通的整体实力，圆通已在东南亚、欧美、中东、北美洲、非洲等许多城市运作国际快件业务</td>
												<td class="text-center">0</td>
													<td class="text-center">是</td>
													<td class="text-center">1.0.0</td>
													<td class="text-center">ECTOUCH TEAM</td>
													<td class="text-center"></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>中通速递</th>
												<td>中通速递的相关说明。保价费按照申报价值的2%交纳，但是，保价费不低于100元，报价金额不得高于10000元，报价金额超过10000元时，超过部分无效</td>
												<td class="text-center">0</td>
													<td class="text-center">是</td>
													<td class="text-center">1.0.0</td>
													<td class="text-center">ECTOUCH TEAM</td>
													<td class="text-center"></td>
												    <td class="text-center">
													<a class="btn btn-success btn-xs" href="set_area.html" title="设置区域"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" href="shipping_printTemplate.html" title="编辑打印模板"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="卸载"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
	                                                <a class="btn btn-warning btn-xs" title="安装" href="#"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/listtable.js"></script>
		<script>
			
document.onmousemove=function(e)
{
  var obj = Utils.srcElement(e);
  if (typeof(obj.onclick) == 'function' && obj.onclick.toString().indexOf('listTable.edit') != -1)
  {
    obj.title = '点击修改内容';
    obj.style.cssText = 'background: none;';
    obj.onmouseout = function(e)
    {
      this.style.cssText = '';
    }
  }
  else if (typeof(obj.href) != 'undefined' && obj.href.indexOf('listTable.sort') != -1)
  {
    obj.title = '点击对列表排序';
  }
}
<!--


var MyTodolist;
function showTodoList(adminid)
{
  if(!MyTodolist)
  {
    var global = $import("../js/global.js","js");
    global.onload = global.onreadystatechange= function()
    {
      if(this.readyState && this.readyState=="loading")return;
      var md5 = $import("js/md5.js","js");
      md5.onload = md5.onreadystatechange= function()
      {
        if(this.readyState && this.readyState=="loading")return;
        var todolist = $import("js/todolist.js","js");
        todolist.onload = todolist.onreadystatechange = function()
        {
          if(this.readyState && this.readyState=="loading")return;
          MyTodolist = new Todolist();
          MyTodolist.show();
        }
      }
    }
  }
  else
  {
    if(MyTodolist.visibility)
    {
      MyTodolist.hide();
    }
    else
    {
      MyTodolist.show();
    }
  }
}

if (Browser.isIE)
{
  onscroll = function()
  {
    //document.getElementById('calculator').style.top = document.body.scrollTop;
    document.getElementById('popMsg').style.top = (document.body.scrollTop + document.body.clientHeight - document.getElementById('popMsg').offsetHeight) + "px";
  }
}

if (document.getElementById("listDiv"))
{
  document.getElementById("listDiv").onmouseover = function(e)
  {
    obj = Utils.srcElement(e);

    if (obj)
    {
      if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
      else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
      else return;

      for (i = 0; i < row.cells.length; i++)
      {
        if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#EFEFEF';
      }
    }

  }

  document.getElementById("listDiv").onmouseout = function(e)
  {
    obj = Utils.srcElement(e);

    if (obj)
    {
      if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
      else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
      else return;

      for (i = 0; i < row.cells.length; i++)
      {
          if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#FFF';
      }
    }
  }

  document.getElementById("listDiv").onclick = function(e)
  {
    var obj = Utils.srcElement(e);

    if (obj.tagName == "INPUT" && obj.type == "checkbox")
    {
      if (!document.forms['listForm'])
      {
        return;
      }
      var nodes = document.forms['listForm'].elements;
      var checked = false;

      for (i = 0; i < nodes.length; i++)
      {
        if (nodes[i].checked)
        {
           checked = true;
           break;
         }
      }

      if(document.getElementById("btnSubmit"))
      {
        document.getElementById("btnSubmit").disabled = !checked;
      }
      for (i = 1; i <= 10; i++)
      {
        if (document.getElementById("btnSubmit" + i))
        {
          document.getElementById("btnSubmit" + i).disabled = !checked;
        }
      }
    }
  }

}

//-->

		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>

</html>