<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地区</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">快递单模板</li>
                                </ul>
								<a href="shipping.html" class="btn btn-danger pull-right" role="button">配送方式</a>
							</div>
							<div class="content-box">
								<!--<div class="row">-->
									<form class="form-horizontal" method="post" name="theForm">
										<section>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsSN');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>请选择模板的模式：</label>
												<div class="col-sm-5 j-get-one select-three">
													<div class="ect-select pull-left">
														<label class="dis-box model_1">
															<i class="j-select-btn"></i>
															<span class="box-flex">代码模式</span>
														</label>
													</div>
													<div class="ect-select pull-left">
														<label class="dis-box active model_2">
															<i class="j-select-btn "></i>
															<span class="box-flex">所见即所得模式</span>
														</label>
													</div><br><br>
													<span class="notice-span" id="noticeGoodsSN">选择“代码模式”可以切换到以前版本。建议您使用“所见即所得模式”。所有模式选择后，同样在打印模板中生效。</span>
												</div>
											</div>
										</section>
										<table style="display:none;width:100%" class="dm_model">
											<tbody >
												<tr id="code_shipping_print">
													<td ><textarea id="shipping_print" name="shipping_print" rows="26" cols="100" class="fl"></textarea></td>
													<td align="left" valign="top" width="25%">订单模板变量说明:<br>{$shop_name}表示网店名称<br>{$province}表示网店所属省份<br>{$city}表示网店所属城市<br>{$shop_address}表示网店地址<br>{$service_phone}表示网店联系电话<br>{$order.order_amount}表示订单金额<br>{$order.region}表示收件人地区<br>{$order.tel}表示收件人电话<br>{$order.mobile}表示收件人手机<br>{$order.zipcode}表示收件人邮编<br>{$order.address}表示收件人详细地址<br>{$order.consignee}表示收件人名称<br>{$order.order_sn}表示订单号</td>
												</tr>
												<tr style="height:20px"></tr>
												<tr id="code_submit">
													<td colspan="2" align="center" width="100%" ><input type="submit" class="btn btn-submit" value="确定" style="color:#fff;margin:0 auto"></td>
												</tr>
											</tbody>
										</table>
										<table width="100%" cellpadding="0" cellspacing="0" border="0" height="50" class="sj_model">
											<tbody style="width:100%" class="tabel-down">
												<tr>
										            <td align="left" class="col-sm-3">
										            	<select class="form-control form-control-styled pull-left m-right1" style="width:40%">
														    <option value="" selected="selected">--选择插入标签--</option>
															<option value="shop_country">网店-国家</option>
															<option value="shop_province">网店-省份</option>
															<option value="shop_city">网店-城市</option>
															<option value="shop_name">网店-名称</option>
															<option value="shop_district">网店-区/县</option>
															<option value="shop_tel">网店-联系电话</option>
															<option value="shop_address">网店-地址</option>
															<option value="customer_country">收件人-国家</option>
															<option value="customer_province">收件人-省份</option>
															<option value="customer_city">收件人-城市</option>
															<option value="customer_district">收件人-区/县</option>
															<option value="customer_tel">收件人-电话</option>
															<option value="customer_mobel">收件人-手机</option>
															<option value="customer_post">收件人-邮编</option>
															<option value="customer_address">收件人-详细地址</option>
															<option value="customer_name">收件人-姓名</option>
															<option value="year">年-当日日期</option>
															<option value="months">月-当日日期</option>
															<option value="day">日-当日日期</option>
															<option value="order_no">订单号-订单</option>
															<option value="order_postscript">备注-订单</option>
															<option value="order_best_time">送货时间-订单</option>
															<option value="pigeon">√-对号</option>
														</select>
														<button class="btn btn-danger pull-left"  name="del" id="del" onclick="javascript:call_flash('lable_del', this);">删除标签</button>
										            </td>
										            <td id="pic_control_upload">
											            <div class="fileupload fileupload-new pull-left m-right1" data-provides="fileupload" style="display:inline-block">
															<div>
																<span class="btn btn-white btn-file">
		                                           				    <span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
																	<span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
																    <input type="file" class="default">
																</span>
															</div>
														</div>
														<button class="btn btn-danger pull-left"  name="upload" id="upload" value="上传打印单图片" onclick="javascript:bg_upload();">上传打印单图片</button>
										            </td>
										            <td id="pic_control_del" class="display_no">
										            	<button class="btn btn-danger pull-left" name="upload_del" id="upload_del" onclick="javascript:bg_del();" disabled="disabled">删除打印单图片</button>
										            </td>
										            <td align="right">
										            	<button class="btn btn-danger pull-left m-right1" onclick="javascript:save();">保存设置</button>&nbsp;&nbsp;
										            	<button class="btn btn-danger pull-left" onclick="javascript:recovery_default();">恢复默认</button>
										            </td>
												</tr>
												<tr style="height:20px"></tr>
												<tr id="code_shipping_print">
													<td><textarea  id="shipping_print" name="shipping_print" rows="26"  class="fl" style="width:100%"></textarea></td>
												</tr>
											</tbody>
										</table>
									</form>
								<!--</div>-->
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
	<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>

		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
		<script>function call_flash(type, currt_obj) {
				//获取flash对象
				var obj = this_obj("test");
				//执行操作
				switch(type) {
					case 'bg_delete': //删除打印单背景图片
						var result_del = obj.bg_delete();
						//执行成功 修改页面上传窗口为显示 生效
						if(result_del) {
							document.getElementById('pic_control_upload').style.display = display_yes;
							document.getElementById('pic_control_del').style.display = 'none';
							var the_form = this_obj("theForm");
							the_form.bg.disabled = "";
							the_form.bg.value = "";
							the_form.upload.disabled = "";
							the_form.upload_del.disabled = "disabled";
						}
						break;
					case 'bg_add': //添加打印单背景图片
						var result_add = obj.bg_add(currt_obj);
						//执行成功 修改页面上传窗口为隐藏 失效
						if(result_add) {
							document.getElementById('pic_control_upload').style.display = 'none';
							document.getElementById('pic_control_del').style.display = display_yes;
							var the_form = this_obj("theForm");
							the_form.bg.disabled = "disabled";
							the_form.upload.disabled = "disabled";
							the_form.upload_del.disabled = "";
						}
						break;
					case 'lable_add': //插入标签
						if(typeof(currt_obj) != 'object') {
							return false;
						}
						if(currt_obj.value == '') {
							alert(no_select_lable);
							return false;
						}
						var result = obj.lable_add('t_' + currt_obj.value, currt_obj.options[currt_obj.selectedIndex].text, 150, 50, 20, 100, 'b_' + currt_obj.value);
						if(!result) {
							alert(no_add_repeat_lable);
							return false;
						}
						break;
					case 'lable_del': //删除标签
						var result_del = obj.lable_del();
						if(result_del) {
							//alert("删除成功！");
						} else {
							alert(no_select_lable_del);
						}
						break;
					case 'lable_Location_info': //获取标签位置信息
						var result_info = obj.lable_Location_info();
						return result_info;
						break;
				}
				return true;
			}
	    </script>
</body>
</html>
			