<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>地区</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab area-content">
						<div class="titles">
                                <ul>
                                	<li class="pull-left active">地区列表</li>
                                </ul>
							</div>
						<div class="content-box">
							<div class="search-list of-hidden tabel-down">
									<form class="form-horizontal row">
										<div class="col-sm-7 col-lg-4 dis-box">
											<label for="" class="control-label m-right1">新增一级地区</label>
											<input type="text" class="form-control m-right1 box-flex" placeholder="">
											<button class="btn btn-danger">确定</button>
										</div>
									</form>
								</div>
								<div class="m-top2">
									<div class="alert alert-default text-center" role="alert">一级地区</div>
									<div class="row area-list">
										<div class="col-sm-4">
											<div class="area-list-con radius4 dis-box">
												<div class="box-flex">中国</div>
												<div class="area-list-con-a">
													<a href="area_erji.html">管理</a>
													<a href="#">删除</a>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="area-list-con radius4 dis-box">
												<div class="box-flex">中国</div>
												<div class="area-list-con-a">
													<a href="area_erji.html">管理</a>
													<a href="#">删除</a>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="area-list-con radius4 dis-box">
												<div class="box-flex">中国</div>
												<div class="area-list-con-a">
													<a href="#">管理</a>
													<a href="#">删除</a>
												</div>
											</div>
										</div>
									</div>
								</div>
					    </div>
					</div>
				</div>
			</section>
		<!--main content end-->
    <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
</body>
</html>