<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>会员注册项设置</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
        <!--会员注册项设置编辑弹出层开始-->
                <div class="modal fade filter-area" id="myAreas-fields" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">会员注册项设置</h4>
                            </div>
                            <div class="modal-body j-get-one select-three">
                                <!--修改内容-->
                                    <div class="form-horizontal  tabel-down">
                                       <section>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">注册项名称：</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control pull-left" name="" value="MSN" >
                                                </div>
                                                <div class="t-first xing">*</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">排序权值：</label>
                                                 <div class="col-sm-2 ">
                                                    <input type="text" class="form-control pull-left" name="" value="0" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label m-right1">是否显示：</label>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">是</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">否</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label m-right1">是否必填：</label>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">是</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">否</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                     </div>
                                <!--修改内容结束-->
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <form class="form-horizontal">
                                        <div class="form-group sure-but">
                                            <label for="" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!--会员注册项设置编辑弹出层结束-->
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">会员注册项</li>
                            </ul>
							<a href="reg_fields.html" class="btn btn-danger pull-right" >添加会员注册项</a>
						</div>
						<div class="content-box">
                            <!--marketing_type-->
                            
                            <table class="table table-bordered table-hover select-three j-get-more m-top2">
									<thead>
										<tr>
											<th class="text-center">会员注册项名称</th>
											<th class="text-center">排序权值</th>
											<th class="text-center">是否显示</th>
											<th class="text-center">是否必填</th>
											<th class="text-center">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>MSN</td>
											<td class="text-center">0</td>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">
                                                <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-fields"><i class="glyphicon glyphicon-pencil"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
                            <!--marketing_type end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>