<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>导航设置</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--上传图片-->
		<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">导航设置</li>
                                </ul>
								<a class="btn btn-danger pull-right" role="button" data-toggle="modal" data-target="#navSet">添加导航</a>
							</div>
							<div class="content-box">
	                            <!--新建配送区域弹出层开始-->
								<div class="modal fade filter-area in" id="navSet" tabindex="-1" role="dialog" aria-labelledby="myGoodsTypeLabel" data-backdrop="static">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel"><strong>自定义导航栏</strong></h4>
											</div>
											<form class="form-horizontal">
											<div class="modal-body">
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">名称：</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">链接地址：</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">图片地址：</label>
														<div class="col-sm-6">
															<div class="fileupload fileupload-new" data-provides="fileupload">
																<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
																	<img src="img/no-img.png" alt="">
																</div>
																<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
																<div>
																	<span class="btn btn-white btn-file">
                                                   				<span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
																	<span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
																	<input type="file" class="default">
																	</span>
																	<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">排序：</label>
														<div class="col-sm-2">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">是否显示：</label>
														<div class="col-sm-6 j-get-one select-three">
															<div class="ect-select pull-left">
																<label class="dis-box active">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">是</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">否</span>
																</label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">是否新窗口：</label>
														<div class="col-sm-6 j-get-one select-three">
															<div class="ect-select pull-left">
																<label class="dis-box active">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">是</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">否</span>
																</label>
															</div>
														</div>
													</div>
											</div>
											<div class="modal-footer">
												<div class="form-group sure-but">
													<label for="" class="col-sm-2 control-label"></label>
													<div class="col-sm-6">
														<button class="btn btn-danger pull-left">确定</button>
														<button class="btn btn-default pull-left">重置</button>
													</div>
												</div>
											</div>
											</form>
										</div>
									</div>
								</div>
								<!--新建配送区域弹出层结束-->
								<table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th class="text-center">名称</th>
											<th class="text-center">是否显示</th>
											<th class="text-center">是否新窗口</th>
											<th class="text-center">排序</th>
											<th class="text-center">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>全部分类</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>我的订单</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>最新团购</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>促销活动</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>热门搜索</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>品牌街</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>个人中心</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>购物车</th>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">0</td>
											<td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#navSet"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="page pull-right">
									<div class="page-count">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text" class="form-control page-input"></div>
									<div class="page-link">
										<a>第一页</a>
										<a>上一页</a>
										<a>下一页</a>
										<a>末页</a>
									</div>
									<div class="page-select">
										<select class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--上传图片-->
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>

