<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>验证码管理</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">验证码管理</li>
                                </ul>
							</div>
							<div class="content-box">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-3 control-label"><a href="javascript:showNotice('openClose');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>启用验证码：</label>
										<div class="col-sm-8 j-get-more select-three">
											<div class="ect-select pull-left">
												<label class="dis-box active">
													<i class="j-select-btn ect-checkbox"></i>
													<span class="box-flex">新用户注册</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn ect-checkbox"></i>
													<span class="box-flex">用户登录</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box active">
													<i class="j-select-btn ect-checkbox"></i>
													<span class="box-flex">发表评论</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn ect-checkbox"></i>
													<span class="box-flex">后台管理员登录</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn ect-checkbox"></i>
													<span class="box-flex">留言板留言</span>
												</label>
											</div>
										</div></br></br>
										<label for="" class="col-sm-3 control-label"></label>
										<div class="col-sm-8"><span class="notice-span" id="openClose">图片验证码可以避免恶意批量评论或提交信息，推荐打开验证码功能。注意: 启用验证码会使得部分操作变得繁琐，建议仅在必需时打开</span></div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-3 control-label"><a href="javascript:showNotice('logNo');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>登录失败时显示验证码：</label>
										<div class="col-sm-5 j-get-one select-three">
											<div class="ect-select pull-left">
												<label class="dis-box active">
													<i class="j-select-btn"></i>
													<span class="box-flex">是</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box ">
													<i class="j-select-btn"></i>
													<span class="box-flex">否</span>
												</label>
											</div>
										</div></br></br>
										<label for="" class="col-sm-3 control-label"></label>
										<div class="col-sm-8"><span class="notice-span" id="logNo">选择“是”将在用户登录失败 3 次后才显示验证码，选择“否”将始终在登录时显示验证码。注意: 只有在启用了用户登录验证码时本设置才有效</span></div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-3 control-label"><a href="javascript:showNotice('photoW');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>验证码图片宽度：</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="" placeholder="100">
											<span class="notice-span" id="photoW">验证码图片的宽度，范围在 40～145 之间</span>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-3 control-label"><a href="javascript:showNotice('photoH');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>验证码图片高度：</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="" placeholder="20">
											<span class="notice-span" id="photoH">验证码图片的高度，范围在 15～50 之间</span>
										</div>
									</div>
									<div class="form-group sure-but sure-reset-box">
										<label for="" class="col-sm-3 control-label"></label>
										<div class="col-sm-6 p-left5">
											<button class="btn btn-danger">保存设置</button>
									 	</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>

