<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>添加新商品</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                            	<ul>
									<li class="pull-left active">添加新商品</li>
                                </ul>
								<a href="goods_list.html" class="btn btn-danger pull-right">商品列表</a>
							</div>
							<div class="content-box">
								<!-- Nav tabs -->
								<ul class="goods-new-title ">
									<li class="goods-header position-r active"><a href="goods_addNewGoods.html"><div class="circle-num">1</div><span style="margin-left:35px">请选择商品分类</span></a><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r  "><a href="goods_addNewGoods_info.html"><div class="circle-num">2</div><span style="margin-left:35px">填写商品详情</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r"><a href="goods_uploadPhoto.html"><div class="circle-num">3</div><span style="margin-left:35px">上传商品图片</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r"><a href="#"><div class="circle-num">4</div><span style="margin-left:35px">商品发布成功</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
								</ul>
								<!-- Tab panes -->
								<div class="goods-content m-top2">
									<form class="form-horizontal p-3">
										<section>
											<div class="form-group">
												<label for="" class="control-label pull-left">常用的商品分类：</label>
												<div class="col-sm-5">
													<div class="form-control select-down">
														<div class="now-value" style="line-height:24px">请选择</div>
													    <div class="select_list filter-scroll" id="commlistArea" style="display:none;z-index:999">
													        <ul>
													        	<li>
													        		<span>家居家装>生活日用>浴室用品</span>
													        		<a href="javascript:void(0)" class="remove-n" title="删除">X</a>
													        	</li>
													        	<li>
													        		<span>装修用品>墙壁装修>壁纸</span>
													        		<a href="javascript:void(0)" class="remove-n" title="删除">X</a>
													        	</li>
													        	<li>
													        		<span>服饰鞋帽>短袖T恤>女士连衣裙</span>
													        		<a href="javascript:void(0)" class="remove-n" title="删除">X</a>
													        	</li>
													        	<li id="select_list_no" style="display:none">
													        		<span class="title">您还没有添加过常用的分类</span>
													        	</li>
													        </ul>
													    </div>
														<span class="glyphicon glyphicon-menu-down" style="position:absolute;top:12px;right:27px;z-index:1;color:#ccc"></span>
													</div>
												</div>
											</div>
										</section>
										<div class="fenji filter-scroll" style="width:1608px;position:relative;padding-bottom: 15px;">
											<div class="" style="width:3216px">
												<div class="fenji-box">
													<div class="fenji-title">一级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
												<div class="fenji-box" style="display:none">
													<div class="fenji-title">二级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
												<div class="fenji-box" style="display:none">
													<div class="fenji-title">三级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
												<div class="fenji-box" style="display:none">
													<div class="fenji-title">四级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
												<div class="fenji-box" style="display:none">
													<div class="fenji-title">五级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
												<div class="fenji-box" style="display:none">
													<div class="fenji-title">六级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
												<div class="fenji-box" style="display:none">
													<div class="fenji-title">七级分类</div>
													<ul class="filter-scroll">
														<li>服饰鞋帽</li>
														<li>家居家装</li>
														<li>数码办公</li>
														<li>家用电器</li>
														<li>个护化妆</li>
														<li>珠宝手表</li>
														<li>厨具</li>
														<li>食品饮料</li>
													</ul>	
												</div>
											</div>	
										</div>
									    <div class="mianbaoxie m-top2">
									    	<div style="display:inline-block">您当前选择的商品类别是：</div>
									    	<span class="mbx"></span>
									    </div>
									</form>
								    
								</div>	
					            <form class="form-horizontal tabel-down">
							        <div class="form-group sure-but sure-reset-box">
										<label for="" class="col-sm-2 control-label"></label>
										<div class="col-sm-6 p-left5 text-center">
											<a href="goods_addNewGoods_info.html"><button type="button" class="btn btn-danger">下一步</button></a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
			  </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>
