<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>添加新商品</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
<!--上传图片文件-->
        <link rel="stylesheet" href="zyUpload/control/css/zyUpload.css" type="text/css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                            	<ul>
									<li class="pull-left active">上传商品图片</li>
								</ul>
								<a href="goods_list.html" class="btn btn-danger pull-right">商品列表</a>
							</div>
							<div class="content-box">
								<!-- Nav tabs -->
								<ul class="goods-new-title ">
									<li class="goods-header position-r"><a href="#"><div class="circle-num">1</div><span style="margin-left:35px">请选择商品分类</span></a><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r"><a href="goods_addNewGoods_info.html"><div class="circle-num">2</div><span style="margin-left:35px">填写商品详情</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r active"><a href="goods_uploadPhoto.html"><div class="circle-num">3</div><span style="margin-left:35px">上传商品图片</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r"><a href="goods_releaseSuccess.html"><div class="circle-num">4</div><span style="margin-left:35px">商品发布成功</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
								</ul>
								<!-- Tab panes -->
								<div class="goods-content m-top2">
									<div class="row" style="margin-left:0;margin-right:0">
										<form class="form-horizontal tasi-form m-top2" action="#" style="padding:0 20px;">
											<div class="pro-img-box">
												<div id="demo" class="demo" style="width: 100%;">
												</div>
											</div>
										</form>
								    </div>
								    <form class="form-horizontal tabel-down">
								        <div class="form-group sure-but sure-reset-box">
											<label for="" class="col-sm-2 control-label"></label>
											<div class="col-sm-6 p-left5 text-center">
												<a href="goods_addNewGoods_info.html"><button type="button" class="btn btn-default">上一步</button></a>
												<a href="goods_releaseSuccess.html"><button type="button" class="btn btn-danger">下一步</button></a>
											</div>
										</div>
									</form>
								</div>	
						    </div>
						</div>
					</div>
			  </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--文件图片上传-->
		<script type="text/javascript" src="zyUpload/core/zyFile.js"></script>
		<script type="text/javascript" src="zyUpload/control/js/zyUpload.js"></script>
		<script type="text/javascript" src="zyUpload/demo.js"></script>
        <script>
		  $(function() {  
			$( "#preview" ).sortable();  
			$( "#preview" ).disableSelection();  
		  }); 
        </script>
		
		<script src="js/ectouch.js"></script>
	</body>
</html>


