<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>添加新商品-填写商品详情</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--商品规格-尺寸-->
		<link rel="stylesheet" href="./css/bootstrap-tagsinput.css" />
		<!--通用信息中的上传商品图片-->
		<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
		<!--商品品牌下拉框-->
		<link rel="stylesheet" href="css/prettify.css" />
		<!--修改字体颜色-->
		<link rel="stylesheet" type="text/css" href="bootstrap-colorpicker/css/colorpicker.css">
        <!--选择日期-->
		<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
        <!--上传图片文件-->
        <link rel="stylesheet" href="zyUpload/control/css/zyUpload.css" type="text/css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg position-r" data-spy="scroll" data-target="#navbar-example">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="pull-left active">商品详情</li>
								</ul>
								<a href="goods_list.html" class="btn btn-danger pull-right">商品列表</a>
							</div>
							<div class="content-box" id="navbar-example">
								<!-- Nav tabs -->
								<ul class="goods-new-title ">
									<li class="goods-header position-r"><a href="goods_addNewGoods.html"><div class="circle-num">1</div><span style="margin-left:35px">请选择商品分类</span></a><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r active"><a href="goods_addNewGoods_info.html"><div class="circle-num">2</div><span style="margin-left:35px">填写商品详情</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r"><a href="goods_uploadPhoto.html"><div class="circle-num">3</div><span style="margin-left:35px">上传商品图片</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
									<li class="goods-header position-r"><a href="#"><div class="circle-num">4</div><span style="margin-left:35px">商品发布成功</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
								</ul>
								<ul class="nav nav-tabs goods-info-r-nav" style="position:fixed;right:20px;top:300px">
									<li><a href="#general-info">基本信息</a></li>
									<li><a href="#detail-descript">详细描述</a></li>
									<li><a href="#other-info">其他信息</a></li>
									<li><a href="#goods-property">商品属性</a></li>
									<li><a href="#associated-goods">关联商品</a></li>
								</ul>
								<!-- Tab panes -->
								<div class=" goods-content m-top2 tabel-down">
								    <div  id="general-info" style="overflow:hidden;clear:both">
										<div class="row"  style="margin-left:0;margin-right:0">
											<p class="info-title" >基本信息</p>
											<form class="form-horizontal m-top2" method="post" name="theForm">
												<section>
													<div class="form-group">
														<label  class="col-sm-2 control-label">商品分类：</label>
														<div class="col-sm-5" style="line-height:35px">
															个护化妆>魅力彩妆>眉笔
															<span class="glyphicon glyphicon-pencil"></span>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">扩展分类：</label>
														<div class="col-sm-5 cateBox" style="line-height:35px">
															<button type="button" class="btn btn-danger pull-left m-right1 addCategory">添加</button>
															<select class="form-control pull-left  m-right1 cateList" style="width:20%;" >
																<option selected="selected">请选择</option>
																<option value="充值卡">充值卡</option>
																<option value="手机配件">手机配件</option>
																<option value="手机类型">手机类型</option>
																<option value="移动设备">移动设备</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsMC');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品名称：</label>
														<div class="col-sm-4 position-r">
															<input type="text" class="form-control" id="font-col">
															<div data-color-format="hex" data-color="#333" class="input-append colorpicker-default color" style="position:absolute;top:0;right:15px;" >
																<span class=" input-group-btn add-on" style="margin-top:-43px;" >
																	<button class="btn btn-white" type="button" style="padding: 9px;height:36px;border-radius: 0px 4px 4px 0;">
																		<i style="color:#333" id="colors-s"></i>
																	</button>
																</span>
															</div>
															<span class="notice-span" id="noticeGoodsMC">商品标题名称长度至少3个字符，最长50个汉字。</span>
														</div>
														<div class="col-sm-1 pull-left padd-l-no" style="padding-left:0">
															<select class="form-control w100" id="font-ys">
																<option selected="selected">字体样式</option>
																<option value="strong">加粗</option>
																<option value="em">倾斜</option>
																<option value="underline">下划线</option>
																<option value="strike">删除线</option>
															</select>
														</div>
														<div class="t-first xing">*</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">商品品牌：</label>
														<div class="col-lg-3 col-sm-6">
															<div class="span6">
																<select class="span5 bselect-inaccessible form-control" id="bselect-optgroup" data-placeholder="请选择" style="display:none">
																	<option>选择一个摇滚乐队</option>
																	<option value="No">我不喜欢摇滚</option>
																	<optgroup label="A">
																		<option value="AC/DC">爱丽</option>
																		<option value="Led Zeppelin">艾力斯特</option>
																		<option value="The Who">艾薇</option>
																		<option value="Van Halen">爱微佳</option>
																	</optgroup>
																	<optgroup label="B">
																		<option value="Black Sabbath">Black Sabbath</option>
																		<option value="Dio">白面</option>
																		<option value="Iron Maiden">白吃</option>
																		<option value="Metallica">白条</option>
																		<option value="Motorhead">美白</option>
																	</optgroup>
																	<optgroup label="C">
																		<option value="Sex Pistols">吃货</option>
																		<option value="The Clash">The Clash</option>
																		<option value="The Ramones">吃的</option>
																	</optgroup>
																</select>
															
															</div>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsSN');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品货号：</label>
														<div class="col-sm-2">
															<input type="text" class="form-control" >
															<span class="notice-span" id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">上传商品图片：</label>
														<div class="col-sm-5">
															<div class="fileupload fileupload-new" data-provides="fileupload">
																<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
																	<img src="img/no-img.png">
																</div>
																<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
																<div>
																	<span class="btn btn-white btn-file">
	                                               				<span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
																	<span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
																	<input type="file" class="default">
																	</span>
																	<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
																</div>
															</div>
															<input type="text" value="商品图片外部URL" class="form-control" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">上传商品缩略图：</label>
														<div class="col-sm-5">
															<div class="fileupload fileupload-new" data-provides="fileupload">
																<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
																	<img src="img/no-img.png" >
																</div>
																<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
																<div>
																	<span class="btn btn-white btn-file">
	                                               				<span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
																	<span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
																	<input type="file" class="default">
																	</span>
																	<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
																</div>
															</div>
															<input type="text" value="商品图片外部URL" class="form-control" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">本店售价：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control" value="1000">
														</div>
														<button type="button" class="btn btn-default1" title="按市场价计算">按市场价计算</button>
													</div>
													<div class="form-group j-get-more select-three">
														<label class="col-sm-2 control-label">
															<div class="ect-select pull-right">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex">促销价</span>
																</label>
															</div>
														</label>
														<div class="col-sm-1">
															<input type="text" class="form-control" value="0">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">促销日期：</label>
														<div class="col-sm-6">		
						                                    <div class="input-group input-large" data-date="13/07/2013" data-date-format="mm/dd/yyyy" style="z-index:0">
						                                        <input type="text" class="form-control dpd1" name="from">
						                                        <span class="input-group-addon">To</span>
						                                        <input type="text" class="form-control dpd2" name="to">
						                                    </div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label"><a href="javascript:showNotice('noticeUserPrice');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>会员价格：</label>
														<div class="col-sm-6">
															<span class="pull-left m-top1 m-right1">注册用户(178.23)</span>
															<input  type="text" class="form-control pull-left w5 m-right1" value="20">
															<span class="pull-left m-top1 m-right1">代销用户(178.23)</span>
															<input  type="text" class="form-control pull-left w5 m-right1" value="20">
															<span class="pull-left m-top1 m-right1">微信用户(178.23)</span>
															<input  type="text" class="form-control pull-left w5 m-right1" value="20"> 
															<span class="pull-left m-top1 m-right1">vip(178.23)</span>
															<input  type="text" class="form-control pull-left w5 m-right1" value="20">
														</div></br></br>
														<span class="notice-span m-left28" id="noticeUserPrice">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label"><a href="javascript:showNotice('volumePrice');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品优惠价格：</label>
														<div class="col-sm-10">
															<div class="benefit-price of-hidden">
																<button type="button" class="btn btn-default1 pull-left benefit-price-btn" title="新增优惠价格">新增优惠价格</button></br></br>
																<div class="price-boxs m-top1 pull-left position-r" style="margin-right:20px;width:335px">
																	<span class="pull-left m-top1 m-right1">优惠数量</span>
																	<input  type="text" class="form-control pull-left  m-right1" style="width:30%" value="10">						
																	<span class="pull-left m-top1 m-right1">优惠价格</span>
																	<input  type="text" class="form-control pull-left" style="width:30%" value="10">
																</div>
																<div class="price-boxs m-top1 pull-left position-r" style="margin-right:20px;width:335px">
																	<span class="pull-left m-top1 m-right1">优惠数量</span>
																	<input  type="text" class="form-control pull-left  m-right1" style="width:30%" value="10">						
																	<span class="pull-left m-top1 m-right1">优惠价格</span>
																	<input  type="text" class="form-control pull-left" style="width:30%" value="10">
																	<img src="./img/delete.png" alt="删除" class="price-del">
																</div>
																<div class="price-boxs m-top1 pull-left position-r" style="margin-right:20px;width:335px">
																	<span class="pull-left m-top1 m-right1">优惠数量</span>
																	<input  type="text" class="form-control pull-left  m-right1" style="width:30%" value="10">						
																	<span class="pull-left m-top1 m-right1">优惠价格</span>
																	<input  type="text" class="form-control pull-left" style="width:30%" value="10">
																	<img src="./img/delete.png" alt="删除" class="price-del">
																</div>
															</div>
														</div>
														<span class="notice-span m-left28" id="volumePrice">购买数量达到优惠数量时享受的优惠价格</span>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">市场售价：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control" value="0" name="market_price">
														</div>
														<button type="button" class="btn btn-default1" onclick="integral_market_price()" title="取整数">取整数</button>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">虚拟销量：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control" value="0">
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label"><a href="javascript:showNotice('giveIntegral');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>赠送消费积分数：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control" value="-1">
															<span class="notice-span" id="giveIntegral">购买该商品时赠送消费积分数,-1表示按商品价格赠送</span>
														</div>
													</div>
												</section>
											</form>
										</div>
									</div>
									<div id="detail-descript">
										<div class="row" style="margin-left:0;margin-right:0">
											<p class="info-title">详细描述</p>
										</div>
									</div>
									<div id="other-info">
										<div class="row" style="margin-left:0;margin-right:0">
											<p class="info-title">其他信息</p>
											<form class="form-horizontal m-top2">
												<section>
													<div class="form-group">
														<label class="col-sm-2 control-label">商品重量：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control" >
														</div>
														<div class="col-sm-1 pull-left padd-l-no">
															<select class="form-control w100">
																<option>千克</option>
																<option>克</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label"><a href="javascript:showNotice('noticeStorage');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品库存数量：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control"  value="1">
															<span class="notice-span" id="noticeStorage">库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量</span>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label">库存警告数量：</label>
														<div class="col-sm-1">
															<input type="text" class="form-control"  value="1">
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">加入推荐：</label>
														<div class="col-sm-5 j-get-more select-three">
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex">精品</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex">新品</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex">热销</span>
																</label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">上架：</label>
														<div class="col-sm-5 j-get-more select-three">
															<div class="ect-select">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex">打勾表示此允许销售，否则不允许销售。</span>
																</label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">能作为普通商品销售：</label>
														<div class="col-sm-5 j-get-more select-three">
															<div class="ect-select">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex ">打勾表示能作为普通商品销售，否则智能作为配件或赠品销售。</span>
																</label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">是否为免运费商品：</label>
														<div class="col-sm-5 j-get-more select-three">
															<div class="ect-select">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-pull-leftex ">打勾表示此商品不会产生运费花销，否则按照正常运费计算。</span>
																</label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label"><a href="javascript:showNotice('noticeKeyWord');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品关键词：</label>
														<div class="col-sm-5">
																<input name="tagsinput" id="tagsinput" class="tagsinput" value="" style="display: none;">
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label">商品简单描述：</label>
														<div class="col-sm-5">
															<textarea class="form-control"  rows="6" name="" required=""></textarea>
														</div>
													</div>
													<div class="form-group">
														<label  class="col-sm-2 control-label"><a href="javascript:showNotice('noticeSellerNote');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商家备注：</label>
														<div class="col-sm-5">
															<textarea class="form-control"  rows="6" name="" required=""></textarea>
															<span class="notice-span" id="noticeSellerNote">仅供商家自己看的信息</span>
														</div>
													</div>
												</section>
											</form>
										</div>
									</div>
									<div id="goods-property">
										<div class="row" style="margin-left:0;margin-right:0;padding-bottom: 50px;">
											<p class="info-title">商品属性</p>
											<form class="form-horizontal m-top2">
												<section>
													<div class="form-group">
														<label  class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品类型：</label>
														<div class="col-sm-2">
															<select class="form-control">
																<option selected="selected">请选择商品类型</option>
																<option>书</option>
																<option>音乐</option>
																<option>电影</option>
																<option>手机</option>
																<option>笔记本电脑</option>
																<option>数码相机</option>
																<option>数码摄像机</option>
																<option>化妆品</option>
																<option>精品手机</option>
															</select>
															<span class="notice-span" id="noticeGoodsType">请选择商品的所属类型，进而完善此商品的属性</span>
														</div>
													</div>
													<div style="display:block">	
									            		<div class="form-group">
															<label  class="col-sm-2 control-label">材质：</label>
															<div class="col-sm-2">
																<input type="text" class="form-control" >
															</div>
														</div>
												        <div class="form-group">
															<label  class="col-sm-2 control-label">产地：</label>
															<div class="col-sm-2">
																<input type="text" class="form-control" >
															</div>
														</div> 
														<div class="form-group">
															<label  class="col-sm-2 control-label">商品规格：</label>
															<div class="col-sm-1">
																<select class="form-control" onchange="Cmd(this)">
																	<option>请选择</option>
																	<option value="1">颜色</option>
																	<option value="2">尺寸</option>
																</select>
															</div>
															<button type="button" class="btn btn-default1 guige-add">添加</button>
														</div>
														<div class="form-group" id="div1" style="margin-bottom:0;display:none">
															<label  class="col-sm-2 control-label"></label>
															<div class="col-sm-10 position-r guige-title">
																<img src="./img/delete.png" alt="删除" class="price-del" style="right:20px;top:9px;">
																<p class="guige-p m-bottom1">颜色</p>
																<div class="form-group">
																	<div class="col-sm-10">
																		<span class="guige-s m-right1 position-r yanse"><span class="cools">蓝色</span><img src="./img/delete.png" alt="删除" class="price-del"></span>
																		<span class="guige-s m-right1 position-r yanse"><span class="cools">红色</span><img src="./img/delete.png" alt="删除" class="price-del"></span>
																	    <a class="col-218 col-218-a position-r" style="display:inline-block">+添加
																	        <div class="form-group" style="margin-bottom:0">
																				<div style="width:300px;position:absolute;top:38px;left:-158px;z-index:4;background: #fff;">
																					<div class="guige-s position-r guige-yanse" style="display: none;padding:10px">
																						<img src="./img/jiant.png" alt="" style="position:absolute;top:-10px;left:169px"/>
																						<select id="lev" class="form-control of-hidden m-right1" style="width:55%;display: inline-block;">
																							<option selected="selected" value="请选择">请选择</option>
																							<option value="红色" lev="红色">红色</option>
																							<option value="蓝色" lev="蓝色">蓝色</option>
																							<option value="黑色" lev="黑色">黑色</option>
																							<option value="灰褐色" lev="灰褐色">灰褐色</option>
																						</select>
																						<button type="button" class="btn btn-danger  m-right1 sure">确定</button>
																						<button type="button" class="btn btn-default">重置</button>
																					</div>
																				</div>
																			</div>
																	    </a>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-group" id="div2" style="margin-bottom:0;display:none">
															<label  class="col-sm-2 control-label"></label>
															<div class="col-sm-10 position-r guige-title">
																<img src="./img/delete.png" alt="删除" class="price-del" style="right:20px;top:9px;">
																<p class="guige-p m-bottom1">尺寸</p>
																<div class="form-group">
																	<div class="col-sm-10">
																		<span class="guige-s m-right1 position-r chicun">XL<img src="./img/delete.png" alt="删除" class="price-del"></span>
																		<span class="guige-s m-right1 position-r chicun">XXL<img src="./img/delete.png" alt="删除" class="price-del"></span>
																	    <a class="col-218 col-218-b position-r" style="display:inline-block">+添加
																		    <div class="form-group" style="margin-bottom:0">
																				<label  class="col-sm-2 control-label"></label>
																				<div style="position:absolute;top:38px;left:-150px;z-index:4;background: #fff;">
																					<div class="guige-s position-r guige-chicun" style="padding:10px;display: none">
																						<img src="./img/jiant.png" alt="" style="position:absolute;top:-10px;left:160px"/>
																						<div class="m-right1" style="display:inline-block;">
																							<input type="text" id="tagsinput-size" value="" data-role="tagsinput" style="display: none;">
																						</div>
																					    <button type="button" class="btn btn-danger  m-right1 sure-cc">确定</button>
																						<button type="button" class="btn btn-default">重置</button>
																					</div>
																				</div>
																			</div>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</form>
										</div>
									</div>
									<div id="associated-goods">
										<div class="row" style="margin-left:0;margin-right:0">
											<p class="info-title">关联商品</p>
											<form class="form-horizontal tasi-form m-top2" action="#" style="padding:0 20px">
									            <div class="search-list of-hidden">
													<select class="form-control pull-left m-right1">
														<option value="10" selected="selected">所有分类</option>
														<option value="1">手机配件</option>
														<option value="2">手机类型</option>
														<option value="3">充值卡</option>
													</select>
													<select class="form-control pull-left m-right1">
														<option value="10" selected="selected">所有品牌</option>
														<option value="25">诺基亚</option>
														<option value="50">三星</option>
														<option value="100">苹果</option>
														<option value="4">金立</option>
														<option value="5">联想</option>
													</select>
													<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
														<input type="text" class="form-control box-pull-leftex" placeholder="请输入要查找的关键词">
														<a class="btn btn-danger">
															<span class="glyphicon glyphicon-search"></span></a>
													</div>
												</div>
												<div class="m-top2">
										            <div class="form-group ect-border-bottom0">
										                <div class="col-md-5 col-sm-5 text-center">可选商品</div>
										                <div class="col-lg-1 col-md-2 col-sm-2 text-center">操作</div>
										                <div class="col-md-5 col-sm-5 text-center">跟该商品关联的商品</div>
									                </div>
									                <div class="form-group">
									                  <div class="col-md-5 col-sm-5">
									                    <select name="source_select1" size="15" class="source-select filter-scroll" multiple="true">
									                      <option value="1" style="padding:10px;" id="1388.00">KD876F</option>
									                    </select>
									                  </div>
									                  <div class="col-lg-1 col-md-2 col-sm-2 text-center ect-rel">
										                  	<div class="j-get-one select-three" style="overpull-leftow:hidden">
																<div class="ect-select pull-left">
																	<label class="dis-box">
																		<i class="j-select-btn"></i>
																		<span class="box-pull-leftex">单向关联</span>
																	</label>
																</div>
																<div class="ect-select pull-left">
																	<label class="dis-box active">
																		<i class="j-select-btn"></i>
																		<span class="box-pull-leftex">双向关联</span>
																	</label>
																</div>
															</div>
										                    <p class="m-top1"><button type="button" class="btn btn-danger">&gt;&gt;</button></p>
										                    <p class="m-top1"><button type="button" class="btn btn-danger">&gt;</button></p>
										                    <p class="m-top1"><button type="button" class="btn btn-danger">&lt;&lt;</button></p>
										                    <p class="m-top1"><button type="button" class="btn btn-danger">&lt;</button></p>
									                  </div>
									                  <div class="col-md-5 col-sm-5">
									                    <select name="source_select1" size="15" class="source-select filter-scroll" multiple="true">
									                      <option value="1" style="padding:10px;" id="1388.00">KD876F</option>
							关联		                      <option value="4" id="58.00">诺基亚N85原装充电器</option>
									                      <option value="3" id="68.00">诺基亚原装5800耳机</option>
									                      <option value="5" id="20.00">索爱原装M2卡读卡器</option>
									                      <option value="6" id="42.00">胜创KINGMAX内存卡</option>
									                      <option value="7" id="100.00">诺基亚N85原装立体声耳机HS-82</option>
									                      <option value="8" id="399.00">飞利浦9@9v</option>
									                      <option value="10" id="1328.00">索爱C702c</option>
									                    </select>
									                  </div>
									                </div>
								               </div>
									        </form>
										</div>
									</div>
								</div>	
						        <form class="form-horizontal">
								        <div class="form-group sure-but sure-reset-box">
											<label  class="col-sm-2 control-label"></label>
											<div class="col-sm-6 p-left5 text-center">
												<a href="goods_addNewGoods.html" target="workspace-goods"><button type="button" class="btn btn-default">上一步</button></a>
												<a href="goods_uploadPhoto.html" target="workspace-goods"><button type="button" class="btn btn-danger">下一步</button></a>
											</div>
										</div>
									</form>
							</div>
						</div>
					</div>
			   </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		 <!--通用信息中的上传商品图片-->
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<!--关键词标签-->
		<script src="js/jquery.tagsinput.js"></script>
		<!--商品规格-尺寸-->
		<script src="js/bootstrap-tagsinput.js"></script>
		<!--修改颜色-->
		<script type="text/javascript" src="bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
		<!--商品相册中的文件上传-->
		<script type="text/javascript" src="zyUpload/core/zyFile.js"></script>
		<script type="text/javascript" src="zyUpload/control/js/zyUpload.js"></script>
		<script type="text/javascript" src="zyUpload/demo.js"></script>
        <!--日期时间选择-->
		<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="js/advanced-form-components.js"></script>
		<!--商品品牌下拉框-->
		<script src="js/bselect.js"></script>
		<script src="js/prettify.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
		<!--商品品牌下拉框-->
	    <script>
			(function($) {
				"use strict";		
				$(document).ready(function() {
					$("[id^='bselect-']").bselect();
					// Clean up the mess with imported files
					if(window.localStorage !== undefined) {
						for(var k in localStorage) {
							if(localStorage.hasOwnProperty(k) && k.indexOf(".less") > -1) {
								delete localStorage[k];
							}
						}
					}
					window.prettyPrint && prettyPrint();
				});
			
			})(jQuery);
	   </script>
	</body>
</html>

