<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>更改加密串</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab shipping">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">更改加密串</li>
                            </ul>
						</div>
						<div class="content-box">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">使用说明：</label>
									<div class="col-sm-5">
										<div class="orderadd">
										<p class="bg-warning padding-all browser-prompt">
											1.加密串是在加密虚拟卡类商品的卡号和密码时使用的</br>
											2.加密串保存在文件 data/config.php 中，对应的常量是 AUTH_KEY</br>
											3.如果要更改加密串在下面的文本框中输入原加密串和新加密串，点'确定'按钮后即可</br>
										</p></div>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">原加密串：</label>
									<div class="col-sm-5">
										<input type="password" class="form-control" id="" placeholder="12313443" value="12313443">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">新加密串：</label>
									<div class="col-sm-5">
										<input type="password" class="form-control" id="" placeholder="12313443" value="12313443">
									</div>
								</div>
								<div class="form-group sure-but sure-reset-box">
									<label for="" class="col-sm-2 control-label"></label>
									<div class="col-sm-6 p-left5">
										<button class="btn btn-danger">确定</button>
								 	</div>
								</div>
							</form>
						</div>
					</div>
				</div>
		   </section>
		<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>

