<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>商品列表</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>

	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                            <ul>
								<li class="pull-left active">商品列表</li>
							</ul>	
                                <a href="goods_addNewGoods.html" class="btn btn-danger pull-right" role="button">添加新商品</a>
							</div>
							<div class="content-box">
								<!--商品列表-->
                                <div class="search-list order-search of-hidden form-horizontal bgf8">
                                    <label for="" class="control-label pull-left">关键词：</label>
									<input type="text" class="form-control pull-left" placeholder="商品名称">
                                     <label for="" class="control-label pull-left">分类：</label>
									<select class="form-control pull-left m-right1">
										<option value="所有分类" selected="selected">所有分类</option>
										<option value="手机类型">手机类型</option>
										<option value="充值卡">充值卡</option>
										<option value="手机配">手机配</option>
									</select>
									<select class="form-control pull-left m-right1">
										<option value="所有品牌" selected="selected">所有品牌</option>
										<option value="诺基亚">诺基亚</option>
										<option value="金立">金立</option>
										<option value="联想">联想</option>
										<option value="索爱">索爱</option>
									</select>
									<select class="form-control pull-left m-right1">
										<option value="全部" selected="selected">全部</option>
										<option value="北京供货商">北京供货商</option>
										<option value="上海供货商">上海供货商</option>
									</select>
                                    <select class="form-control pull-left m-right1">
										<option value="全部" selected="selected">全部</option>
										<option value="上架">上架</option>
										<option value="下架">下架</option>
									</select>
									<button class="btn btn-danger pull-left">确定</button>   <a href="javascript:;" data-toggle="modal" data-target="#myAreas" class="screen">高级筛选</a>
								</div>
                                <!--搜索结束-->
                                <!--高级筛选弹出层开始-->
							    <div class="modal fade filter-area in" id="myAreas" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
                                        	<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">订单查询</h4>
											</div>
											<form class="form-horizontal">
                                          <div class="modal-body">
                                            	<div class="row">
                                            	    <table class="orscreen" width="80%" border="0" cellspacing="0" cellpadding="">
                                                      <tr>
                                                        <td><label for="" class="control-label pull-left">关键词：</label><input type="text" class="form-control m-right1 box-flex" value="" placeholder="商品名称／订单号／买家"></td>
                                                        <td><label for="" class="control-label pull-left">电子邮件：</label><input type="text" class="form-control m-right1 box-flex" value="" placeholder="电子邮件"></td>
                                                      </tr>
                                                      <tr>
                                                        <td><label for="" class="control-label pull-left">地址：</label><input type="text" class="form-control m-right1 box-flex" value="" placeholder="地址"></td>
                                                        <td><label for="" class="control-label pull-left">邮编：</label><input type="text" class="form-control m-right1 box-flex" value="" placeholder="邮编"></td>
                                                      </tr>
                                                      <tr>
                                                        <td><label for="" class="control-label pull-left">电话：</label><input type="text" class="form-control m-right1 box-flex" value="" placeholder="电话"></td>
                                                        <td><label for="" class="control-label pull-left">手机：</label><input type="text" class="form-control m-right1 box-flex" value="" placeholder="手机"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="2"><label for="" class="control-label pull-left">所在地区：</label>
                                                        <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">中国</option>
                                            </select>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">上海</option>
                                            </select>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">上海</option>
                                            </select>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">上海</option>
                                            </select></td>
                                                      </tr>
                                                      <tr>
                                                        <td><label for="" class="control-label pull-left">配送方式：</label>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">圆通快递</option>
                                            </select></td>
                                                        <td><label for="" class="control-label pull-left">支付方式：</label>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">货到付款</option>
                                            </select></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="2"><label for="" class="control-label pull-left">下单时间：</label>
                                                        <div class="col-sm-5" style="padding-left:0;">		
						                                    <div class="input-group input-large" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
						                                        <input type="text" class="form-control dpd1" name="from">
						                                        <span class="input-group-addon">To</span>
						                                        <input type="text" class="form-control dpd2" name="to">
						                                    </div>
						                                    <!--<span class="help-block">Select date range</span>-->
														</div></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="2"><label for="" class="control-label pull-left">订单状态：</label>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">未确认</option>
                                                <option value="25">已确认</option>
                                                <option value="25">取消</option>
                                                <option value="25">无效</option>
                                                <option value="25">退货</option>
                                                <option value="25">已分单</option>
                                                <option value="25">部分分单</option>
                                            </select>
                                            <label for="" class="control-label pull-left">付款状态：</label>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">未付款</option>
                                                <option value="25">付款中</option>
                                                <option value="25">已付款</option>
                                            </select>
                                            <label for="" class="control-label pull-left">发货状态：</label>
                                            <select class="form-control pull-left m-right1">
                                                <option value="10" selected="selected">请选择</option>
                                                <option value="25">未发货</option>
                                                <option value="25">配货中</option>
                                                <option value="25">已发货</option>
                                                <option value="25">收货确认</option>
                                                <option value="25">已发货(部分商品)</option>
                                                <option value="25">发货中</option>
                                            </select></td>
                                                      </tr>
                                                    </table>
                                                </div>
											</div>
                                            <div class="modal-footer">
												<div class="form-group sure-but">
													<label for="" class="col-sm-2 control-label"></label>
													<div class="col-sm-6">
														<button type="submit" class="btn btn-danger pull-left">确定</button>
														<button type="reset" class="btn btn-default pull-left">重置</button>
													</div>
												</div>
											</div>
											</form>
										</div>
									</div>
                                </div>
                                <!--高级筛选弹出层结束-->
                                
                                
                                 <ul class="ordernav m-top2 bgf8" role="tablist">
									<li  class="active"><a href="#">出货中 （100）</a></li>
									<li><a href="#">已下架 （20）</a></li>
								</ul>
                                
                                
                                <div class="tab-content m-top2 m-bottom9 select-three j-get-more">
                                	<div class="tab-pane active">
                                    	<table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th width="">
                                                <div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                </label>
                                                </div>    
                                                </th>
												<th>商品名称
                                                <div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div></th>

												<th class="text-center">货号
                                                <div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
                                                    </th>
												<th class="text-center">价格
                                                <div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
                                                    </th>
												<th class="text-center">库存
                                                <div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
                                                    </th>
												<th class="text-center">推荐排序
                                                <div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
                                                 </th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
                                                     <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                    <i class="j-select-btn ect-checkbox"></i>
                                                    </label>
                                                    </div> 
                                                </td>
												<td>
                                                	<div class="paddbot">
                                                        <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                            <img src="img/pro-ac-2.png" alt="" class="goods-brand-img">
                                                        </div>
                                                   		<div class="goods-pro-link">
                                                            <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                            <div class="order-iclab pull-left" data-toggle="buttons">
                                                           		 <label class="btn btn-danger labem"><input type="checkbox">精品</label> <label class="btn btn-danger labem"><input type="checkbox">新品</label> <label class="btn btn-danger labem active"><input type="checkbox">热销</label>
                                                           		 <div class="order-ewm pull-right"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                       		</div>
                                                      	</div>
                                                  	 </div>
                                                </td>
                                                <td class="text-center"	>ECS019949</td>
												<td class="text-center"><span class="fontcol">¥129.00</span></td>
												<td class="text-center">100</td>
												<td class="text-center">1</td>
												<td class="text-center">
												    <a href="#" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                    <a href="goods_goods_list_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <a href="goods_addNewGoods.html" type="button" class="btn btn-warning btn-xs" title="复制"><i class="glyphicon glyphicon-duplicate"></i></a>
                                                    <a href="product_list.html" type="button" class="btn btn-info btn-xs" title="货品列表"><i class="glyphicon glyphicon-list"></i></a>
                                                    <a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
                                                     <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                    <i class="j-select-btn ect-checkbox"></i>
                                                    </label>
                                                    </div> 
                                                </td>
												<td>
                                                	<div class="paddbot">
                                                        <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                            <img src="img/pro-ac-2.png" alt="" class="goods-brand-img">
                                                        </div>
                                                   		<div class="goods-pro-link">
                                                            <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                            <div class="order-iclab pull-left" data-toggle="buttons">
                                                           		 <label class="btn btn-danger labem"><input type="checkbox">精品</label> <label class="btn btn-danger labem"><input type="checkbox">新品</label> <label class="btn btn-danger labem active"><input type="checkbox">热销</label>
                                                           		 <div class="order-ewm pull-right"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                       		</div>
                                                      	</div>
                                                  	 </div>
                                                </td>
                                                <td class="text-center"	>ECS019949</td>
												<td class="text-center"><span class="fontcol">¥129.00</span></td>
												<td class="text-center">100</td>
												<td class="text-center">1</td>
												<td class="text-center">
												    <a href="#" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                    <a href="goods_goods_list_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <a href="goods_addNewGoods.html" type="button" class="btn btn-warning btn-xs" title="复制"><i class="glyphicon glyphicon-duplicate"></i></a>
                                                    <a href="product_list.html" type="button" class="btn btn-info btn-xs" title="货品列表"><i class="glyphicon glyphicon-list"></i></a>
                                                    <a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
                                            <tr>
                                            	<td colspan="7" class="tabel-down">
                                                <div class="ect-select pull-left martop6">
                                                    <label class="dis-box">
                                                    <i class="j-select-btn ect-checkbox"></i>
                                                    <span>全选</span>
                                                    </label>
                                                 </div>
                                                <button class="btn btn-danger">下架</button> <button class="btn btn-danger">回收站</button> <button class="btn btn-danger">新品</button>  <button class="btn btn-danger">取消新品</button>  <button class="btn btn-danger">推荐</button>  <button class="btn btn-danger">取消推荐</button> 
                                                
                                                <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:5px;">
                                                  更多
                                                  <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                  <li><a href="#">修改</a></li>
                                                  <li><a href="#">删除</a></li>
                                                </ul>
                                              </div>
                                                
                                                </td>
                                            </tr>
										</tbody>
									</table>

								     	<div class="page pull-right ">
									   <div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
									</div>
                                </div>
                                <!--商品列表结束-->
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.customSelect.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<!--日期-->
		<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="js/advanced-form-components.js"></script>
		<script src="js/ectouch.js "></script>

	</body>

</html>