<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>商品分类-转移商品</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">转移商品</li>
                                </ul>
							</div>
							<div class="content-box p-bottom5">
								<div class="row">
									<form class="form-horizontal" method="post" name="theForm">
										<section>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label"></label>
												<div class="col-sm-5">
													<h4 class="m-top1 m-bottom1 col-79">什么是转移商品分类？</h4>
												    <p class="col-79">在添加商品或者在商品管理中，如果需要对商品的分类进行变更，那么你可以通过此功能正确管理你的商品分类。</p>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">从此分类：</label>
												<div class="col-sm-5">
													<select class="form-control w100" name="cat_id" onchange="hideCatDiv()">
														<option value="请选择商品类型">请选择商品类型</option>
														<option>手机配件</option>
														<option>手机类型</option>
														<option>充值卡</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">转移到：</label>
												<div class="col-sm-5">
													<select class="form-control w100" name="cat_id" onchange="hideCatDiv()">
														<option value="请选择商品类型">请选择商品类型</option>
														<option>手机配件</option>
														<option>手机类型</option>
														<option>充值卡</option>
													</select>
												</div>
											</div>
											<div class="form-group sure-but sure-reset-box">
												<label for="" class="col-sm-2 control-label"></label>
												<div class="col-sm-5 ">
													<button class="btn btn-danger">开始转移</button>
													<button class="btn btn-default">重置</button>
												</div>
											</div>
										</section>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>
