<!DOCTYPE html>
<html>

	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>商品回收站</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">商品回收站</li>
                                </ul>
								<a href="goods_list.html" class="btn btn-danger pull-right" role="button">商品列表</a>
							</div>
							<div class="content-box">
								<div class="search-list of-hidden">
									<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
										<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
										<a class="btn btn-danger">
											<span class="glyphicon glyphicon-search"></span></a>
									</div>
								</div>
								<div class="m-top2 select-three j-get-more m-bottom6">
									<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered">
										<thead>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6px;">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>编号
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th  style="width:60%">商品名称
													<div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th>货号
													<div class="table-px pull-right">
														<span></span>
														<span></span>
													</div>
												</th>
												<th>价格
													<div class="table-px pull-right">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">ECS000032</td>
												<td class="text-center">3010.00</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success  btn-xs" title="还原"><i class="glyphicon glyphicon-repeat"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">2</span>
														</label>
													</div>
												</td>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">ECS000032</td>
												<td class="text-center">3010.00</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success  btn-xs" title="还原"><i class="glyphicon glyphicon-repeat"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">3</span>
														</label>
													</div>
												</td>
												<td style="width:30%">
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">ECS000032</td>
												<td class="text-center">3010.00</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success  btn-xs" title="还原"><i class="glyphicon glyphicon-repeat"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">4</span>
														</label>
													</div>
												</td>
												<td style="width:30%">
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">ECS000032</td>
												<td class="text-center">3010.00</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success  btn-xs" title="还原"><i class="glyphicon glyphicon-repeat"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">5</span>
														</label>
													</div>
												</td>
												<td style="width:30%">
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">ECS000032</td>
												<td class="text-center">3010.00</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success  btn-xs" title="还原"><i class="glyphicon glyphicon-repeat"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">6</span>
														</label>
													</div>
												</td>
												<td style="width:30%">
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">ECS000032</td>
												<td class="text-center">3010.00</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success  btn-xs" title="还原"><i class="glyphicon glyphicon-repeat"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
									
									<select class="form-control pull-left m-right1">
										<option value="10" selected="selected">请选择…</option>
										<option value="25">还原</option>
										<option value="50">移除</option>
									</select>
									<button class="btn btn-danger">确定</button>
								</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js "></script>

	</body>

</html>
