<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>商品分类列表-编辑</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">编辑商品分类</li>
                                </ul>
							</div>
							<div class="content-box p-bottom12">
								<div class="row">
									<form class="form-horizontal" method="post" name="theForm">
										<section>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">分类名称：</label>
												<div class="col-sm-5">
													<input type="username" class="form-control" id="" value="手机配件">
												</div>
												<div class="t-first xing">*</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">上级分类：</label>
												<div class="col-sm-5">
													<select class="form-control w100" name="cat_id" onchange="hideCatDiv()">
														<option value="">顶级分类</option>
														<option value="">手机配件</option>
														<option value="">&nbsp;&nbsp;&nbsp;&nbsp;读卡器和内存</option>
														<option value="">&nbsp;&nbsp;&nbsp;&nbsp;充电器</option>
														<option value="">&nbsp;&nbsp;&nbsp;&nbsp;耳机</option>
														<option value="">&nbsp;&nbsp;&nbsp;&nbsp;电池</option>
														<option value="">手机类型</option>
														<option value="">充值卡</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">数量单位：</label>
												<div class="col-sm-5">
													<input type="username" class="form-control" id="" value="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">排序：</label>
												<div class="col-sm-5">
													<input type="username" class="form-control" id="" value="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">是否显示：</label>
												<div class="col-sm-5  j-get-one select-three">
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn"></i>
															<span class="box-flex">是</span>
														</label>
													</div>
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn"></i>
															<span class="box-flex">否</span>
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">是否显示在导航栏：</label>
												<div class="col-sm-5  j-get-one select-three">
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn"></i>
															<span class="box-flex">是</span>
														</label>
													</div>
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn"></i>
															<span class="box-flex">否</span>
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">设置为首页推荐：</label>
												<div class="col-sm-5  j-get-more select-three">
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">精品</span>
														</label>
													</div>
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">最新</span>
														</label>
													</div>
													<div class="ect-select pull-left">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">热门</span>
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeFilterAttr');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>筛选属性：</label>
												<div class="col-sm-2">
													<select class="form-control w100" name="cat_id" onchange="hideCatDiv()">
														<option value="">请选择商品类型</option>
														<option value="" selected="selected">书</option>
														<option value="">音乐</option>
														<option value="">电影</option>
														<option value="">手机</option>
														<option value="">笔记本电脑</option>
														<option value="">数码相机</option>
														<option value="">数码摄像机</option>
														<option value="">化妆品</option>
														<option value="">精品手机</option>
													</select>
												</div>
												<div class="col-sm-2 padd-l-no">
													<select class="form-control w100" name="cat_id" onchange="hideCatDiv()">
														<option value="0">请选择筛选属性</option>
														<option value="11">字数</option>
														<option value="7">图书装订</option>
														<option value="3">图书书号/ISBN</option>
														<option value="10">印张</option>
														<option value="6">图书页数</option>
														<option value="2">出版社</option>
														<option value="9">版次</option>
														<option value="5">开本</option>
														<option value="1">作者</option>
														<option value="12">所属分类</option>
														<option value="8">图书规格</option>
														<option value="4">出版日期</option>
													</select>
												</div></br></br>
												<div class="col-sm-2 m-right15"></div>
												<div class="col-sm-5"><span class="notice-span" id="noticeFilterAttr">筛选属性可在前分类页面筛选商品</span></div>
											</div>
	                                        <div class="form-group">
												<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGrade');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>价格区间个数：</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="" value="0">
													<span class="notice-span" id="noticeGrade">此项表示该分类下商品最低价与最高价之间的划分的等级个数，填0表示不做分级，最多不能超过10个</span>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsSN');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>分类的样式表文件：</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="">
													<span class="notice-span" id="noticeGoodsSN">您可以为每一个商品分类指定一个样式表文件，例如文件放在 themes 目录下则输入：themes/style.css</span>
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">关键字：</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" id="">
												</div>
											</div>
											<div class="form-group">
												<label for="" class="col-sm-2 control-label">分类描述：</label>
												<div class="col-sm-5">
													<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
												</div>
											</div>
											<div class="form-group sure-but sure-reset-box">
												<label for="" class="col-sm-2 control-label"></label>
												<div class="col-sm-5 p-left5">
													<button class="btn btn-danger">确定</button>
													<button class="btn btn-default">重置</button>
												</div>
											</div>
										</section>
									</form>
								</div>
							</div>	
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>
