<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>商品分类列表</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">商品分类</li>
                                </ul>
								<a href="goods_category_addCategory.html" class="btn btn-danger pull-right" >添加分类</a>
							</div>
							<div class="content-box">
								<section>
									<table class="table table-bordered table-hover " id="list-table">
										<thead>
											<tr>
												<th>分类名称</th>
												<th class="text-center">商品数量</th>
												<th class="text-center">数量单位</th>
												<th class="text-center">导航栏</th>
												<th class="text-center">是否显示</th>
												<th class="text-center">价格分级</th>
												<th class="text-center">排序</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr class="0" id="0_1">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_0_1" width="9" height="9" style="margin-left:0" onclick="rowClicked(this)" alt="" /><span>手机类型</span></td>
												<td class="text-center">0</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">5</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_4">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_4" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span>3G手机</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="2" id="2_16">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_2_16" width="9" height="9" style="margin-left:20px" onclick="rowClicked(this)" alt="" /><span >范德萨</span></td>
												<td class="text-center">0</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="3" id="3_17">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_3_17" width="9" height="9" style="margin-left:30px" onclick="rowClicked(this)" alt="" /><span >方法</span></td>
												<td class="text-center">0</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#"  onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_5">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_5" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span >双模手机</span></td>
												<td class="text-center">0</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">5</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_2">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_2" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span >CDMA手机</span></td>
												<td class="text-center">0</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">5</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_3">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_1" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span >GSM手机</span></td>
												<td class="text-center">9</td>
												<td class="text-center">台</td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">5</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="0" id="0_12">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_0_12" width="9" height="9" style="margin-left:0" onclick="rowClicked(this)" alt="" /><span >充值卡</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">5</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_15">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_15" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span>联通手机充值卡</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_13">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_13" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span>小灵通/固话充值卡</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_14">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_14" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span>移动手机充值卡</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="0" id="0_6">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_0_6" width="9" height="9" style="margin-left:0" onclick="rowClicked(this)" alt="" /><span>手机配件</span></td>
												<td class="text-center">0</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">5</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_11">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_11" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span>读卡器和内存卡</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr class="1" id="1_7">
												<td class="goods-category-click"><img src="./img/menu_minus.gif" class="goods-category-jz" id="icon_1_7" width="9" height="9" style="margin-left:10px" onclick="rowClicked(this)" alt="" /><span>充电器</span></td>
												<td class="text-center">2</td>
												<td class="text-center"></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center">0</td>
												<td class="text-center">50</td>
												<td class="text-center">
													<a href="goods_category_moveGoods.html" type="button" class="btn btn-success btn-xs" title="转移商品"><i class="glyphicon glyphicon-log-out"></i></a>
													<a href="goods_category_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="回收站"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</section>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--移除按钮js-->
		<!--for this page-->
		<script src="js/listtable.js"></script>
		<script src="js/utils.js"></script>
		<script>
			var imgPlus = new Image();
			imgPlus.src = "img/menu_plus.gif";
			
			/**
			 * 折叠分类列表
			 */
			function rowClicked(obj)
			{
			  // 当前图像
			  img = obj;
			  // 取得上二级tr>td>img对象
			  obj = obj.parentNode.parentNode;
			  // 整个分类列表表格
			  var tbl = document.getElementById("list-table");
			  // 当前分类级别
			  var lvl = parseInt(obj.className);
			  // 是否找到元素
			  var fnd = false;
			  var sub_display = img.src.indexOf('menu_minus.gif') > 0 ? 'none' : (Browser.isIE) ? 'block' : 'table-row' ;
			  // 遍历所有的分类
			  for (i = 0; i < tbl.rows.length; i++)
			  {
			      var row = tbl.rows[i];
			      if (row == obj)
			      {
			          // 找到当前行
			          fnd = true;
			          //document.getElementById('result').innerHTML += 'Find row at ' + i +"<br/>";
			      }
			      else
			      {
			          if (fnd == true)
			          {
			              var cur = parseInt(row.className);
			              var icon = 'icon_' + row.id;
			              if (cur > lvl)
			              {
			                  row.style.display = sub_display;
			                  if (sub_display != 'none')
			                  {
			                      var iconimg = document.getElementById(icon);
			                      iconimg.src = iconimg.src.replace('plus.gif', 'minus.gif');
			                  }
			              }
			              else
			              {
			                  fnd = false;
			                  break;
			              }
			          }
			      }
			  }
			
			  for (i = 0; i < obj.cells[0].childNodes.length; i++)
			  {
			      var imgObj = obj.cells[0].childNodes[i];
			      if (imgObj.tagName == "IMG" && imgObj.src != 'img/menu_arrow.gif')
			      {
			          imgObj.src = (imgObj.src == imgPlus.src) ? 'img/menu_minus.gif' : imgPlus.src;
			      }
			  }
			}
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>
