<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>商品类型</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">商品类型</li>
                                </ul>
								<a class="btn btn-danger pull-right" role="button" data-toggle="modal" data-target="#myGoodsType">新建商品类型</a>
							</div>
							<div class="content-box">
	                            <!--新建配送区域弹出层开始-->
								<div class="modal fade filter-area in" id="myGoodsType" tabindex="-1" role="dialog" aria-labelledby="myGoodsTypeLabel" data-backdrop="static">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel"><strong>新建商品类型</strong></h4>
											</div>
											<form class="form-horizontal">
											    <div class="modal-body">
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">商品类型名称：</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
														<div class="t-first xing">*</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeAttrGroups');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>属性分类：</label>
														<div class="col-sm-8">
															<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
															<span class="notice-span" id="noticeAttrGroups">每行一个商品属性组。排序也将按照自然顺序排序。</span>
														</div>
													</div>
											    </div>
												<div class="modal-footer">
													<div class="form-group sure-but">
														<label for="" class="col-sm-2 control-label"></label>
														<div class="col-sm-6">
															<button class="btn btn-danger pull-left">确定</button>
															<button class="btn btn-default pull-left">重置</button>
														</div>
													</div>
												</div>
										    </form>
										</div>
									</div>
								</div>
								<!--新建配送区域弹出层结束-->
								<form method="post" name="listorm">
								<div class="list-div" id="listForm">
									<table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>商品类型名称</th>
												<th class="text-center">属性分组</th>
												<th class="text-center">属性数</th>
												<th class="text-center">状态</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<div class="list-div" id="listDiv">
											<tr>
												<td><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">书</span></td>
												<td></td>
												<td class="text-center">12</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">音乐</span></th>
												<td></td>
												<td class="text-center">19</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">电影</span></th>
												<td></td>
												<td class="text-center">24</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">手机</span></th>
												<td></td>
												<td class="text-center">26</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td  class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">笔记本电脑</span></th>
												<td></td>
												<td class="text-center">19</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">数码相机</span></th>
												<td></td>
												<td class="text-center">41</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">数码摄像机</span></th>
												<td></td>
												<td class="text-center">23</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">化妆品</span></th>
												<td></td>
												<td class="text-center">7</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)" title="点击修改内容">精品手机</span></th>
												<td ></td>
												<td class="text-center">39</td>
												<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
												<td  class="text-center">
													<a class="btn btn-success btn-xs" href="goods_propertyList.html" title="属性列表"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></a>
													<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myGoodsType"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											</div>
										</tbody>
									</table>
								</div></form>
								<div class="page pull-right">
									<div class="page-count">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text" class="form-control page-input"></div>
									<div class="page-link">
										<a>第一页</a>
										<a>上一页</a>
										<a>下一页</a>
										<a>末页</a>
									</div>
									<div class="page-select">
										<select class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/listtable.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>
