<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>移动20元充值卡</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--选择日期-->
		<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		    <!--补货弹出层开始-->
			<div class="modal fade filter-area" id="addGoods" tabindex="-1" role="dialog" aria-labelledby="userReviewsInfoLabel" data-backdrop="static" style="display: none;">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="myModalLabel">补货</h4>
						</div>
						<form class="form-horizontal">
					        <div class="modal-body">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">商品名称：</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="" placeholder="移动20元充值卡">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">卡片序号：</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="" placeholder="234234523">
									</div>
									<span class="xing t-first">*</span>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">卡片密码：</label>
									<div class="col-sm-5">
										<input type="password" class="form-control" id="" placeholder="234234523">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">截止使用日期：</label>
									<div class="col-sm-5">
										<input class="form-control form-control-inline input-medium default-date-picker" type="text" value="" placeholder="08-05-2016">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="form-group sure-but">
									<label for="" class="col-sm-2 control-label"></label>
									<div class="col-sm-6">
										<button type="submit" class="btn btn-danger pull-left">确定</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--补货弹出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab shipping">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">移动20元充值卡</li>
                                </ul>
                                <a class="btn btn-danger pull-right" role="button" data-toggle="modal" data-target="#addGoods">补货</a>
							</div>
							<div class="content-box">
								<div class="search-list of-hidden">
									<form class="form-horizontal">
										<select class="form-control pull-left m-right1">
											<option value="卡片序号" selected="selected">卡片序号</option>
											<option value="订单号">订单号</option>
										</select>
										<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
											<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
											<a class="btn btn-danger">
												<span class="glyphicon glyphicon-search"></span>
											</a>
										</div>
									</form>
								</div>
								<div class="m-top2 m-bottom6 select-three j-get-more">
								    <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6px">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">卡片序号</th>
												<th class="text-center">卡片密码</th>
												<th class="text-center">截止使用日期</th>
												<th class="text-center">是否已出售</th>
												<th class="text-center">订单号</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</th>
												<td class="text-center">
													23412345
												</td>
												<td class="text-center">2145125345</td>
												<td class="text-center">2016-06-18</td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"></td>
												<td class="text-center">
												    <a href="#" type="button" class="btn btn-success btn-xs"  title="查看详情" data-toggle="modal" data-target="#addGoods"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">2</span>
														</label>
													</div>
												</th>
												<td class="text-center">
													56768231
												</td>
												<td class="text-center">5676585685</td>
												<td class="text-center">2016-06-18</td>
												<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
												<td class="text-center"></td>
												<td class="text-center">
												    <a href="#" type="button" class="btn btn-success btn-xs"  title="查看详情" data-toggle="modal" data-target="#addGoods"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<button class="btn btn-danger">删除</button>
										</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>  
							</div>
						</div>
					</div>
			   </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		 <!--日期时间选择-->
		<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="js/advanced-form-components.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>

