<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags always come first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>会员帐户变动明细</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-reset.css">
<link rel="stylesheet" href="css/ectouch-responsive.css">
<link rel="stylesheet" href="css/ectouch.css" />
<link rel="stylesheet" href="iconfont/iconfont.css" />
<!--通用信息中的上传商品图片-->
<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
<!--选择日期-->
<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
</head>
<body class="white-bg">
            <!--调节会员帐户弹出层开始-->
                    <div class="modal fade filter-area" id="myAreas-account" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">调节会员帐户</h4>
                                </div>
                                <form class="form-horizontal">
                                    <div class="modal-body j-get-one select-three">
                                    <!--修改内容-->
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">当前会员：</label>
                                                     <div class="col-sm-4 martop6">
                                                     robot
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">帐户变动原因：</label>
                                                     <div class="col-sm-6 ">
                                                        <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">可用资金帐户：</label>
                                                     <div class="col-sm-4 ">
                                                        <select class="form-control pull-left" style="width:40%; margin-right:5%;">
                                                            <option value="10" selected="selected">增加</option>
                                                            <option value="25">减少</option>
                                                        </select>
                                                        <input type="text" class="form-control" name="" value="0" style="width:55%;">
                                                     </div>
                                                     <span class="notice-span" style="display:block;">当前值：￥0.00元</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">冻结资金帐户：</label>
                                                     <div class="col-sm-4 ">
                                                        <select class="form-control pull-left" style="width:40%; margin-right:5%;">
                                                            <option value="10" selected="selected">增加</option>
                                                            <option value="25">减少</option>
                                                        </select>
                                                        <input type="text" class="form-control" name="" value="0" style="width:55%;">
                                                     </div>
                                                     <span class="notice-span" style="display:block;">当前值：￥0.00元</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">等级积分帐户：</label>
                                                     <div class="col-sm-4 ">
                                                        <select class="form-control pull-left" style="width:40%; margin-right:5%;">
                                                            <option value="10" selected="selected">增加</option>
                                                            <option value="25">减少</option>
                                                        </select>
                                                        <input type="text" class="form-control" name="" value="0" style="width:55%;">
                                                     </div>
                                                     <span class="notice-span" style="display:block;">当前值：3700</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">消费积分帐户：</label>
                                                     <div class="col-sm-4 ">
                                                        <select class="form-control pull-left" style="width:40%; margin-right:5%;">
                                                            <option value="10" selected="selected">增加</option>
                                                            <option value="25">减少</option>
                                                        </select>
                                                        <input type="text" class="form-control" name="" value="0" style="width:55%;">
                                                     </div>
                                                     <span class="notice-span" style="display:block;">当前值：4931</span>
                                                </div>
                                    <!--修改内容结束-->
                                    </div>
	                                <div class="modal-footer">
	                                    <div class="row">
                                            <div class="form-group sure-but">
                                                <label for="" class="col-sm-2 control-label"></label>
                                                <div class="col-sm-6">
                                                    <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                                </div>
                                            </div>
	                                    </div>
	                                </div>
	                            </form>   
                            </div>
                        </div>
                    </div>
            <!--调节会员帐户弹出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">会员帐户变动明细</li>
                                </ul>
								<a href="javascript:;" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myAreas-account">调解会员账户</a>
							</div>
							<div class="content-box">
                                <!--marketing_type-->
                                <table class="table table-bordered table-hover select-three j-get-more m-top2">
										<thead>
											<tr>
												<th class="text-center">帐户变动时间</th>
												<th class="text-center">帐户变动原因</th>
												<th class="text-center">可用资金帐户</th>
												<th class="text-center">冻结资金帐户</th>
												<th class="text-center">等级积分帐户</th>
												<th class="text-center">消费积分帐户</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">2016-08-16 07:34:31</td>
												<td>订单 2016060348726 赠送的积分</td>
												<td class="text-center">0.00</td>
												<td class="text-center">0.00</td>
												<td class="text-center">+3700</td>
												<td class="text-center">+3700</td>
											</tr>
											<tr>
												<td class="text-center">2016-08-16 06:14:55</td>
												<td>由于退货或未发货操作，退回订单 2016061559015 赠送的积分</td>
												<td class="text-center">0.00</td>
												<td class="text-center">0.00</td>
												<td class="text-center">+3700</td>
												<td class="text-center">+3700</td>
											</tr>
											<tr>
												<td class="text-center">2016-06-15 07:01:38</td>
												<td>取消订单 2016061542757，退回支付订单时使用的积分</td>
												<td class="text-center">0.00</td>
												<td class="text-center">0.00</td>
												<td class="text-center">+3700</td>
												<td class="text-center">+3700</td>
											</tr>
										</tbody>
									</table>
                                    <div class="page pull-right ">
                                            <div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
                                            <div class="page-link ">
                                                <a>第一页</a>
                                                <a>上一页</a>
                                                <a>下一页</a>
                                                <a>末页</a>
                                            </div>
                                            <div class="page-select ">
                                                <select class="form-control ">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                </select>
                                            </div>
                                        </div>
                                <!--marketing_type end-->
						    </div>
                             
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script src="js/jquery.tagsinput.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
        <!--日期时间选择-->
        <script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="js/advanced-form-components.js"></script>
        <!--显示隐藏div层-->
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>