<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>充值和提现申请</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="active pull-left">充值和提现申请</li>
								</ul>
								<a class="btn btn-danger pull-right" role="button" data-toggle="modal" data-target="#memberRecharge">添加申请</a>
							</div>
							<!--添加申请弹出层开始-->
							<div class="modal fade filter-area" id="memberRecharge" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<form class="form-horizontal">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
												<h4 class="modal-title" id="myModalLabel">添加申请</h4>
											</div>
											<div class="modal-body">
												
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">会员名称：</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">金额：</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">支付方式：</label>
														<div class="col-sm-5">
															<select class="form-control">
																<option value="" selected="selected">请选择...</option>
																<option value="充值">余额支付</option>
																<option value="提现">银行汇款/转账</option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">类型：</label>
														<div class="col-sm-5 j-get-one select-three">
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">充值</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">提现</span>
																</label>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">管理员备注：</label>
														<div class="col-sm-5">
															<textarea class="form-control" cols="3"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">会员描述：</label>
														<div class="col-sm-5">
															<textarea class="form-control" cols="3"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">到款状态：</label>
														<div class="col-sm-5 j-get-one select-three">
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">未确认</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">已完成</span>
																</label>
															</div>
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn"></i>
																	<span class="box-flex">取消</span>
																</label>
															</div>
														</div>
													</div>
												
											</div>
											<div class="modal-footer">
												<div class="row">
													<div class="form-group sure-but">
														<label for="" class="col-sm-2 control-label" style="margin-left:10px"></label>
														<div class="col-sm-6">
															<button type="submit" class="btn btn-danger pull-left">确定</button>
															<button type="submit" class="btn btn-default pull-left">重置</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!--添加申请弹出层结束-->
							<div class="content-box">
								<div class="search-list of-hidden tabel-down">
									<form class="form-horizontal">
										<label class="control-label m-right1 pull-left">会员名称</label>
										<div class="col-sm-2 padd-l-no">
										   <input type="text" class="form-control m-right1 pull-left" value="发生的防护四">
										</div>
										<select class="form-control m-right1 pull-left">
											<option value="" selected="selected">类型</option>
											<option value="充值">充值</option>
											<option value="提现">提现</option>
										</select>
										<select class="form-control m-right1 pull-left">
											<option value="" selected="selected">支付方式</option>
											<option value="余额支付">余额支付</option>
											<option value=">银行汇款/转账">银行汇款/转账</option>
										</select>
										<select class="form-control m-right1 pull-left">
											<option value="10" selected="selected">到款状态</option>
											<option value="未确认">未确认</option>
											<option value="已完成">已完成</option>
											<option value="取消">取消</option>
										</select>
										<button type="button" class="btn btn-danger">搜索</button>
									</form>
								</div>
								<div class="m-top2  m-bottom6 select-three j-get-more">
									<table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th class="text-center">会员名称</th>
												<th class="text-center">操作日期</th>
												<th class="text-center">类型</th>
												<th class="text-center">金额</th>
												<th class="text-center">支付方式</th>
												<th class="text-center">到款状态</th>
												<th class="text-center">操作员</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left">
														<a href="#" class="goods-pro-link">微积分</a>
													</div>
												</td>
												<td class="text-center">2016-03-09 14:32:20</td>
												<td class="text-center">充值</td>
												<td class="text-center">￥23432元</td>
												<td class="text-center">余额支付</td>
												<td class="text-center">未确认</td>
												<td class="text-center">admin</td>
												<td class="text-center">
													<a type="button" class="btn btn-success btn-xs" title="到款审核" data-toggle="modal" data-target="#memberRecharge"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left">
														<a href="#" class="goods-pro-link">微积分</a>
													</div>
												</td>
												<td class="text-center">2016-03-09 14:26:20</td>
												<td class="text-center">充值</td>
												<td class="text-center">￥6346元</td>
												<td class="text-center">银行汇款</td>
												<td class="text-center">未确认</td>
												<td class="text-center"></td>
												<td class="text-center">
													<a type="button" class="btn btn-success btn-xs" title="到款审核" data-toggle="modal" data-target="#memberRecharge"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js "></script>
	</body>
</html>


