<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>会员等级</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="active pull-left">会员等级</li>
								</ul>
								<a class="btn btn-danger pull-right" role="button" data-toggle="modal" data-target="#memberRating">添加会员等级</a>
							</div>
							<!--添加会员等级弹出层开始-->
							<div class="modal fade filter-area" id="memberRating" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											<h4 class="modal-title" id="myModalLabel">添加会员等级</h4>
										</div>
									    <form class="form-horizontal">
										    <div class="modal-body">
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">会员等级名称：</label>
													<div class="col-sm-5">
														<input type="text" class="form-control" id="" placeholder="">
													</div>
													<span class="xing t-first">*</span>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">积分下限：</label>
													<div class="col-sm-5">
														<input type="text" class="form-control" id="" placeholder="0">
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">积分上限：</label>
													<div class="col-sm-5">
														<input type="text" class="form-control" id="" placeholder="10000">
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label" style="margin-left:15px"></label>
													<div class="j-get-one select-three">
														<div class="ect-select pull-left">
															<label class="dis-box">
																<i class="j-select-btn ect-checkbox"></i>
																<span class="box-flex">在商品详情页显示该会员等级的商品价格</span>
															</label>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label" style="margin-left:15px;padding-right:20px"><a href="javascript:showNotice('notice_special');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a></label>
													<div class="j-get-one select-three">
														<div class="ect-select pull-left">
															<label class="dis-box">
																<i class="j-select-btn ect-checkbox"></i>
																<span class="box-flex">特殊会员组</span>
															</label>
															<span class="notice-span" id="notice_special">特殊会员组的会员不会随着积分的变化而变化。</span>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('notice_discount');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>初始折扣率：</label>
													<div class="col-sm-5">
														<input type="text" class="form-control" id="" placeholder="10000">
														<span class="notice-span" id="notice_discount">请填写为0-100的整数,如填入80，表示初始折扣率为8折</span>
													</div>
													<span class="xing t-first">*</span>
												</div>
											</div>
											<div class="modal-footer">
												<div class="form-group sure-but">
													<label for="" class="col-sm-2 control-label"></label>
													<div class="col-sm-6">
														<button type="submit" class="btn btn-danger pull-left">确定</button>
														<button type="submit" class="btn btn-default pull-left">重置</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!--添加会员等级弹出层结束-->
							<div class="content-box">
								<table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th>会员等级</th>
											<th class="text-center">积分下限</th>
											<th class="text-center">积分上限</th>
											<th class="text-center">初始折扣率(%)</th>
											<th class="text-center">特殊会员组</th>
											<th class="text-center">显示价格</th>
											<th class="text-center">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>注册用户</th>
											<td class="text-center">0</td>
											<td class="text-center">10000</td>
											<td class="text-center">100</td>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center">
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>vip</th>
											<td class="text-center">10000</td>
											<td class="text-center">1000000</td>
											<td class="text-center">90</td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center">
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<th>代销用户</th>
											<td class="text-center">0</td>
											<td class="text-center">10000</td>
											<td class="text-center">100</td>
											<td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"></span></td>
											<td class="text-center">
												<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js "></script>
	</body>

</html>


