<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>收货地址</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>

	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="active pull-left">收货地址</li>
								</ul>
								<a href="member_list.html" class="btn btn-danger pull-right" role="button">会员列表</a>
							</div>
							<div class="content-box">
								<table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th class="text-center">收货人</th>
											<th class="text-center" style="width:20%">地址</th>
											<th class="text-center">联系方式</th>
											<th class="text-center">其他</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="text-center">叶荣添</th>
											<td>上海市普陀区</td>
											<td class="text-center">13363578967</td>
											<td class="text-center"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/ectouch.js "></script>
	</body>
</html>
