<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>添加会员</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--选择日期-->
		<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>

	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="active pull-left">添加会员</li>
								</ul>
								<a href="member_list.html" class="btn btn-danger pull-right" role="button">会员列表</a>
							</div>
							<div class="content-box">
								<form class="form-horizontal">
                                    <section>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">会员名称：</label>
                                            <div class="col-sm-3">
                                                <input type="username" class="form-control" id="" placeholder="">
                                            </div>
                                            <span class="xing t-first">*</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">邮件地址：</label>
                                            <div class="col-sm-3">
                                                <input type="e-mail" class="form-control" id="" placeholder="">
                                            </div>
                                            <div class="t-first xing">*</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">登录密码：</label>
                                            <div class="col-sm-3">
                                                <input type="password" class="form-control" id="" placeholder="" value="123456">
                                            </div>
                                            <span class="xing t-first">*</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">确认密码：</label>
                                            <div class="col-sm-3">
                                                <input type="password" class="form-control" id="" placeholder="" value="123456">
                                            </div>
                                            <span class="xing t-first">*</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">会员等级：</label>
                                            <div class="col-sm-2">
                                            	<select class="form-control">
                                            		<option value="非特殊等级" select="selected">非特殊等级</option>
                                            		<option value="代销用户">代销用户</option>
                                            	</select>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">性别：</label>
                                            <div class="col-sm-3 j-get-one select-three">
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">保密</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">男</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">女</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">出生日期：</label>
                                            <div class="col-sm-2">
                                            	<input class="form-control form-control-inline input-medium default-date-picker" type="text" value="" placeholder="08-05-2016">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">信用额度：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" id="" placeholder="￥0.00元">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">MSN：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                       <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">QQ：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">办公电话：</label>
                                            <div class="col-sm-2">
                                                <input type="phone" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">家庭电话：</label>
                                            <div class="col-sm-2">
                                                <input type="phone" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">手机：</label>
                                            <div class="col-sm-2">
                                                <input type="phone" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group sure-but sure-reset-box">
											<label for="" class="col-sm-2 control-label"></label>
											<div class="col-sm-6 p-left5">
												<button class="btn btn-danger">确定</button>
												<button class="btn btn-default">重置</button>
										 	</div>
										</div>
                                    </section>
                                </form>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		 <!--日期时间选择-->
		<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="js/advanced-form-components.js"></script>
		
		<script src="js/ectouch.js "></script>
	</body>
</html>

