<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>资金管理</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--选择日期-->
		<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
							<ul>
								<li class="active pull-left">资金管理</li>
							</ul>
						</div>
						<div class="content-box">
							<div class="search-list of-hidden">
								<form class="form-horizontal tabel-down">
									<label class="control-label m-right1 pull-left">日期选择</label>
									<div class="col-sm-3">		
	                                    <div class="input-group input-large" data-date="13/07/2013" data-date-format="mm/dd/yyyy" style="z-index:0">
	                                        <input type="text" class="form-control dpd1" name="from">
	                                        <span class="input-group-addon">To</span>
	                                        <input type="text" class="form-control dpd2" name="to">
	                                    </div>
									</div>
									<button class="btn btn-danger">查询</button>
								</form>
							</div>
							<div class="m-top2">
								<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered">
									<thead>
										<tr>
											<th colspan="4">
												会员账户信息
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="member_RechargeAndWithdrawals.html" class="text-decorat">用户充值总额</a></td>
											<td>￥0.00元</td>
											<td><a href="member_RechargeAndWithdrawals.html" class="text-decorat">提现金额</a></td>
											<td>￥0.00元</td>
										</tr>
										<tr>
											<td><a href="member_list.html" class="text-decorat">用户可用资金</a></td>
											<td>￥0.00元</td>
											<td><a href="member_list.html" class="text-decorat">用户冻结资金</a></td>
											<td>￥0.00元</td>
										</tr>
									</tbody>
								</table>
								<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered">
									<thead>
										<tr>
											<th colspan="4">
												余额使用信息
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="" class="text-decorat">交易使用余额</a></td>
											<td>￥1000.00元</td>
											<td><a href="" class="text-decorat">积分使用余额</a></td>
											<td>￥0.00元</td>
										</tr>
									</tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>
			</section>
		<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		 <!--日期时间选择-->
		<script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="js/advanced-form-components.js"></script>
	
		<script src="js/ectouch.js "></script>
	</body>

</html>

