<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>会员列表</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="active pull-left">会员列表</li>
								</ul>
								<a href="member_addMember.html" class="btn btn-danger pull-right" role="button">添加会员</a>
							</div>
							<div class="content-box">
								<div class="search-list of-hidden">
									<form class="form-horizontal">
										<label class="control-label m-right1 pull-left">会员等级</label>
										<select class="form-control pull-left m-right1">
											<option value="10" selected="selected">所有等级</option>
											<option value="注册用户">注册用户</option>
											<option value="代销用户">代销用户</option>
											<option value="vip">vip</option>
										</select>
										<label class="control-label m-right1 pull-left">会员积分大于</label>
										<div class="col-sm-1 padd-l-no"><input type="text" class="form-control m-right1"/></div>
										<label class="control-label m-right1 pull-left">会员积分大于</label>
										<div class="col-sm-1 padd-l-no"><input type="text" class="form-control m-right1"/></div>
										<label class="control-label m-right1 pull-left">会员名称</label>
										<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
											<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
											<a class="btn btn-danger">
												<span class="glyphicon glyphicon-search"></span></a>
										</div>
									</form>
								</div>
								<div class="m-top2 select-three j-get-more m-bottom6">
									<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered">
										<thead>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6px;">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>编号
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th  style="width:20%">会员名称
													<div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">是否已验证
												</th>
												<th class="text-center">可用资金</th>
												<th class="text-center">冻结资金</th>
												<th class="text-center">等级积分</th>
												<th class="text-center">消费积分</th>
												<th>注册日期
													<div class="table-px pull-right">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left" />
													<div class="pull-left table-icon-list">
														<h5>皇御愿</h5>
														<p>wanganlin@ecmoban.com</p>
														<p>13743223322</p>
													</div>
												</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">200</td>
												<td class="text-center">2000</td>
												<td class="text-center">42423</td>
												<td class="text-center">2334</td>
												<td class="text-center">2016-02-12 12:32:23</td>
												<td class="text-center">
													<a href="member_editor.html" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="member_shipping_address.html" type="button" class="btn btn-warning btn-xs" title="收货地址"><i class="glyphicon glyphicon-map-marker"></i></a>
													<a href="#" type="button" class="btn btn-success  btn-xs" title="查看订单"><i class="glyphicon glyphicon-search"></i></a>
													<a href="member_account_details.html" type="button" class="btn btn-info btn-xs" title="查看账目明细"><i class="glyphicon glyphicon-piggy-bank"></i></a>
													<a href="#" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<button class="btn btn-danger">删除会员</button>
										</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js "></script>
	</body>
</html>
