<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>会员留言</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<!--custom styles for this template-->
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
								<ul>
									<li class="active pull-left">会员留言</li>
								</ul>
							</div>
							<!--会员留言弹出层开始-->
							<div class="modal fade filter-area" id="memberRating" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											<h4 class="modal-title" id="myModalLabel">用户评论详情</h4>
										</div>
										<div class="modal-body">
											<div class="reviews-box" style="border:1px solid #e7e7e9;background:#f8fafb;overflow: hidden;padding-bottom:10px">
												<h5 class="padd1 text-center"><strong>苹果7什么时候上市</strong></h5>
												<div class="reviews-content padd1"><span>苹果7什么时候上市</span></div>
												<div class="reviews-head padd1 pull-right">
													<span class="col-ec5">李四</span>于<span class="col-ec5">2016-06-12 22:23:17</span>发表留言
												</div>
											</div>
											<div class="return-box m-top2">
												<form class="form-horizontal">
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">Email：</label>
														<div class="col-sm-5">
															<input type="email" class="form-control" id="" placeholder="admin@163.com">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">回复内容：</label>
														<div class="col-sm-5">
															<textarea class="form-control" id="" rows="3" name="" required=""></textarea>
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label" style="margin-left:15px"></label>
														<div class="j-get-one select-three">
															<div class="ect-select pull-left">
																<label class="dis-box">
																	<i class="j-select-btn ect-checkbox"></i>
																	<span class="box-flex">邮件通知</span>
																</label>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
										<div class="modal-footer">
											<div class="row">
												<div class="form-group sure-but">
													<label for="" class="col-sm-2 control-label"></label>
													<div class="col-sm-6">
														<button type="submit" class="btn btn-danger pull-left">确定</button>
														<button type="submit" class="btn btn-default pull-left">重置</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--会员留言弹出层结束-->
							<div class="content-box">
								<div class="search-list of-hidden">
									<form class="form-horizontal">
										<label class="control-label m-right1 pull-left">类型：</label>
										<select class="form-control pull-left m-right1">
											<option value="10" selected="selected">请选择</option>
											<option value="留言">留言</option>
											<option value="投诉">投诉</option>
											<option value="询问">询问</option>
											<option value="售后">售后</option>
											<option value="求购">求购</option>
											<option value="商家留言">商家留言</option>
										</select>
										<label class="control-label m-right1 pull-left">留言标题：</label>
										<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
											<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
											<a class="btn btn-danger">
												<span class="glyphicon glyphicon-search"></span></a>
										</div>
									</form>
								</div>
								<div class="m-top2  m-bottom6 select-three j-get-more">
									<table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6px">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>编号
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">用户名</th>
												<th class="text-center">留言标题</th>
												<th class="text-center">类型</th>
												<th class="text-center">留言时间</th>
												<th class="text-center">状态</th>
												<th class="text-center">回复</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</th>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left">
														<a href="#" class="goods-pro-link">微积分</a>
													</div>
												</td>
												<td>苹果呢</td>
												<td class="text-center">求购</td>
												<td class="text-center">2016-03-09</td>
												<td class="text-center">显示</td>
												<td class="text-center">未回复</td>
												<td class="text-center">
													<a href="#" type="button" class="btn btn-success btn-xs" title="查看详情" data-toggle="modal" data-target="#memberRating"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<select class="form-control pull-left m-right1">
												<option value="" selected="selected">请选择</option>
												<option value="删除留言">删除留言</option>
												<option value="允许显示">允许显示</option>
												<option value="禁止显示">禁止显示</option>
											</select>
											<button class="btn btn-danger">确定</button>
										</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js "></script>
		<script src="js/bootstrap.min.js "></script>
		<script src="js/jquery.nicescroll.min.js "></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js "></script>
	</body>
</html>


