<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>邮件队列管理</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab shipping">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">邮件队列管理</li>
                                </ul>
							</div>
							<div class="content-box">
								<div class="m-top2 m-bottom6 select-three j-get-more">
								    <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6px">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>编号
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">邮件标题</th>
												<th class="text-center">邮件地址</th>
												<th class="text-center">优先级</th>
												<th class="text-center">邮件类型</th>
												<th class="text-center">错误次数</th>
												<th class="text-center">上次发送</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</th>
												<td>发红包</td>
												<td>3265236@qq.com</td>
												<td class="text-center">高</td>
												<td class="text-center">关注订阅</td>
												<td class="text-center">0</td>
												<td class="text-center">2016-06-18 21:23:15</td>
												<td class="text-center">
													<a type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">2</span>
														</label>
													</div>
												</th>
												<td>发红包</td>
												<td>234625476@qq.com</td>
												<td class="text-center">高</td>
												<td class="text-center">关注订阅</td>
												<td class="text-center">0</td>
												<td class="text-center">2016-06-17 21:23:15</td>
												<td class="text-center">
													<a type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<button class="btn btn-danger">删除</button>
											<button class="btn btn-danger">选择发送</button>
											<button class="btn btn-danger">全部发送</button>
										</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>  
							</div>
						</div>
					</div>
			   </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>

