<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>邮件服务器设置</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">邮件服务器设置</li>
                                </ul>
							</div>
							<div class="content-box">
								<div class="orderadd">
	                                <p class="bg-warning padding-all browser-prompt"><b>请注意</b>1.如果您的服务器支持 Mail 函数（具体信息请咨询您的空间提供商）。我们建议您使用系统的 Mail 函数。<br>2.当您的服务器不支持 Mail 函数的时候您也可以选用 SMTP 作为邮件服务器。</p>
	                           </div>
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('emailService');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>邮件服务：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="smtp.qq.com">
											<span class="notice-span" id="emailService">如果您选择了采用服务器内置的 Mail 服务，您不需要填写下面的内容。</span>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">邮件服务是否要求加密连接(SSL)：</label>
										<div class="col-sm-5 j-get-one select-three">
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn"></i>
													<span class="box-flex">是</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box active">
													<i class="j-select-btn"></i>
													<span class="box-flex">否</span>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('setSMTP');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>发送邮件服务器地址(SMTP)：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="smtp.qq.com">
											<span class="notice-span" id="setSMTP">邮件服务器主机地址。如果本机可以发送邮件则设置为localhost</span>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">服务器端口号：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="25">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('emailNum');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>邮件发送账号：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="2525252@qq.com">
											<span class="notice-span" id="emailNum">发送邮件所需的认证帐号，如果没有就为空着</span>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">账号密码：</label>
										<div class="col-sm-5">
											<input type="password" class="form-control" id="" placeholder="3463763576" value="8686986986">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">邮件回复地址：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="25253454@qq.com">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">邮件编码：</label>
										<div class="col-sm-5 j-get-one select-three">
											<div class="ect-select pull-left">
												<label class="dis-box active">
													<i class="j-select-btn"></i>
													<span class="box-flex">国际化编码(utf8)</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn active"></i>
													<span class="box-flex">简体中文</span>
												</label>
											</div>
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn active"></i>
													<span class="box-flex">繁体中文</span>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group sure-but sure-reset-box">
										<label for="" class="col-sm-2 control-label"></label>
										<div class="col-sm-6 p-left5">
											<button class="btn btn-danger">确定</button>
											<button class="btn btn-default">重置</button>
									 	</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>

