<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>管理员日志</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">管理员日志</li>
                                </ul>
							</div>
							<div class="content-box">
								<div class="search-list of-hidden tabel-down">
									<form class="form-horizontal">
										<label for="" class="control-label pull-left m-right1">按照ip查看</label>
										<select class="form-control pull-left m-right1">
										  <option selected="selected">选择IP地址...</option>
										  <option value="0.0.0.0">0.0.0.0</option>
										  <option value="127.0.0.0">127.0.0.0</option>
										  <option value="192.168.1.150">192.168.1.150</option>
										  <option value="122.152.135.2">122.152.135.2</option>
										  <option value="124.168.1.150">124.168.1.150</option>
										  <option value="134.155.16.2">134.155.16.2</option>
										  <option value="156.15.1.180">156.15.1.180</option>
										  <option value="127.52.156.2">127.52.156.2</option>
										</select>
										<button class="btn btn-danger pull-left m-right1">确定</button>
										<label  for="" class="control-label pull-left m-right1">清除日志</label>
										<select  class="form-control pull-left m-right1">
											<option selected="selected">选择清除的日期...</option>
											<option value="一周之前">一周之前</option>
											<option value="一个月之前">一个月之前</option>
											<option value="三个月之前">三个月之前</option>
											<option value="半年之前">半年之前</option>
											 <option value="一年之前">一年之前</option>
										</select>
										<button class="btn btn-danger pull-left">确定</button>
									</form>
								</div>
								<div class="m-top2 m-bottom6 select-three j-get-more">
									<table class="table table-hover table-bordered">
										<thead>
											<tr>
												<th style="width:40px;">
													<div class="ect-select pull-left selectAll" style="margin-right:6px;">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>
													<!--<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>-->
												</th>
												<th style="width:20%">
													操作者
													<div class="table-px pull-right DESC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th>
													操作日期
													<div class="table-px pull-right">
														<span></span>
														<span></span>
													</div>
												</th>
												<th>
													IP地址
													<div class="table-px pull-right">
														<span></span>
														<span></span>
													</div>
												</th>
												<th>操作记录
													<div class="table-px pull-right">
														<span></span>
														<span></span>
													</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
												<td>
													<img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
												</td>
												<td>2016-01-15 15:09:34</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：湖南
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
											    <td>
													<img src="img/user_img2.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
												</td>	
												<td>2015-05-15 21:23:34</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：普陀区
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
											    <td>
											    	<img src="img/user_img3.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-04-15 23:13:46</td>
												<td>116.231.88.174</td>
												<td>
												    编辑地区：东方少路
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
											    <td>
											    	<img src="img/user_img4.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-03-12 14:23:56</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：北京
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
											    <td>
											    	<img src="img/user_img4.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-03-12 14:23:56</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：北京
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
												<td>
											    	<img src="img/user_img4.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-03-12 14:23:56</td>
												<td>116.231.88.174</td>
												<td >
													编辑地区：北京
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
												<td>
											    	<img src="img/user_img4.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-03-12 14:23:56</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：北京
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
												<td>
											    	<img src="img/user_img4.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-03-12 14:23:56</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：北京
												</td>
											</tr>
											<tr>
												<td>
											       <div class="ect-select">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex"></span>
														</label>
													</div> 
											    </td>
												<td>
											    	<img src="img/user_img4.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >test</a>
											    </td>
												<td>2015-03-12 14:23:56</td>
												<td>116.231.88.174</td>
												<td>
													编辑地区：北京
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<button class="btn btn-danger">清除日志</button>
										</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>  
			<!--main content end-->
	</section>
	<!-- jQuery first, then Bootstrap JS. -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.customSelect.min.js"></script>
	<!--ectouch for all pages-->
	<script src="js/ectouch.js"></script>
</body>
</html>