.fl {
    float: left;
}
.fr {
    float: right;
}
.f-04 {
    font-size: 1.4rem;
}
.of-hidden {
    overflow: hidden;
}
.b-color-f{background: #fff;}
.padding-all{padding:1.1rem;}
.dis-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
}
.box-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: block;
    width: 100%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.m-top04 {
    margin-top: .4rem;
}
.m-top06 {
    margin-top: .6rem;
}
.m-top08 {
    margin-top: .8rem;
}
.t-remark, .t-remark a, .t-remark a:link, .t-remark:link {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
}
.g-t-temark {
    margin: 0;
    margin-right: 1.2rem;
    display: block;
}
.tf-180 {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}