@import '../config';
@import '../mixins/common';

//tabs
.ec-tabs.el-tabs--border-card>.el-tabs__header{
    background:#f3f4f5;
    border:none;
    height:$tab-height !important;
   
}

.el-tabs__nav-wrap{
  width:100% !important;
}
.el-tabs__nav{
  height:$tab-height;
   width:100%;
  @include disFlex();
}
.el-tabs__item.is-active{
  color:#333 !important;
  background:#fff !important;
}

.el-tabs--border-card>.el-tabs__header>.el-tabs__item.is-active:last-child{
  border-left-color:none;
  border-right-color:none;
}
.el-tabs--border-card>.el-tabs__header>.el-tabs__item.is-active:first-child {
    border-left-color: none;
    border-right-color:none;
}

.el-tabs__item{
  height:$tab-height !important;
  line-height: $tab-height !important;
  text-align: center;
  color:#666;border:0 !important; margin-right: 0px !important;
  margin-left: 0px !important;
  @include flex1-1();
}

/*admin-pages*/
.pages .el-tabs--border-card>.el-tabs__content{
   top:($tab-height+4rem);
   overflow-x: hidden;
   overflow-y: scroll;
   bottom:0;
   width:100%;
   position:absolute;
}

/*radio*/

.el-checkbox__inner::after{
  width:4px !important;
  height:7px !important;
  left:4px !important;
}

.el-radio+.el-radio{
  margin-left:12px !important;
}
.el-radio__inner{
  width:16px !important;
  height:16px !important;
}


/*dropdown*/
.el-dropdown-menu{
  border-radius: 8px;
  border:0 !important;
  @include shadow(0px,0px,8px,rgba(106,106,106,.3));
  padding:.7rem 0 !important;
}

.el-dropdown-menu__item{
  font-size:.8rem;
  padding:0 16px !important;
  line-height: 30px !important;
}

.el-dropdown-menu__item:hover{
  color:$link-color !important;
  background:none !important;
}
.el-input__inner{
  font-size:13px !important;
  padding:2px 8px !important;
  border:1px solid #e3e8ee !important;
}
/*color-input*/
.color-value .el-input__inner{
    border-radius: 4px 0px 0px 4px;
}

/*datatime*/
.el-date-editor.el-input{
  width:100% !important;
}