<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>用户评论</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		    <!--用户评论弹出层开始-->
			<div class="modal fade filter-area" id="userReviewsInfo" tabindex="-1" role="dialog" aria-labelledby="userReviewsInfoLabel" data-backdrop="static" style="display: none;">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="myModalLabel">用户评论详情</h4>
						</div>
						<form class="form-horizontal">
						<div class="modal-body">
							<div class="reviews-box" style="border:1px solid #e7e7e9;background:#f8fafb;overflow: hidden;padding-bottom:10px">
								<div class="reviews-head" style="padding:10px">
									<span class="col-ec5">李四</span>于<span class="col-ec5">2016-06-12 22:23:17</span>对<span class="col-ec5">摩托罗拉</span>发表评论
								</div>
								<div class="reviews-content" style="padding:10px"><span>这个手机不怎么美观</span><div class="pull-right"><span>评论等级：5</span><span style="margin-left:10px">IP地址：0.0.0.0</span></div></div>
								<label for="" class="col-sm-2 control-label"></label><button class="btn btn-danger">允许显示</button>
							</div>
							<div class="return-box" style="margin-top:20px">
								<p class="text-center m-bottom1" style="padding:10px 0;background: #f8f8f8;">回复评论</p>
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">用户名：</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="" placeholder="admin">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">Email：</label>
										<div class="col-sm-5">
											<input type="email" class="form-control" id="" placeholder="admin@163.com">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">回复内容：</label>
										<div class="col-sm-5">
											<textarea class="form-control" id="" rows="3" name="" required=""></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label" style="margin-left:15px"></label>
										<div class="j-get-one select-three">
											<div class="ect-select pull-left">
												<label class="dis-box">
													<i class="j-select-btn ect-checkbox"></i>
													<span class="box-flex">邮件通知</span>
												</label>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="form-group sure-but">
									<label for="" class="col-sm-2 control-label"></label>
									<div class="col-sm-6">
										<button type="submit" class="btn btn-danger pull-left">确定</button>
										<button type="submit" class="btn btn-default pull-left">重置</button>
									</div>
								</div>
						    </div>
						</div>
						</form>
					</div>
				</div>
			</div>
			<!--用户评论出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab shipping">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">用户评价</li>
                                </ul>
							</div>
							
							<div class="content-box">
								<div class="search-list of-hidden">
									<form class="form-horizontal">
										<label for="" class="control-label pull-left m-right1">输入评论内容</label>
										<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
											<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
											<a class="btn btn-danger">
												<span class="glyphicon glyphicon-search"></span>
											</a>
										</div>
									</form>
								</div>
								<div class="m-top2 m-bottom6 select-three j-get-more">
								    <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6px">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
														</label>
													</div>编号
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th>用户名</th>
												<th class="text-center">类型</th>
												<th class="text-center">评论对象</th>
												<th class="text-center">IP地址</th>
												<th>评论时间
													<div class="table-px pull-right ASC">
														<span></span>
														<span></span>
													</div>
												</th>
												<th class="text-center">状态</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</th>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">商品</td>
												<td class="text-center">多普达</td>
												<td class="text-center">0.0.0</td>
												<td class="text-center">2016-06-18 21:23:15</td>
												<td class="text-center">隐藏</td>
												<td class="text-center">
												    <a href="#" type="button" class="btn btn-success btn-xs"  title="查看详情" data-toggle="modal" data-target="#userReviewsInfo"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
											<tr>
												<th>
													<div class="ect-select pull-left" style="margin-right:6x">
														<label class="dis-box">
															<i class="j-select-btn ect-checkbox"></i>
															<span class="box-flex">1</span>
														</label>
													</div>
												</th>
												<td>
													<div><img src="img/user_img1.png" class="goods-pro-img pull-left"/>
														<a href="#" class="goods-pro-link" >诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚N85诺基亚</a>
													</div>
												</td>
												<td class="text-center">商品</td>
												<td class="text-center">摩托罗拉</td>
												<td class="text-center">1.245.0</td>
												<td class="text-center">2016-05-12 21:23:15</td>
												<td class="text-center">显示</td>
												<td class="text-center">
													<a href="#" onclick=" openModal();" type="button" class="btn btn-success btn-xs"  title="查看详情"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
													<a type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pull-left">
										<div class="search-list tabel-down of-hidden">
											<select class="form-control pull-left m-right1">
												<option value="10" selected="selected">删除评论</option>
												<option value="25">允许显示</option>
												<option value="50">禁止显示</option>
											</select>
											<button class="btn btn-danger">确定</button>
										</div>
									</div>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>  
							</div>
						</div>
					</div>
			   </section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>

