<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>用户评论详情</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
		<section id="container" class="sidebar-closed">
			<!--header start-->
			<header class="header white-bg">
				<div class="header-logo pull-left ts-1">
					<a href="index.html" class="logo ts-1"></a>
				</div>
				<div class="sidebar-toggle-box pull-left">
					<a class="menu" data-toggle="tooltip" data-placement="right" title="菜单">
						<i class="iconfont icon-caidan"></i>
					</a>
				</div>
				<div class="search pull-left">
					<div class="search-text">
						<i class="iconfont icon-sousuo"></i>
						<input type="text" placeholder="search..." />
					</div>
				</div>
				<div class="pull-right">
					<a href="#" class="clear radius4 pull-left topClear" style="display:block;">
						<div class="clears">
							<i class="iconfont icon-qingchu"></i><span>清除缓存</span>
						</div>
						<div class="clear-now" >
							<div class="spinner-box">
		                    	<div class="spinner">
								  <div class="spinner-container container1">
								    <div class="circle1"></div>
								    <div class="circle2"></div>
								    <div class="circle3"></div>
								    <div class="circle4"></div>
								  </div>
								  <div class="spinner-container container2">
								    <div class="circle1"></div>
								    <div class="circle2"></div>
								    <div class="circle3"></div>
								    <div class="circle4"></div>
								  </div>
								  <div class="spinner-container container3">
								    <div class="circle1"></div>
								    <div class="circle2"></div>
								    <div class="circle3"></div>
								    <div class="circle4"></div>
								  </div>
								</div>
		                    </div>
		                    <span>正在清除</span>
						</div>
					</a>
					<!--history start-->
					<div class="dropdown pull-left" >
						<a href="javascript:void(0)" class="history active pull-left" id="history" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="iconfont icon-shizhong"></i>
							<span></span>
						</a>
						<div class="dropdown-menu dropdown-menu-no" aria-labelledby="history">
							<i class="caret tf-180"></i>
							<div class="dropdown-list-info" data-stopPropagation="true">
								<div class="dropdown-list-info-ul filter-scroll">
									<ul>
										<li>
											<span class="pull-left">
												<img src="img/user_img1.png" class="img-circle">
											</span>
											<div>
												<h4>Smarty <em>刚刚</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img1.png" class="img-circle">
											</span>
											<div>
												<h4>Smarty <em>刚刚</em></h4>
												<p class="onelist-hidden">编辑商品: 杭依阁 2014夏装新款韩版修身淑女连衣裙女装 蕾丝雪纺连衣裙夏潮</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img2.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Sundy <em>30秒前</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img3.png" class="img-circle pull-left active" >
											</span>
											<div>
												<h4>Carson <em>1分钟前</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img4.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Agela <em>30分钟前</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img5.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Tom <em>昨天</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img6.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Zemon <em>前天</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left active">
												<img src="img/user_img1.png" class="img-circle">
											</span>
											<div>
												<h4>Smarty <em>刚刚</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left active">
												<img src="img/user_img2.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Sundy <em>30秒前</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left active">
												<img src="img/user_img3.png" class="img-circle pull-left active" >
											</span>
											<div>
												<h4>Carson <em>1分钟前</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img4.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Agela <em>30分钟前</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img5.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Tom <em>昨天</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img6.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Zemon <em>前天</em></h4>
												<p class="onelist-hidden">登录系统</p>
											</div>
										</li>
									</ul>
								</div>
								<a href="#" class="btn-submit">查看更多</a>
							</div>

						</div>
					</div>
					<!--history end-->
					<!--message start-->
					<div class="dropdown pull-left">
						<a href="javascript:void(0)" class="email active pull-left" id="messages" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="iconfont icon-youxiangicon"></i>
							<span></span>
						</a>
						<div class="dropdown-menu dropdown-menu-no" aria-labelledby="messages">
							<i class="caret tf-180"></i>
							<div class="dropdown-list-info">
								<div class="dropdown-list-info-ul filter-scroll">
									<ul>
										<li>
											<span class="pull-left active">
												<img src="img/user_img1.png" class="img-circle">
											</span>
											<div>
												<h4>Smarty <em>刚刚</em></h4>
												<p class="onelist-hidden"> 你好，请问IPhone6s有货吗？</p>
											</div>
										</li>
										<li>
											<span class="pull-left active">
												<img src="img/user_img2.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Sundy <em>30秒前</em></h4>
												<p class="onelist-hidden">产品质量很好，非常喜欢。</p>
											</div>
										</li>
										<li>
											<span class="pull-left active">
												<img src="img/user_img3.png" class="img-circle pull-left active" >
											</span>
											<div>
												<h4>Carson <em>1分钟前</em></h4>
												<p class="onelist-hidden">请问还有XL号的吗？</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img4.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Agela <em>30分钟前</em></h4>
												<p class="onelist-hidden">这个很漂亮，很喜欢！</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img5.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Tom <em>昨天</em></h4>
												<p class="onelist-hidden">白黑的还有货吗？</p>
											</div>
										</li>
										<li>
											<span class="pull-left">
												<img src="img/user_img6.png" class="img-circle pull-left">
											</span>
											<div>
												<h4>Zemon <em>前天</em></h4>
												<p class="onelist-hidden">东西怎么还没到啊！</p>
											</div>
										</li>
									</ul>
								</div>
								<a href="#" class="btn-submit">查看更多</a>
							</div>

						</div>
					</div>
					<!--message end-->
					<!--userInfo start-->
					<div class="dropdown dropdown-user-info pull-left">
						<div class="user-info" id="user-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="user-name pull-left"><em class="pull-left">Jason</em><i class="caret pull-left"></i></span>
							<img src="img/user_img.png" class="img-circle" />
						</div>
						<div class="dropdown-menu dropdown-menu-no" aria-labelledby="user-info">
							<i class="caret tf-180"></i>
							<div class="dropdown-user-info-con">
								<div class="wai">
									<div class="d-u-i-img">	
									</div>
									<img src="img/user_img.png" class="img-circle" />
								</div>
								<div class="d-u-i-name">
									<h4>Jason</h4>
									<p>上次登录：2016-04-11 12:18:21</p>
								</div>
								<div class="row text-center d-u-i-list">
									<a href="javascript:void(0)" class="col-xs-4">
										<i class="iconfont icon-zhishipai ts-3"></i>
										<span class="ts-3">开店向导</span>
									</a>
									<a href="javascript:void(0)" class="col-xs-4">
										<i class="iconfont icon-jinlingyingcaiwangtubiao62 ts-3"></i>
										<span class="ts-3">记事本</span>
									</a>
									<a href="javascript:void(0)" class="col-xs-4">
										<i class="iconfont icon-shezhi ts-3"></i>
										<span class="ts-3">个人设置</span>
									</a>
									<a href="javascript:void(0)" class="col-xs-4">
										<i class="iconfont icon-iconfont02 ts-3"></i>
										<span class="ts-3">查看网店</span>
									</a>
									<a href="javascript:void(0)" class="col-xs-4 myhelp">
										<i class="iconfont icon-bf-icon-help ts-3"></i>
										<span class="ts-3">帮助</span>
									</a>
									<a href="javascript:void(0)" class="col-xs-4">
										<i class="iconfont icon-guanyutianmi ts-3"></i>
										<span class="ts-3">关于我们</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<a href="javascript:void(0)" class="map pull-left" data-toggle="modal" data-target="#myMap">
						<i class="iconfont icon-ditu"></i>
					</a>
					<a href="login.html" class="logout pull-left">
						<i class="iconfont icon-tuichu"></i>
					</a>
				</div>
				<!--userInfo end-->
			</header>
			<!-- 帮助文档弹出层 start-->
			<div class="modal fade filter-help" id="myHelp" tabindex="-1" role="dialog" aria-labelledby="myHelpLabel" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="myModalLabel"><strong>帮助与文档</strong></h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-5">
									<div class="help-search clear dis-box">
										<div class="search-text fl box-flex">
											<i class="iconfont icon-sousuo"></i>
											<input type="text" placeholder="输入您要搜索的帮助关键词">
										</div>
										<input type="button" class="ect-btn btn-submit radiusn" value="搜索">
									</div>
									<div class="his-search clear">
										<h6>近期搜索： <a href="#" class="fr">清空纪录</a></h6>
										<div class="his-search-list">
											<a href="#">能不能在产品详情页插入产品360度展示内容呢</a>
											<a href="#">关于footer文章列表关联问题</a>
											<a href="#">Ecshop在php5.5上的解决方案</a>
											<a href="#">关于footer文章列表关联问题</a>
											<a href="#">能不能在产品详情页插入产品360度展示内容呢</a>
										</div>
									</div>
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<div class="search-problem">
										<h6>您可能遇到的问题：<a href="#" class="t-first fr">查看更多</a></h6>
										<div class="search-problem-list">
											<a href="#">ecshop怎么更换模板？</a>
											<a href="#">ucenter整合ecshop 显示通信失败</a>
											<a href="#">如何修改后台的模板堂按钮</a>
											<a href="#">ectouch密码找回</a>
											<a href="#">ecshop PC端设定了不同等级的会员登录显示不同的价格</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 帮助文档弹出层end -->
			<!--header end-->
			<!--aside start-->
			<aside>
				<div id="sidebar" class="nav-collapse ts-1 filter-scroll">
					<ul class="sidebar-menu " id="nav-accordion">
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-kongzhijiemian"></i><span>控制台</span></a></li>
						<li><a href="setup.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-shezhi"></i><span>设置</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="goods_list.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-rexiaoshangpin"></i><span>商品</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-icon"></i><span>订单</span><i class="iconfont icon-jiantou pull-right"></i><em class="pull-right">7</em></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-huiyuan"></i><span>会员</span><i class="iconfont icon-jiantou pull-right"></i><em class="pull-right">99+</em></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-jjshmeiyouneirong"></i><span>内容</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-yingxiaojingji"></i><span>营销</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-bingzhuangtu"></i><span>报表</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-moban4"></i><span>模板</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-database"></i><span>数据库</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-gongjuxiang"></i><span>工具箱</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-fenxiao"></i><span>微分销</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
						<li><a href="index.html" data-toggle="tooltip" data-container="body" data-placement="right" title=""><i class="iconfont icon-weixin"></i><span>微信通</span><i class="iconfont icon-jiantou pull-right"></i></a></li>
					</ul>
				</div>
				<div class="nav-collapse2 ts-1 filter-scroll">
					<h3>商品</h3>
					<ul>
						<li><a href="goods_list.html">商品列表</a></li>
						<li><a href="goods_addNewGoods.html">添加新商品</a></li>
						<li><a href="goods_category_list.html">商品分类</a></li>
						<li><a href="user_reviews.html" class="active">用户评论</a></li>
						<li><a href="goods_brand.html">商品品牌</a></li>
						<li><a href="goods_type.html">商品类型</a></li>
						<li><a href="goods_recycleBin.html">商品回收站</a></li>
					</ul>
				</div>
			</aside>
			<!--aside end-->
			<!--map弹出层 start-->
			<div class="modal fade filter-map" id="myMap" tabindex="-1" role="dialog" aria-labelledby="myMapLabel" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myMapLabel"><strong>管理中心导航</strong></h4>
						</div>
						<div class="modal-body row ">
							<ul class="col-xs-12 w-space filter-scroll">
								<li class="dis-i-block">
									<a href="#">控制台</a>
									<ul>
										<li><a href="#">欢迎页面</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">设置</a>
									<ul>
										<li><a href="setup.html">商店设置</a></li>
										<li><a href="payment.html">支付方式</a></li>
										<li><a href="#">配送方式</a></li>
										<li><a href="area.html">地区列表</a></li>
										<li><a href="admin_list.html">管理员列表</a></li>
										<li><a href="admin_log.html">管理员日志</a></li>
										<li><a href="#">授权证书</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">商品</a>
									<ul>
										<li><a href="#">商品列表</a></li>
										<li><a href="#">添加新商品</a></li>
										<li><a href="#">商品分类</a></li>
										<li><a href="#">用户评论</a></li>
										<li><a href="#">商品品牌</a></li>
										<li><a href="#">商品类型</a></li>
										<li><a href="#">商品回收站</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">订单</a>
									<ul>
										<li><a href="#">订单列表</a></li>
										<li><a href="#">订单查询</a></li>
										<li><a href="#">合并订单</a></li>
										<li><a href="#">订单打印</a></li>
										<li><a href="#">缺货登记</a></li>
										<li><a href="#">添加订单</a></li>
										<li><a href="#">发货单列表</a></li>
										<li><a href="#">退货单列表</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">会员</a>
									<ul>
										<li><a href="#">会员列表</a></li>
										<li><a href="#">添加会员</a></li>
										<li><a href="#">会员等级</a></li>
										<li><a href="#">会员留言</a></li>
										<li><a href="#">充值和提现申请</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">内容</a>
									<ul>
										<li><a href="#">文章分类</a></li>
										<li><a href="#">文章列表</a></li>
										<li><a href="#">广告列表</a></li>
										<li><a href="#">广告位置</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">营销</a>
									<ul>
										<li><a href="#">红包类型</a></li>
										<li><a href="#">团购活动</a></li>
										<li><a href="#">优惠活动</a></li>
										<li><a href="#">积分商城商品</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">报表</a>
									<ul>
										<li><a href="#">客户统计</a></li>
										<li><a href="#">订单统计</a></li>
										<li><a href="#">销售概况</a></li>
										<li><a href="#">会员排行</a></li>
										<li><a href="#">会员排行</a></li>
										<li><a href="#">销售排行</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">模板</a>
									<ul>
										<li><a href="#">模板选择</a></li>
										<li><a href="#">语言项编辑</a></li>
										<li><a href="#">邮件模板</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">数据库</a>
									<ul>
										<li><a href="#">数据备份</a></li>
										<li><a href="#">数据表优化</a></li>
										<li><a href="#">SQL查询</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">工具箱</a>
									<ul>
										<li><a href="#">导航设置</a></li>
										<li><a href="#">登录插件</a></li>
										<li><a href="#">邮件服务器设置</a></li>
										<li><a href="#">邮件队列管理</a></li>
										<li><a href="#">验证码管理</a></li>
										<li><a href="#">在线更新</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">微分销</a>
									<ul>
										<li><a href="#">微分销设置</a></li>
										<li><a href="#">分销商审核</a></li>
										<li><a href="#">分销商管理</a></li>
										<li><a href="#">销售佣金设置</a></li>
										<li><a href="#">销售订单管理</a></li>
										<li><a href="#">分成佣金设置</a></li>
										<li><a href="#">分成订单管理</a></li>
										<li><a href="#">分销商排行榜</a></li>
										<li><a href="#">佣金提现管理</a></li>
									</ul>
								</li>
								<li class="dis-i-block">
									<a href="#">微信通</a>
									<ul>
										<li><a href="#">公众号设置</a></li>
										<li><a href="#">群发消息</a></li>
										<li><a href="#">自动回复</a></li>
										<li><a href="#">自定义菜单</a></li>
										<li><a href="#">模板消息</a></li>
										<li><a href="#">用户管理</a></li>
										<li><a href="#">素材管理</a></li>
										<li><a href="#">扫码引荐</a></li>
										<li><a href="#">扩展功能</a></li>
										<li><a href="#">提醒设置</a></li>
										<li><a href="#">多客服设置</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--map弹出层 end-->
			<!--main content start-->
			<section id="main-content">
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">评价详情</li>
                                </ul>
								<a href="user_reviews.html" class="btn btn-danger pull-right" role="button">用户评论</a>
							</div>
							<div class="content-box p-bottom5">
								<div class="reviews-box" style="border:1px solid #e7e7e9;background:#f8fafb;overflow: hidden;padding-bottom:10px">
									<div class="reviews-head" style="padding:10px">
										<span class="col-ec5">李四</span>于<span class="col-ec5">2016-06-12 22:23:17</span>对<span class="col-ec5">摩托罗拉</span>发表评论
									</div>
									<div class="reviews-content" style="padding:10px"><span>这个手机不怎么美观</span><div class="pull-right"><span>评论等级：5</span><span style="margin-left:10px">IP地址：0.0.0.0</span></div></div>
									<label for="" class="col-sm-2 control-label"></label><button class="btn btn-danger">允许显示</button>
								</div>
								<div class="return-box" style="margin-top:20px">
									<p class="text-center" style="padding:15px 0">回复评论</p>
									<form class="form-horizontal">
										<div class="form-group">
											<label for="" class="col-sm-2 control-label">用户名：</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="" placeholder="admin">
											</div>
										</div>
										<div class="form-group">
											<label for="" class="col-sm-2 control-label">Email：</label>
											<div class="col-sm-5">
												<input type="email" class="form-control" id="" placeholder="admin@163.com">
											</div>
										</div>
										<div class="form-group">
											<label for="" class="col-sm-2 control-label">回复内容：</label>
											<div class="col-sm-5">
												<textarea class="form-control" id="" rows="6" name="" required=""></textarea>
											</div>
										</div>
										<div class="form-group">
											<label for="" class="col-sm-2 control-label" style="margin-left:15px"></label>
											<div class="j-get-one select-three">
												<div class="ect-select pull-left">
													<label class="dis-box">
														<i class="j-select-btn ect-checkbox"></i>
														<span class="box-flex">邮件通知</span>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group sure-but sure-reset-box">
											<label for="" class="col-sm-2 control-label"></label>
											<div class="col-sm-6 p-left5">
												<button class="btn btn-danger">确定</button>
												<button class="btn btn-default">重置</button>
										 	</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
			   </section>
			</section>
			<!--main content end-->
			<footer class="footer text-center">
				上海商创网络科技有限公司 (ECTouch事业部) 版权所有
				<a href="#" class="go-top pull-right">
					<i class="iconfont icon-jiantou-copy tf-180"></i>
				</a>
			</footer>
		</section>
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/ectouch.js"></script>
	</body>
</html>

