<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags always come first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>红包类型</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-reset.css">
<link rel="stylesheet" href="css/ectouch.css" />
<link rel="stylesheet" href="iconfont/iconfont.css" />
<!--选择日期-->
<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
</head>
<body class="white-bg">
        <!--红包类型编辑弹出层开始-->
                <div class="modal fade filter-area" id="myAreas-market" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">红包类型</h4>
                            </div>
                            <form class="form-horizontal">
                                 <div class="modal-body j-get-one select-three">
                                <!--修改内容-->
                                       <section>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">类型名称：</label>
                                                 <div class="col-sm-4 p-left15">
                                                   <input type="text" class="form-control" id="" placeholder="" value="按照商品发放">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>红包金额：</label>
                                                 <div class="col-sm-4 p-left15">
                                                   <input type="text" class="form-control" id="" placeholder="" value="50.00">
                                                   <span class="notice-span" id="noticeGoodsType">此类型的红包可以抵销的金额</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType1');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>最小订单金额：</label>
                                                 <div class="col-sm-4 p-left15">
                                                   <input type="text" class="form-control" id="" placeholder="" value="0.00">
                                                   <span class="notice-span" id="noticeGoodsType1">只有商品总金额达到这个数的订单才能使用这种红包</span>
                                                </div>
                                            </div>
                                            <div class="form-group j-get-one select-three">
                                                <label for="" class="col-sm-2 control-label" style="margin-right:15px;">如何发放此类型红包：</label>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">按用户发放</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">按商品发放</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">按订单金额发放</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">线下发放的红包</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType2');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>发放起始日期：</label>
                                                 <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                    <input type="text" class="form-control dpd1" name="from_ffqs">
                                                   <span class="notice-span" id="noticeGoodsType2">只有当前时间介于起始日期和截止日期之间时，此类型的红包才可以发放</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">发放结束日期：</label>
                                                 <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                    <input type="text" class="form-control dpd1" name="from_ffjs">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType2');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>使用起始日期：</label>
                                                 <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                    <input type="text" class="form-control dpd1" name="from_syqs">
                                                   <span class="notice-span" id="noticeGoodsType2">只有当前时间介于起始日期和截止日期之间时，此类型的红包才可以使用</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">使用结束日期：</label>
                                                 <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                    <input type="text" class="form-control dpd1" name="from_syjs">
                                                </div>
                                            </div>
                                        </section>
                                     </div>
                                <!--修改内容结束-->
		                            <div class="modal-footer">
		                                <div class="row">
	                                        <div class="form-group sure-but">
	                                            <label for="" class="col-sm-2 control-label"></label>
	                                            <div class="col-sm-6 tabel-down">
	                                                <button type="submit" class="btn btn-danger pull-left">确定</button>
	                                                <button type="reset" class="btn btn-default pull-left">重置</button>
	                                            </div>
	                                        </div>
		                                </div>
		                            </div>
		                        </form>
                        </div>
                    </div>
                </div>
        <!--红包类型编辑弹出层结束-->
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">红包类型</li>
                            </ul>
							<a href="bonus_type.html" class="btn btn-danger pull-right" >添加红包类型</a>
						</div>
						<div class="content-box">
                            <!--marketing_type-->
                            <table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th class="text-center">类型名称</th>
											<th class="text-center">发放类型</th>
											<th class="text-center">红包金额</th>
											<th class="text-center">订单下限</th>
											<th class="text-center">发放数量</th>
											<th class="text-center">使用数量</th>
											<th class="text-center">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>线下红包</td>
											<td>	线下发放的红包</td>
											<td class="text-center">100.00	</td>
											<td class="text-center">300.00</td>
											<td class="text-center">10</td>
											<td class="text-center">1</td>
											<td class="text-center">
                                            	<a href="#" type="button" class="btn btn-success  btn-xs" title="报表" ><i class="glyphicon glyphicon-stats"></i></a>
                                            	<a href="bonus_by_print.html" type="button" class="btn btn-info btn-xs" title="发放" ><i class="glyphicon glyphicon-resize-full"></i></a>
                                            	<a href="bonus_list.html" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-market"><i class="glyphicon glyphicon-pencil"></i></a>
												<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>红包订单</td>
											<td>按订单金额发放</td>
											<td class="text-center">100.00	</td>
											<td class="text-center">300.00</td>
											<td class="text-center">10</td>
											<td class="text-center">1</td>
											<td class="text-center">
                                            	<a href="bonus_list.html" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-market"><i class="glyphicon glyphicon-pencil"></i></a>
												<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>商品红包</td>
											<td>按商品发放</td>
											<td class="text-center">100.00	</td>
											<td class="text-center">300.00</td>
											<td class="text-center">10</td>
											<td class="text-center">1</td>
											<td class="text-center">
                                            	<a href="bonus_by_user.html" type="button" class="btn btn-info btn-xs" title="发放"><i class="glyphicon glyphicon-resize-full"></i></a>
                                            	<a href="bonus_list.html" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-market"><i class="glyphicon glyphicon-pencil"></i></a>
												<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>用户红包</td>
											<td>按用户发放</td>
											<td class="text-center">100.00	</td>
											<td class="text-center">300.00</td>
											<td class="text-center">10</td>
											<td class="text-center">1</td>
											<td class="text-center">
                                            	<a href="bonus_by_send.html" type="button" class="btn btn-info btn-xs" title="发放"><i class="glyphicon glyphicon-resize-full"></i></a>
                                            	<a href="bonus_list.html" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-market"><i class="glyphicon glyphicon-pencil"></i></a>
												<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
                            <!--marketing_type end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
        <!--日期时间选择-->
        <script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="js/advanced-form-components.js"></script>
        <!--显示隐藏div层-->
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>