<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>红包类型</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">红包类型</li>
                            </ul>
							<a href="bonus_type.html" class="btn btn-danger pull-right" >添加红包类型</a>
						</div>
						<div class="content-box">
                            <!--marketing_type-->
								<div class="m-top2 m-bottom6 select-three j-get-more">
								 <table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th width="50"><div class="ect-select pull-left">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            <span>编号</span>
                                            </label>
                                            </div></th>
											<th class="text-center">红包类型</th>
											<th class="text-center">订单号</th>
											<th class="text-center">使用会员</th>
											<th class="text-center">使用时间</th>
											<th class="text-center">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
                                            <div class="ect-select pull-left">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            <span>001</span>
                                            </label>
                                            </div></td>
											<td class="text-center">发放</td>
											<td class="text-center">2016080702094994101</td>
											<td class="text-center">使用</td>
											<td class="text-center">2016-08-08 10:17:00</td>
											<td class="text-center">
												<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
											</td>
										</tr>
                                       	<tr>
                                        	<td colspan="9" class="tabel-down">
                                            <div class="ect-select pull-left martop6">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            <span>全选</span>
                                            </label>
                                            </div><button class="btn btn-danger">删除</button></td>
                                        </tr>
									</tbody>
								</table>
							     <div class="page pull-right ">
									<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
									<div class="page-link ">
										<a>第一页</a>
										<a>上一页</a>
										<a>下一页</a>
										<a>末页</a>
									</div>
									<div class="page-select ">
										<select class="form-control ">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
										</select>
									</div>
								</div>
							</div>
                            <!--marketing_type end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>