<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>红包类型</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch-responsive.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">发放红包</li>
                            </ul>
							<a href="bonus_type.html" class="btn btn-danger pull-right" >添加红包类型</a>
						</div>
						<div class="content-box">
                            <div class="form-horizontal tabel-down j-get-more select-three">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">按用户等级发放红包：</label>
                                             <div class="col-sm-2">
                                               <select class="form-control pull-left">
                                                <option value="0">选择会员等级...</option>
                                                <option value="1">注册用户</option>
                                                <option value="3">代销用户</option>
                                                <option value="2">vip</option>
                                            </select>
                                            </div>
                                           <div class="ect-select pull-left">
                                                <label class="dis-box">
                                                    <i class="j-select-btn ect-checkbox"></i>
                                                    <span class="box-flex">只给通过邮件验证的用户发放红包</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                             <div class="col-sm-6 text-center">
                                                <button type="submit" class="btn btn-danger">确定发送红包</button>
                                            </div>
                                        </div>
                               </div>
                            <div class="search-list order-search of-hidden form-horizontal bgf8 ">
                                <label for="" class=" pull-left control-label">关键字：</label>
                                <input type="text" class="form-control pull-left" id="" placeholder="" value="">
                                <button class="btn btn-danger pull-left">搜索</button>
                            </div>
                            <!--marketing_type-->
                           	<form class="form-horizontal tasi-form m-top2" action="#" style="padding:0 20px">
                       <div class="m-top2">
                                <div class="form-group ect-border-bottom0">
                                    <div class="col-md-5 col-sm-5 text-center">可选商品</div>
                                    <div class="col-lg-1 col-md-2 col-sm-2 text-center">操作</div>
                                    <div class="col-md-5 col-sm-5 text-center">跟该商品关联的商品</div>
                                </div>
                                <div class="form-group">
                                  <div class="col-md-5 col-sm-5">
                                    <select name="source_select1" size="15" class="source-select filter-scroll" multiple="true" tabindex="5" style="overflow: hidden; outline: none;">
                                      <option value="1" style="padding:10px;" id="1388.00">KD876F</option>
                                    </select>
                                  </div>
                                  <div class="col-lg-1 col-md-2 col-sm-2 text-center ect-rel">
                                        <p class="m-top1"><button type="button" class="btn btn-danger">&gt;</button></p>
                                        <p class="m-top1"><button type="button" class="btn btn-danger">&lt;</button></p>
                                  </div>
                                  <div class="col-md-5 col-sm-5">
                                    <select name="source_select1" size="15" class="source-select filter-scroll" multiple="true" tabindex="6" style="overflow: hidden; outline: none;">
                                      <option value="1" style="padding:10px;" id="1388.00">KD876F</option> 关联		                      <option value="4" id="58.00">诺基亚N85原装充电器</option>
                                      <option value="3" id="68.00">诺基亚原装5800耳机</option>
                                      <option value="5" id="20.00">索爱原装M2卡读卡器</option>
                                      <option value="6" id="42.00">胜创KINGMAX内存卡</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group text-center col-sm-11">
                                    <button class="btn btn-danger">发放</button>
                                </div>
                           </div>
                        </form>
                            <!--marketing_type end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script src="js/jquery.tagsinput.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>