<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>红包类型</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch-responsive.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">发放红包</li>
                            </ul>
							<a href="bonus_type.html" class="btn btn-danger pull-right" >红包类型</a>
						</div>
						<div class="content-box">
                            <!--marketing_type-->
								<div class="form-horizontal tabel-down">
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">类型金额：</label>
                                                 <div class="col-sm-4">
                                                   <select class="form-control pull-left">
                                                    <option value="10" selected="selected">线下红包 [￥5.00元]</option>
                                                    <option value="25">线下红包 [￥5.00元]</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">类型金额：</label>
                                                 <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="" value="">
                                                </div>
                                                <span class="notice-span" id="noticeGoodsType">提示:红包序列号由六位序列号种子加上四位随机数字组成</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label"></label>
                                                 <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-danger pull-left m-right1">确定</button>
                                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                                </div>
                                            </div>
                                   </div>
                            <!--marketing_type end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script src="js/jquery.tagsinput.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>