<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags always come first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>优惠活动</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-reset.css">
<link rel="stylesheet" href="css/ectouch.css" />
<link rel="stylesheet" href="iconfont/iconfont.css" />
<!--通用信息中的上传商品图片-->
<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
<!--选择日期-->
<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
</head>
<body class="white-bg">
            <!--优惠活动编辑弹出层开始-->
                    <div class="modal fade filter-area" id="myAreas-info" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">优惠活动</h4>
                                </div>
                                <form class="form-horizontal  tabel-down">
                                    <div class="modal-body j-get-more select-three">
                                    <!--修改内容-->
                                           <section>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">优惠活动名称：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="测试优惠活动">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">优惠开始时间：</label>
                                                     <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dpd1" name="from_yhkssj">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">优惠结束时间：	</label>
                                                     <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dpd1" name="from_yhjssj">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                        <label for="" class="col-sm-2 control-label m-right1">享受优惠的会员等级：</label>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>非会员</span>
                                                            </label>
                                                        </div>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>注册用户</span>
                                                            </label>
                                                        </div>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>vip</span>
                                                            </label>
                                                        </div>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>代销用户 </span>
                                                            </label>
                                                        </div>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>微信用户</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">优惠范围：</label>
                                                     <div class="col-sm-5 p-left15">
                                                       <select class="form-control pull-left m-right1">
                                                            <option value="10" selected="selected">请选择</option>
                                                            <option value="25">全部商品</option>
                                                        </select>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>人性的弱点 全集 </span>
                                                            </label>
                                                        </div>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                            <i class="j-select-btn ect-checkbox"></i>
                                                            <span>人理学与生活(第16版) 中文版 </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">搜索并加入优惠范围：</label>
                                                     <div class="col-sm-6 p-left15">
                                                      <input type="text" class="form-control pull-left m-right1" id="" placeholder="" value="10" style="width:30%">
                                                      <button type="submit" class="btn btn-danger pull-left m-right1">确定</button>  
                                                       <select class="form-control pull-left m-right1" style="width:30%">
                                                            <option value="10" selected="selected">请选择</option>
                                                            <option value="25">全部商品</option>
                                                        </select> 
                                                        <button type="submit" class="btn btn-danger pull-left">+</button>
                                                    </div> 
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">金额下限：</label>
                                                     <div class="col-sm-4 p-left15">
                                                      <input type="text" class="form-control" id="" placeholder="" value="10">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">金额上限：</label>
                                                     <div class="col-sm-4 p-left15">
                                                      <input type="text" class="form-control pull-left m-right1" style="width:60%" id="" placeholder="" value="10">
                                                      <span class=" pull-left martop6">0表示没有上限</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType1');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>优惠方式：</label>
                                                     <div class="col-sm-6 p-left15">
                                                       <select class="form-control pull-left m-right1" style="width:45%;">
                                                        <option value="10" selected="selected">请选择</option>
                                                        <option value="25">享受现金减免</option>
                                                        <option value="25">享受价格折扣</option>
                                                        <option value="25">手机专享价</option>
                                                    </select><input type="text" class="form-control" style="width:45%"  id="" placeholder="" value="10">
                                                       <span class="notice-span" id="noticeGoodsType1">当优惠方式为“享受赠品（特惠品）”时，请输入允许买家选择赠品（特惠品）的最大数量，数量为0表示不限数量；当优惠方式为“享受现金减免”时，请输入现金减免的金额；当优惠方式为“手机专享价”时，请输入现金优惠的金额；当优惠方式为“享受价格折扣”时，请输入折扣（1－99），如：打9折，就输入90。</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">促销图片：</label>
                                                     <div class="col-sm-8 martop6">
                                                      <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img src="img/no-img.png" alt="">
                                                        </div>
                                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                        <div>
                                                            <span class="btn btn-white btn-file">
                                                        <span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
                                                            <span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
                                                            <input type="file" class="default">
                                                            </span>
                                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
                                                        </div>
                                                    </div>
                                                    <input type="text" value="商品图片外部URL" class="form-control" id="" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
                                                    </div>
                                                </div>
                                            </section>
                                         </div>
                                    <!--修改内容结束-->
				                        <div class="modal-footer">
				                            <div class="row">
			                                    <div class="form-group sure-but">
			                                        <label for="" class="col-sm-2 control-label"></label>
			                                        <div class="col-sm-6">
			                                            <button type="submit" class="btn btn-danger pull-left">确定</button>
			                                            <button type="reset" class="btn btn-default pull-left">重置</button>
			                                        </div>
			                                    </div>
				                            </div>
				                        </div>
				                    </form>
                            </div>
                        </div>
                    </div>
            <!--优惠活动编辑弹出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">优惠活动</li>
                                </ul>
								<a href="favourable_list.html" class="btn btn-danger pull-right" >添加优惠活动</a>
							</div>
							<div class="content-box">
                                <!--marketing_type-->
                                <div class="search-list order-search of-hidden form-horizontal select-three j-get-more bgf8 ">
                                    <label for="" class="control-label pull-left">商品名称：</label>
                                    <input type="text" class="form-control pull-left" id="" placeholder="">
                                <div class="ect-select pull-left martop6">
                                    <label class="dis-box">
                                    <i class="j-select-btn ect-checkbox"></i>
                                    <span>发送邮件</span>
                                    </label>
                                    </div>
									<button class="btn btn-danger pull-left">搜索</button>
								</div>
                                
                                
                                <table class="table table-bordered table-hover select-three j-get-more m-top2">
										<thead>
											<tr>
												<th><div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span> 编号</span>
                                                </label>
                                                </div></th>
												<th class="text-center">优惠活动名称</th>
												<th class="text-center">开始时间</th>
												<th class="text-center">结束时间</th>
												<th class="text-center">金额下限</th>
												<th class="text-center">金额上限</th>
												<th class="text-center">排序</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span> 01</span>
                                                </label>
                                                </div></td>
												<td>测试优惠活动	</td>
												<td class="text-center">2016-05-26 00:00	</td>
												<td class="text-center">2017-12-29</td>
												<td class="text-center">0.00</td>
												<td class="text-center">0.00</td>
												<td class="text-center">51</td>
												<td class="text-center">
                                                    <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-info"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
                                            <tr>
                                            <td colspan="8" class="tabel-down"><div class="ect-select pull-left martop6">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span>全选</span>
                                                </label>
                                                </div><button class="btn btn-danger">删除</button></td>
                                            </tr>
										</tbody>
									</table>
                                    <div class="page pull-right ">
                                            <div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
                                            <div class="page-link ">
                                                <a>第一页</a>
                                                <a>上一页</a>
                                                <a>下一页</a>
                                                <a>末页</a>
                                            </div>
                                            <div class="page-select ">
                                                <select class="form-control ">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                </select>
                                            </div>
                                        </div>
                                <!--marketing_type end-->
						    </div>
                             
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--上传图片-->
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
        <!--日期时间选择-->
        <script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="js/advanced-form-components.js"></script>
        <!--显示隐藏div层-->
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>