<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>广告位置</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-reset.css">
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/ectouch.css" />
	</head>
	<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">广告位置</li>
                                </ul>
								<a class="btn btn-danger pull-right" data-toggle="modal" data-target="#advertPosition">添加广告位</a>
							</div>
							<div class="content-box">
								<!--添加文章分类弹出层开始-->
								<div class="modal fade filter-area in" id="advertPosition" tabindex="-1" role="dialog" aria-labelledby="myGoodsTypeLabel" data-backdrop="static">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel"><strong>添加广告位</strong></h4>
											</div>
											<form class="form-horizontal">
											    <div class="modal-body">
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">广告名称：</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">广告宽度：</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="" placeholder="200px">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">广告高度：</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="" placeholder="200px">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">广告为描述：</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="" placeholder="">
														</div>
													</div>
													<div class="form-group">
														<label for="" class="col-sm-2 control-label">广告模板：</label>
														<div class="col-sm-5">
															<textarea name="" rows="3" cols="" class="form-control"></textarea>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<div class="form-group sure-but">
														<label for="" class="col-sm-2 control-label"></label>
														<div class="col-sm-6">
															<button type="button" class="btn btn-danger pull-left">确定</button>
															<button type="button" class="btn btn-default pull-left">重置</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!--添加文章分类弹出层结束-->
								<section>
									<table class="table table-bordered table-hover " id="list-table">
										<thead>
											<tr>
												<th>广告位名称</th>
												<th class="text-center">位置宽度</th>
												<th class="text-center">位置高度</th>
												<th class="text-center">广告位描述</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>站内广告</td>
												<td class="text-center">400</td>
												<td class="text-center">400</td>
												<td class="text-center"></td>
												<td class="text-center">
													<a href="advert_list.html" type="button" class="btn btn-success  btn-xs" title="查看广告内容"><i class="glyphicon glyphicon-search"></i></a>
													<a data-toggle="modal" data-target="#advertPosition" type="button" class="btn btn-primary btn-xs" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" onclick="listTable.remove(16, '您确认要删除这条记录吗?')" type="button" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</section>
			<!--main content end-->
		<!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
	</body>
</html>
