<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>删除</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">管理中心</li>
                                </ul>
								<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
							</div>
							<div class="content-box">
							  	<!--order-->
                                <p class="bg-warning padding-all browser-prompt">
                                    以下订单无法被移除
                                </p>
                                <div class="m-top2 m-bottom6 select-three j-get-more">
									 <table class="table table-bordered table-hover ">
										<thead>
											<tr>
                                            	<th><div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                </label>
                                                </div></th>
												<th class="text-center">订单号</th>
												<th class="text-center">订单状态</th>
												<th class="text-center">您可进行的操作</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
                                            	<td><div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                </label>
                                                </div></td>
                                            	<td>2016052306903</td>
                                            	<td>已分单,已付款,收货确认</td>
                                            	<td>未发货,退货,售后,</td>
                                            	<td class="text-center"><a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas"><i class="glyphicon glyphicon-pencil"></i></a></td>
											</tr>
										</tbody>
									</table>
                                <!--order end-->
						    </div>
                             
						 
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			function show(tag){
			 var SonContent=document.getElementById(tag);
			 SonContent.style.display='block';
			 
			 }
			function hide(tag){
			 var SonContent=document.getElementById(tag);
			 SonContent.style.display='none';
			}
        </script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>