<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>添加订单</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">添加订单</li>
                            </ul>
							<a href="order_details.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
                        	 <!-- Nav tabs -->
                            <ul class="goods-new-title order-edit-title m-bottom4">
                                    <li class="goods-header position-r"><a href="order_add_edit.html"><div class="circle-num">1</div><span style="margin-left:35px">加入订单</span></a><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_search.html"><div class="circle-num">2</div><span style="margin-left:35px">收货人信息</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_distribution.html"><div class="circle-num">3</div><span style="margin-left:35px">配货方式</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r "><a href="order_add_payment.html"><div class="circle-num">4</div><span style="margin-left:35px">支付方式</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r active"><a href="order_add_packing.html"><div class="circle-num">5</div><span style="margin-left:35px">选择包装</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_cost.html"><div class="circle-num">6</div><span style="margin-left:35px">费用信息</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                </ul>
                            <!-- Tab panes -->
						  	<!--order-->
                            <div class="row form-horizontal j-get-one select-three">
                                 <div class="form-group">
                                    <label for="" class="col-sm-3 m-right1 control-label">选择包装：</label>
                                    <div class="ect-select pull-left">
                                        <label class="dis-box">
                                            <i class="j-select-btn"></i>
                                            <span class="box-flex">不要包装</span>
                                        </label>
                                    </div>
                                    <div class="ect-select pull-left">
                                        <label class="dis-box">
                                            <i class="j-select-btn"></i>
                                            <span class="box-flex">精品包装</span>
                                        </label>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-3 m-right1 control-label">选择贺卡：</label>
                                    <div class="ect-select pull-left">
                                        <label class="dis-box">
                                            <i class="j-select-btn"></i>
                                            <span class="box-flex">不要贺卡</span>
                                        </label>
                                    </div>
                                    <div class="ect-select pull-left">
                                        <label class="dis-box">
                                            <i class="j-select-btn"></i>
                                            <span class="box-flex">祝福贺卡</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">选择贺卡：</label>
                                    <div class="col-sm-8">
                                       <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">发票类型：</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">发票抬头：</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">发票内容：</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">客户给商家的留言：</label>
                                    <div class="col-sm-8">
                                       <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">缺货处理：</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">商家给客户的留言：</label>
                                    <div class="col-sm-8">
                                       <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-8 tabel-down">
                                        <a href="order_add_payment.html"><button type="button" class="btn btn-danger">上一步</button></a>
                                        <a href="order_add_cost.html"><button type="button" class="btn btn-danger">下一步</button></a>
                                        <a href="order_add.html"><button type="button" class="btn btn-default">取消</button></a>
                                    </div>
                                </div>
                                   
                            </div>
                            <!--order end-->
					    </div>
                         
					 
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>