<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>退换货列表</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">订单详情</li>
                            </ul>
							<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
						  	<!--order_details-->
                            	<div class="detail_tab">
                                	<ul class="setbacks">
                                    	<li class="active"><h4>提交订单</h4><i class="seti"></i><p>2016-09-22 08:11:12</p></li>
                                    	<li><h4>支付订单</h4><i class="seti"></i><p></p></li>
                                    	<li><h4>商家发货</h4><i class="seti"></i><p></p></li>
                                    	<li><h4>确认收货</h4><i class="seti"></i><p></p></li>
                                    	<li><h4>商品评价</h4><i class="seti"></i><p></p></li>
                                    </ul>
                                    <dl class="setinvalid">
                                    	<dt class="pull-left"></dt>
                                        <dd class="pull-left"><h4>订单无效</h4><p>由系统管理员  admin 操作，备注：客户不想买了</p></dd>
                                    </dl>
                                </div>
                                
                                
								 <table class="setable">
									<tbody>
										<tr valign="top">
											<td>
                                            	<!--基本信息-->
                                                <div class="set_title bgf8">服务订单信息</div>
                                            	<ul class="setinfor">
                                                    <li><label class="pull-left">订单号：</label><p>2016081258759</p></li>
                                                    <li><label class="pull-left">购货人：</label><p>xiaorui001</p></li>
                                                    <li><label class="pull-left">申请时间：</label><p>2016-08-12 09:10:05</p></li>
                                                    <li><label class="pull-left">申请原因：</label><p>颜色问题</p></li>
                                                    <li><label class="pull-left">联系人：</label><p>测试</p></li>
                                                    <li><label class="pull-left">服务类型：</label><p>换货</p></li>
                                                    <li><label class="pull-left">联系电话：</label><p>15021553652</p></li>
                                                 </ul>
                                                <div class="more-inform">
                                                    <a href="javascript:void(0)">更多信息 <span class="glyphicon glyphicon-menu-down"></span></a>
                                                    <div class="more-inform-content">
                                                    	<ul>
                                                            <li><label>服务状态：</label>待审核</li>
                                                            <li><label>退回数量：</label>1</li>
                                                            <li><label>退款状态：</label>未退款</li>
                                                            <li><label>应退金额：</label>￥0.00元</li>
                                                            <li><label>凭据：</label><span class="glyphicon glyphicon-ok text-success"></span></li>
                                                            <li><label>退回地址：</label>[ 甘肃 兰州 皋兰县] 啊</li>
                                                            <li><label>审核状态：</label>申请失败</li>
                                                            <li><label>退回快递：</label> 001</li>
                                                            <li><label>换出快递：</label> 001</li>
                                                            <li><label>退回单号：</label> 001</li>
                                                            <li><label>换出单号：</label> 001</li>
                                                        </ul>
                                                    </div>
                                                </div> 
                                                <!--基本信息 end-->
                                                <!--发送/查看留言弹出层开始-->
                                               <div class="modal fade filter-area in" id="myAreas-send-view" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">发送/查看留言</h4>
                                                            </div>
                                                            <form class="form-horizontal">
	                                                            <div class="modal-body j-get-one select-three">
	                                                                <!--修改内容-->
		                                                        	<div class="form-group">
		                                                                <label for="" class="col-sm-3 control-label">留言标题：</label>
		                                                                <div class="col-sm-5">
		                                                                    <input type="text" class="form-control" id="" placeholder="ectouch">
		                                                                </div>
		                                                            </div>
		                                                            <div class="form-group">
		                                                                <label for="" class="col-sm-3 control-label">留言内容：</label>
		                                                                <div class="col-sm-5">
		                                                                   <textarea class="form-control" id="" rows="3" name="" required=""></textarea>
		                                                                </div>
		                                                            </div>
	                                                                <!--修改内容结束-->
	                                                            </div>
	                                                            <div class="modal-footer">
                                                                    <div class="form-group sure-but tabel-down">
                                                                        <label for="" class="col-sm-2 control-label"></label>
                                                                        <div class="col-sm-6">
                                                                            <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                                            <button type="reset" class="btn btn-default pull-left">重置</button>
                                                                        </div>
                                                                    </div>
	                                                            </div>
	                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--发送/查看留言弹出层结束-->
                                            	<!--其他信息-->
                                                <div class="set_title bortop bgf8">订单信息 </div>
                                            	<ul class="setinfor">
                                                    <li><label class="pull-left">订单号：</label><p>	2016081209100553605</p></li>
                                                    <li><label class="pull-left">订单状态：</label><p>已分单,已付款,已发货</p></li>
                                                    <li><label class="pull-left">购货人：</label><p>xiaorui001 <a href="javascript:;" data-toggle="modal" data-target="#myAreas-other-information">[显示购货人信息]</a> <a href="javascript:;" data-toggle="modal" data-target="#myAreas-send-view">[发送/查看留言]</a></p></li>
                                                    <li><label class="pull-left">下单时间：</label><p>2016-08-12 09:10:05</p></li>
                                                </ul>
                                                <div class="more-inform">
                                                    <a href="javascript:void(0)">更多信息 <span class="glyphicon glyphicon-menu-down"></span></a>
                                                    <div class="more-inform-content">
                                                   			<ul>
                                                            	<li><label>支付方式：</label>支付宝(备注: N/A)</li>
                                                            	<li><label>付款时间：</label>2016-08-12 09:10:23</li>
                                                            	<li><label>配送方式：</label>申通快递</li>
                                                            	<li><label>发货时间：</label>2016-08-12 09:10:37</li>
                                                            	<li><label>发货单号：</label>N/A</li>
                                                            	<li><label>订单来源：</label>Touch</li>
                                                            </ul>
                                                    </div>
                                                </div> 
                                                <!--其他信息 end-->
                                             </td>
											<td>
                                            	<!--商品名称-->
                                                <table class="table table-hover table-bordered table-button-none" style="border:none; margin-bottom:20px;">
                                                <thead class="bgf8">
                                                    <tr>
                                                        <th>商品名称<span style="font-size:12px;">［品牌］</span></th>
                                                        <th class="text-center">货号</th>
                                                        <th class="text-center">货品号</th>
                                                        <th class="text-center">价格</th>
                                                        <th class="text-center">数量</th>
                                                        <th class="text-center">库存</th>
                                                        <th class="text-center">小计</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	<tr>
                                                    	<td>
                                                        <div class="paddbot">
                                                            <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                                <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                            </div>
                                                            <div class="goods-pro-link">
                                                                <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                                <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                                <p>颜色：红色    尺寸：35</p>
                                                            </div>
                                                          </div>
                                                        </td>
                                                    	<td class="text-center">ECS019949</td>
                                                    	<td class="text-center">ECS019949s_spe</td>
                                                    	<td class="text-center">¥124</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">￥124</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>
                                                        <div class="paddbot">
                                                            <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                                <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                            </div>
                                                            <div class="goods-pro-link">
                                                                <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                                <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                                <p>颜色：红色    尺寸：35</p>
                                                            </div>
                                                          </div>
                                                        </td>
                                                    	<td class="text-center">ECS019949</td>
                                                    	<td class="text-center">ECS019949s_spe</td>
                                                    	<td class="text-center">¥124</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">￥124</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>
                                                        <div class="paddbot">
                                                            <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                                <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                            </div>
                                                            <div class="goods-pro-link">
                                                                <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                                <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                                <p>颜色：红色    尺寸：35</p>
                                                            </div>
                                                          </div>
                                                        </td>
                                                    	<td class="text-center">ECS019949</td>
                                                    	<td class="text-center">ECS019949s_spe</td>
                                                    	<td class="text-center">¥124</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">￥124</td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                                <!--商品名称结束-->
                                                <!--操作信息-->
                                                <div aria-labelledby="history" style="margin:0 10px 10px 10px;">
                                                   		 <div class="state-list">
															<div class="state-list-ul filter-scroll" tabindex="0" style="overflow: hidden; outline: none;">
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                             </div>
                                                          </div>
                                                     </div>
                                                <!--操作信息结束-->
                                            </td>
										</tr>
										<tr valign="top">
											<td class="position-r">
                                               
                                            </td>
											<td>
                                               
                                                
                                           </td>
										</tr>
									</tbody>
								</table>
                            <!--order_details end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>