<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>添加订单</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">添加订单</li>
                            </ul>
							<a href="order_details.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
                        	 <!-- Nav tabs -->
                            <ul class="goods-new-title order-edit-title m-bottom4">
                                    <li class="goods-header position-r"><a href="order_add_edit.html"><div class="circle-num">1</div><span style="margin-left:35px">加入订单</span></a><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r active"><a href="order_add_search.html"><div class="circle-num">2</div><span style="margin-left:35px">收货人信息</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_distribution.html"><div class="circle-num">3</div><span style="margin-left:35px">配货方式</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r "><a href="order_add_payment.html"><div class="circle-num">4</div><span style="margin-left:35px">支付方式</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_packing.html"><div class="circle-num">5</div><span style="margin-left:35px">选择包装</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_cost.html"><div class="circle-num">6</div><span style="margin-left:35px">费用信息</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                </ul>
                            <!-- Tab panes -->
						  	<!--order-->
                            <div class="row form-horizontal">
                                <section>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">从已收货地址中选择：</label>
                                        <div class="col-sm-3">
                                            <select class="form-control form-control-styled">
                                                <option>中国</option>
                                                <option>美国</option>
                                                <option>日本</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">收货人：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                        <span class="t-first xing">*</span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">所在地区：</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-styled">
                                                <option>中国</option>
                                                <option>美国</option>
                                                <option>日本</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                             <select class="form-control form-control-styled">
                                                <option>北京</option>
                                                <option>安徽</option>
                                                <option>福建</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                             <select class="form-control form-control-styled">
                                                <option>安庆</option>
                                                <option>蚌埠</option>
                                                <option>巢湖</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                             <select class="form-control form-control-styled">
                                                <option>迎江区</option>
                                                <option>大观区</option>
                                                <option>宜秀区</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">电子邮件：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                        <span class="t-first xing">*</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">地址：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                        <span class="t-first xing">*</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">邮编：</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">电话：</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                        <span class="t-first xing">*</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">手机：</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">标志性建筑：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">最佳送货时间：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-5 tabel-down">
                                            <a href="order_add_edit.html"><button type="button" class="btn btn-danger">上一步</button></a>
                                            <a href="order_add_distribution.html"><button type="button" class="btn btn-danger">下一步</button></a>
                                            <a href="order_add.html"><button type="button" class="btn btn-default">取消</button></a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-sm-6 text-center tabel-down">
                            </div>
                            <!--order end-->
					    </div>
                         
					 
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>