<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>售后服务类型</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
              <!--售后服务类型弹出层开始-->
                    <div class="modal fade filter-area in" id="myAreas-sale" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">售后服务类型</h4>
                                </div>
                                <form class="form-horizontal" >
                                <div class="modal-body j-get-one select-three">
                                    <!--修改内容-->
                                           <section>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">服务类型：</label>
                                                     <div class="col-sm-2 p-left15">
                                                        <select class="form-control form-control-styled w100">
                                                            <option>退货退款</option>
                                                            <option>仅退货</option>
                                                            <option>换货</option>
                                                            <option>维修</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">有效时间：</label>
                                                     <div class="col-sm-3 p-left15">
                                                       <input type="text" class="form-control" id="" placeholder="" value="10">
                                                    </div>
                                                    <span class="line36 col-sm-3">(已收货有效时间)</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">有效时间：</label>
                                                     <div class="col-sm-3 p-left15">
                                                       <input type="text" class="form-control" id="" placeholder="" value="10">
                                                    </div>
                                                    <span class="line36 col-sm-3">(未收货有效时间)</span>
                                                </div>
                                               <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">服务类型描述：</label>
                                                    <div class="col-sm-8 padding_zore" style="margin-left:15px;">
                                                       <textarea class="form-control" id="" rows="2" name="" required>对已收到的货物不满意，联系卖家协商换货</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">排序：</label>
                                                     <div class="col-sm-2 p-left15">
                                                       <input type="text" class="form-control" id="" placeholder="" value="3">
                                                    </div>
                                                </div>
                                                <div class="form-group j-get-one select-three">
                                                    <label for="" class="col-sm-2 control-label">是否显示：</label>
                                                    <div class="ect-select pull-left">
                                                        <label class="dis-box">
                                                            <i class="j-select-btn"></i>
                                                            <span class="box-flex">是</span>
                                                        </label>
                                                    </div>
                                                    <div class="ect-select pull-left">
                                                        <label class="dis-box">
                                                            <i class="j-select-btn"></i>
                                                            <span class="box-flex">否</span>
                                                        </label>
                                                    </div>
                                                        <span class="line36"> (前台售后服务将不会显示该服务类型)</span>
                                                </div>
                                            </section>
                                    <!--修改内容结束-->
	                                </div>
	                                <div class="modal-footer">
                                        <div class="form-group sure-but">
                                            <label for="" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                            </div>
                                        </div>
	                                </div>
	                            </form>
                            </div>
                        </div>
                    </div>
                <!--售后服务类型弹出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">售后服务类型</li>
                                </ul>
								<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
							</div>
							<div class="content-box">
							  	<!--order-->
                               
                                <div class="m-top2 m-bottom6 select-three j-get-more">
									 <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th></th>
												<th class="text-center">服务类型描述</th>
												<th class="text-center">已收货有效时间</th>
												<th class="text-center">未收货有效时间</th>
												<th class="text-center">排序</th>
												<th class="text-center">是否显示</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
                                                <td>换货</td>
                                                <td>对已收到的货物不满意，联系卖家协商换货</td>
                                                <td>7</td>
                                                <td>10</td>
                                                <td>3</td>
                                                <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
                                                <td class="text-center">
												   <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-sale"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
											</tr>
											<tr>
                                                <td>换货</td>
                                                <td>对已收到的货物不满意，联系卖家协商换货</td>
                                                <td>7</td>
                                                <td>10</td>
                                                <td>3</td>
                                                <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
                                                <td class="text-center">
											    <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-sale"><i class="glyphicon glyphicon-pencil"></i></a>

                                                <a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
											</tr>
											<tr>
                                                <td>换货</td>
                                                <td>对已收到的货物不满意，联系卖家协商换货</td>
                                                <td>7</td>
                                                <td>10</td>
                                                <td>3</td>
                                                <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
                                                <td class="text-center">
												<a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-sale"><i class="glyphicon glyphicon-pencil"></i></a>
                                                 <a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
											</tr>
										</tbody>
									</table>
								     <div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
                                <!--order end-->
						    </div>
                             
						 
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>