<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>操作</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">设为未付款</li>
                            </ul>
							<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
						  	<!--合并订单-->
                            <div class="form-horizontal j-get-one select-three  tabel-down">
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">操作备注：</label>
                                     <div class="col-sm-5 p-left15">
                                      <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">退款方式：</label>
                                     <div class="col-sm-5 p-left15">
                                       <div class="ect-select">
                                            <label class="dis-box">
                                                <i class="j-select-btn"></i>
                                                <span class="box-flex">退回用户余额</span>
                                            </label>
                                        </div>
                                       <div class="ect-select">
                                            <label class="dis-box">
                                                <i class="j-select-btn"></i>
                                                <span class="box-flex">生成退款申请</span>
                                            </label>
                                        </div>
                                       <div class="ect-select">
                                            <label class="dis-box">
                                                <i class="j-select-btn"></i>
                                                <span class="box-flex">不处理，误操作时选择此项</span>
                                            </label>
                                        </div>
                                    </div>
                                 </div>
								 <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">退款说明：</label>
                                    <div class="col-sm-5">
                                        <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                    </div>
                            	</div>
								 <div class="form-group">
                                    <label for="" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-5">
                                       <button class="btn btn-danger">确认</button>
                                       <button class="btn btn-default">返回</button>
                                    </div>
                            	</div>
                            </div>
                            <!--合并订单 end-->
					    </div>
                         
					 
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>