<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>商品信息</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">订单详情</li>
                                </ul>
								<a href="order_details.html" class="btn btn-danger pull-right" >订单列表</a>
							</div>
							<div class="content-box">
							  								  	<!--order-->
                                <div class="m-top2 m-bottom4">
									 <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>商品名称</th>
												<th class="text-center">货号</th>
												<th class="text-center">货品号</th>
												<th class="text-center">价格</th>
												<th class="text-center">数量</th>
												<th class="text-center">库存</th>
												<th class="text-center">小计</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
                                                <div class="paddbot">
                                                    <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                        <img src="img/pro-ac-2.png" alt="" class="goods-brand-img">
                                                    </div>
                                                    <div class="goods-pro-link">
                                                        <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                        <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                        <p>颜色：红色    尺寸：35</p>
                                                    </div>
                                                  </div>
                                                </td>
												<td class="text-center">ECS019949</td>
												<td class="text-center">ECS019949s_spe</td>
												<td class="text-center"><input type="text" class="form-control" value="¥124" size="2"></td>
												<td class="text-center"><input type="text" class="form-control text-center" size="1"  value="1"></td>
												<td class="text-center"><input type="text" class="form-control text-center"  size="1" value="1"></td>
												<td class="text-center">￥124</td>
												<td class="text-center"><a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
											</tr>
											<tr>
												<td>
                                                <div class="paddbot">
                                                    <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                        <img src="img/pro-ac-2.png" alt="" class="goods-brand-img">
                                                    </div>
                                                    <div class="goods-pro-link">
                                                        <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                        <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                        <p>颜色：红色    尺寸：35</p>
                                                    </div>
                                                  </div>
                                                </td>
												<td class="text-center">ECS019949</td>
												<td class="text-center">ECS019949s_spe</td>
												<td class="text-center"><input type="text" class="form-control" value="¥124" size="2"></td>
												<td class="text-center"><input type="text" class="form-control text-center" size="1"  value="1"></td>
												<td class="text-center"><input type="text" class="form-control text-center"  size="1" value="1"></td>
												<td class="text-center">￥124</td>
												<td class="text-center"><a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
											</tr>
											<tr>
												<td colspan="6"><b class="pull-right" style=" font-weight:normal;">合计：</b><span class="colfont12">备注：商品价格中已包含属性加价</span></td>
												<td class="text-center">￥248</td>
												<td class="text-center"><button class="btn btn-default">更新商品</button></td>
											</tr>
										</tbody>
									</table>
                                </div>
                                <div class="search-list of-hidden">
							    	<form class="form-horizontal">
										<label for="" class="control-label pull-left m-right1">按商品编号或商品名称或商品货号搜索</label>
										<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
											<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
											<a class="btn btn-danger">
												<span class="glyphicon glyphicon-search"></span>
											</a>
										</div>
									</form>
								</div>
                                <div class="m-top2 m-bottom6 select-three j-get-more">
									 <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th width="40">
                                                <div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                </label>
                                                </div></th>
												<th>商品名称［品牌］</th>
												<th class="text-center">货号</th>
												<th class="text-center">分类</th>
												<th class="text-center">价格</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
                                            	<td>
                                                <div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                </label>
                                                </div></td>
												<td>
                                                 <div class="paddbot">
                                                    <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                        <img src="img/pro-ac-2.png" alt="" class="goods-brand-img">
                                                    </div>
                                                    <div class="goods-pro-link">
                                                        <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                        <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                        <p>颜色：红色    尺寸：35</p>
                                                    </div>
                                                  </div>
                                                </td>
												<td class="text-center"	>ECS019949</td>
												<td class="text-center">珠宝首饰>手表</td>
												<td class="text-center">
                                                	
                                               <div class="form-group rain_radio">
                                                    <div class="ect-select pull-left">
                                                        <label class="dis-box">
                                                            <i class="j-select-btn"></i>
                                                            <span class="box-flex">市场价[117.00]</span>
                                                        </label>
                                                    </div>
                                                    <div class="ect-select pull-left">
                                                        <label class="dis-box">
                                                            <i class="j-select-btn"></i>
                                                            <span class="box-flex">市场价[117.00]</span>
                                                        </label>
                                                    </div>
                                                    <div class="ect-select pull-left">
                                                        <label class="dis-box">
                                                            <i class="j-select-btn"></i>
                                                            <span class="box-flex">自定义</span>
                                                        </label>
                                                    </div>
                                                    <input type="text" class="form-control custom" size="3" value="">
                                                </div>
                                                </td>
												<td class="text-center">
													<a href="#" class="btn btn-success  btn-xs" title="移除"><i class="glyphicon glyphicon-plus"></i></a>
												</td>
											</tr>
                                            
											<tr>
                                            	<td>
                                                <div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                </label>
                                                </div></td>
												<td>
                                                 <div class="paddbot">
                                                    <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                        <img src="img/pro-ac-2.png" alt="" class="goods-brand-img">
                                                    </div>
                                                    <div class="goods-pro-link">
                                                        <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                        <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                        <p>颜色：红色    尺寸：35</p>
                                                    </div>
                                                  </div>
                                                </td>
												<td class="text-center"	>ECS019949</td>
												<td class="text-center">珠宝首饰>手表</td>
												<td class="text-center"></td>
												<td class="text-center">
													<a href="#" class="btn btn-success  btn-xs" title="移除"><i class="glyphicon glyphicon-plus"></i></a>
												</td>
											</tr>
                                            <tr>
                                            	<td colspan="6" class="tabel-down"><div class="ect-select pull-left martop6">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span>全选</span>
                                                </label>
                                                </div>&nbsp; <button class="btn btn-danger">批量添加</button></td>
                                            </tr>
										</tbody>
									</table>
                                <!--order end-->
						    </div>
                             
						 
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			function show(tag){
			 var SonContent=document.getElementById(tag);
			 SonContent.style.display='block';
			 
			 }
			function hide(tag){
			 var SonContent=document.getElementById(tag);
			 SonContent.style.display='none';
			}
        </script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>