<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>缺货登记</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
              <!--订购信息弹出层开始-->
                    <div class="modal fade filter-area in" id="myAreas-edit" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">订购信息</h4>
                                </div>
                                <form class="form-horizontal" >
                                    <div class="modal-body">
                                    <!--修改内容-->
                                        
                                           	<table class="table table-bordered ">
                                            	<thead>
                                                        <tr>
                                                            <th colspan="4" class="text-center">订购信息</th>
                                                        </tr>
                                                    </thead>
                                            	<tbody>
                                                	<tr>
                                                    	<td width="110">登记用户:</td>
                                                    	<td width="530">146949719325</td>
                                                    	<td width="110">登记时间：</td>
                                                    	<td>2016-08-07 09:40:20</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>缺货商品名:</td>
                                                    	<td>新生婴儿玩具0-1岁摇铃 小木马床铃 音乐旋转宝宝床头铃床挂风铃</td>
                                                    	<td>数量：</td>
                                                    	<td>1</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>详细描述:</td>
                                                    	<td colspan="3">颜色: 红色 尺寸: l</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>联系人:</td>
                                                    	<td>哈哈哈</td>
                                                    	<td>电话通知：</td>
                                                    	<td>13752325201</td>
                                                    </tr>
                                                </tbody>
                                             
                                            </table><table class="table table-bordered">
                                            	<thead>
                                                        <tr>
                                                            <th colspan="4" class="text-center">处理信息</th>
                                                        </tr>
                                                    </thead>
                                            	<tbody>
                                                	<tr>
                                                    	<td width="110">处理用户:</td>
                                                    	<td width="530">admin</td>
                                                    	<td width="110">处理时间：</td>
                                                    	<td>2016-08-07 09:40:20</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>处理备注:</td>
                                                    	<td colspan="3">的是</td>
                                                    </tr>
                                                </tbody>
                                             
                                            </table>
                                         </div>
                                         	<div class=" select-three j-get-more tabel-down">
                                                <label for="" class="col-sm-1 control-label">处理备份：</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                                <div class="ect-select pull-left martop6">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span>发送邮件</span>
                                                </label>
                                                </div>&nbsp;&nbsp;
                                            <button class="btn btn-danger">我来处理</button> 
                                            <button class="btn btn-danger">重发邮件</button>
                                        </div>
                                    <!--修改内容结束-->
	                                <div class="modal-footer m-top2">
                                        <div class="form-group sure-but">
                                            <label for="" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-6 tabel-down">
                                                <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                            </div>
                                        </div>
	                                </div>
	                            </form>
                            </div>
                        </div>
                    </div>
                <!--订购信息弹出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">缺货登记</li>
                                </ul>
								<a href="goods_list.html" class="btn btn-danger pull-right" >商品列表</a>
							</div>
							<div class="content-box">
							  	<!--order-->
                                <div class="search-list of-hidden">
							    	<form class="form-horizontal">
										<label for="" class="control-label pull-left m-right1">缺货商品名</label>
										<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
											<input type="text" class="form-control box-flex" placeholder="请输入要查找的关键词">
											<a class="btn btn-danger">
												<span class="glyphicon glyphicon-search"></span>
											</a>
										</div>
									</form>
								</div>
                                <div class="m-top2 m-bottom6">
									 <table class="table table-bordered table-hover ">
										<thead>
											<tr>
												<th>联系人</th>
												<th>缺货商品名</th>
												<th class="text-center">数量</th>
												<th class="text-center">登记时间</th>
												<th class="text-center">是否已处理</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="position-r">刘先生</td>
												<td><img src="img/user_img1.png" class="goods-pro-img pull-left"><a href="#" class="goods-pro-link">新生婴儿玩具0-1岁摇铃 小木马床铃 音乐旋转宝宝床头铃床挂风铃</a></td>
												<td class="text-center"	>1</td>
												<td class="text-center">2016-06-10 20:04:57</td>
												<td class="text-center"><i class="glyphicon glyphicon-ok text-success"></i></td>
												<td class="text-center">
												    <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-edit"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
											<tr>
												<td class="position-r">	叶先生</td>
												<td><img src="img/user_img1.png" class="goods-pro-img pull-left"><a href="#" class="goods-pro-link">原装正品维氏瑞士军刀 58MM 逍遥派0.6363 专柜正版 多功能瑞士刀</a></td>
												<td class="text-center">1</td>
												<td class="text-center">2016-06-10 20:04:57</td>
												<td class="text-center"><i class="glyphicon glyphicon-remove text-danger"></i></td>
												<td class="text-center">
												    <a class="btn btn-primary btn-xs" title="编辑" data-toggle="modal" data-target="#myAreas-edit"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								     <div class="page pull-right ">
										<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
										<div class="page-link ">
											<a>第一页</a>
											<a>上一页</a>
											<a>下一页</a>
											<a>末页</a>
										</div>
										<div class="page-select ">
											<select class="form-control ">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
								</div>
                                <!--order end-->
						    </div>
                             
						 
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>