<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>合并订单</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">合并订单</li>
                            </ul>
							<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
						  	<!--合并订单-->
                            <form class="form-horizontal  tabel-down" style="min-height:330px;">
                                <div class="form-group">
                                    <label for="" class=" pull-left control-label col-sm-3"><a href="javascript:showNotice('noticeGoodsType');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>主订单：</label>
                                    <div class="span6 col-sm-5">
                                        <select class="span5 bselect-inaccessible form-control" id="bselect-optgroup" data-placeholder="请选择" style="display:none">
                                            <option value="">请选择</option>
                                            <option value="No">2009051230249</option>
                                                <option value="AC/DC">2016072716352382231</option>
                                                <option value="Led Zeppelin">2009051210718</option>
                                                <option value="The Who">2015081344188</option>
                                                <option value="Van Halen">2015081366574</option>
                                        </select>
                                        <span class="notice-span" id="noticeGoodsType" style="display: none;">请选择商品的所属类型，进而完善此商品的属性</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class=" pull-left control-label col-sm-3">从订单：</label>
                                    <div class="span6 col-sm-5">
                                         <select class="span5 bselect-inaccessible form-control" id="bselect-optgroup" data-placeholder="请选择" style="display:none">
                                            <option value="">请选择</option>
                                            <option value="No">2009051230249</option>
                                                <option value="AC/DC">2016072716352382231</option>
                                                <option value="Led Zeppelin">2009051210718</option>
                                                <option value="The Who">2015081344188</option>
                                                <option value="Van Halen">2015081366574</option>
                                        </select>
                                    </div>
                                </div>
								 <div class="form-group">
                                    <label for="" class=" pull-left control-label col-sm-3"></label>
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-danger">合并</button>
                                    </div>
                            </div>
                            <!--合并订单 end-->
					    </form>
                         
					 
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--商品品牌下拉框-->
		<script src="js/bselect.js"></script>
		<script src="js/prettify.js"></script>

		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
        <!--商品品牌下拉框-->
	    <script>
			(function($) {
				"use strict";		
				$(document).ready(function() {
					$("[id^='bselect-']").bselect();
					// Clean up the mess with imported files
					if(window.localStorage !== undefined) {
						for(var k in localStorage) {
							if(localStorage.hasOwnProperty(k) && k.indexOf(".less") > -1) {
								delete localStorage[k];
							}
						}
					}
					window.prettyPrint && prettyPrint();
				});
			
			})(jQuery);
	   </script>
    </body>
</html>