<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>添加订单</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
    <!--商品品牌下拉框-->
	<link rel="stylesheet" href="css/prettify.css" />

</head>
<body class="white-bg">
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">添加订单</li>
                                </ul>
								<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
							</div>
							<div class="content-box">
							  	<!--合并订单-->
                                <div class="orderadd">
                                        <p class="bg-warning padding-all browser-prompt"><b>注意</b>搜索结果只显示前20条记录，如果没有找到相应会员，请更精确地查找。另外，如果该会员是从论坛注册的且没有在商城登录过，也无法找到，需要先在商城登录。</p>
                                       <div class="form-horizontal col-lg-6" style="min-height:380px;">
                                            <div class="form-group j-get-one select-three">
                                                <div class="ect-select m-bottom1">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex"> 匿名用户</span>
                                                    </label>
                                                </div>
                                                <div class="ect-select">
                                                    <label class="dis-box pull-left">
                                                        <i class="j-select-btn"></i>
                                                        <span class="box-flex">按会员编号或会员名搜索</span>
                                                    </label>
                                                </div>
                                                  <div class="span6 col-lg-6">
                                                        <select class="span5 bselect-inaccessible form-control" id="bselect-optgroup" data-placeholder="请选择" style="display:none">
                                                            <option value="">选择一个摇滚乐队</option>
                                                            <option value="No">我不喜欢摇滚</option>
                                                            <optgroup label="A">
                                                                <option value="AC/DC">爱丽</option>
                                                                <option value="Led Zeppelin">艾力斯特</option>
                                                                <option value="The Who">艾薇</option>
                                                                <option value="Van Halen">爱微佳</option>
                                                            </optgroup>
                                                            <optgroup label="B">
                                                                <option value="Black Sabbath">Black Sabbath</option>
                                                                <option value="Dio">白面</option>
                                                                <option value="Iron Maiden">白吃</option>
                                                                <option value="Metallica">白条</option>
                                                                <option value="Motorhead">美白</option>
                                                            </optgroup>
                                                            <optgroup label="C">
                                                                <option value="Sex Pistols">吃货</option>
                                                                <option value="The Clash">The Clash</option>
                                                                <option value="The Ramones">吃的</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                    <button class="btn btn-danger">搜索</button>
                                            </div>
                                            <div class="col-sm-6 p-left5 text-center">
											<a href="order_add_edit.html"><button type="button" class="btn btn-danger">下一步</button></a>
										</div>
                                        </div>
                                        
                                    </div>
                                <!--合并订单 end-->
						    </div>
                             
						 
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--商品品牌下拉框-->
		<script src="js/bselect.js"></script>
		<script src="js/prettify.js"></script>

		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
        <!--商品品牌下拉框-->
	    <script>
			(function($) {
				"use strict";		
				$(document).ready(function() {
					$("[id^='bselect-']").bselect();
					// Clean up the mess with imported files
					if(window.localStorage !== undefined) {
						for(var k in localStorage) {
							if(localStorage.hasOwnProperty(k) && k.indexOf(".less") > -1) {
								delete localStorage[k];
							}
						}
					}
					window.prettyPrint && prettyPrint();
				});
			
			})(jQuery);
	   </script>

    </body>
</html>