<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>发货单-查看</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">发货单操作：查看</li>
                            </ul>
							<a href="#" class="btn btn-danger pull-right" >发货单列表</a>
						</div>
						<div class="content-box">
						  	<!--order_details-->
								 <table class="setable">
									<tbody>
										<tr valign="top">
											<td>
                                            	<!--基本信息-->
                                                <div class="set_title bgf8">基本信息</div>
                                            	<ul class="setinfor">
                                                    <li><label class="pull-left">订单号：</label><p>2016081109514594789</p></li>
                                                    <li><label class="pull-left">收货人：</label><p>张大力   14733228832<br>上海  上海市  普陀区  中山北路3551号伸大厦301室 <a href="javascript:;" data-toggle="modal" data-target="#myAreas"><i class="icon_edit"></i></a></p></li>
                                                    <li><label class="pull-left">支付方式：</label><p>财付通 <a href="javascript:;" data-toggle="modal" data-target="#myAreas-payment"><i class="icon_edit"></i></a> (备注: N/A)</p></li>
                                                    <li><label class="pull-left">配送方式：</label><p>圆通快递 <a  href="javascript:;" data-toggle="modal" data-target="#myAreas-distribution"><i class="icon_edit"></i></a> <a href="#" class="btn btn-danger orabel">打印订单</a></p></li>
                                                </ul>
                                                <!--基本信息 end-->
                                                 <!--配送方式弹出层开始-->
                                                <div class="modal fade filter-area in" id="myAreas-distribution" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">配送方式</h4>
                                                            </div>
                                                            <form class="form-horizontal">
                                                            <div class="modal-body">
                                                                <!--修改内容-->
                                                                        	<div class="form-group j-get-one select-three">
                                                                                <label for="" class="col-sm-2 control-label">配送方式：</label>
                                                                                <div class="ect-select pull-left">
                                                                                    <label class="dis-box">
                                                                                        <i class="j-select-btn"></i>
                                                                                        <span class="box-flex">申通快递</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="ect-select pull-left">
                                                                                    <label class="dis-box">
                                                                                        <i class="j-select-btn"></i>
                                                                                        <span class="box-flex">圆通快递</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="ect-select pull-left">
                                                                                    <label class="dis-box">
                                                                                        <i class="j-select-btn"></i>
                                                                                        <span class="box-flex">顺丰快递</span>
                                                                                    </label>
                                                                                </div>
                                                                           </div>
                                                                <!--修改内容结束-->
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="form-group sure-but tabel-down ">
                                                                    <label for="" class="col-sm-2 control-label"></label>
                                                                    <div class="col-sm-6">
                                                                        <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                                        <button type="reset" class="btn btn-default pull-left">重置</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!--配送方式弹出层结束-->
                                                 <!--支付方式弹出层开始-->
                                                <div class="modal fade filter-area in" id="myAreas-payment" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">支付方式</h4>
                                                            </div>
                                                            <form class="form-horizontal">
                                                            <div class="modal-body j-get-one select-three">
                                                                <!--修改内容-->
                                                                        	<div class="form-group j-get-one select-three">
                                                                                <label for="" class="col-sm-2 control-label">支付方式：</label>
                                                                                <div class="ect-select pull-left">
                                                                                    <label class="dis-box">
                                                                                        <i class="j-select-btn"></i>
                                                                                        <span class="box-flex">支付宝</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="ect-select pull-left">
                                                                                    <label class="dis-box">
                                                                                        <i class="j-select-btn"></i>
                                                                                        <span class="box-flex">财付通</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="ect-select pull-left">
                                                                                    <label class="dis-box">
                                                                                        <i class="j-select-btn"></i>
                                                                                        <span class="box-flex">微信支付</span>
                                                                                    </label>
                                                                                </div>
                                                                           </div>
                                                                <!--修改内容结束-->
	                                                            </div>
	                                                            <div class="modal-footer">
                                                                    <div class="form-group sure-but tabel-down">
                                                                        <label for="" class="col-sm-2 control-label"></label>
                                                                        <div class="col-sm-6">
                                                                            <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                                            <button type="reset" class="btn btn-default pull-left">重置</button>
                                                                        </div>
                                                                    </div>
	                                                            </div>
	                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!--支付方式弹出层结束-->
                                                <!--收货人弹出层开始-->
                                                <div class="modal fade filter-area in" id="myAreas" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">收货人</h4>
                                                            </div>
                                                            <form class="form-horizontal">
                                                            <div class="modal-body">
                                                                        <section>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">从已有收货地址中选择：</label>
                                                                                 <div class="col-sm-2 p-left15">
                                                                                    <select class="form-control form-control-styled w100">
                                                                                        <option>001</option>
                                                                                        <option>002</option>
                                                                                        <option>003</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">收货人：</label>
                                                                                <div class="col-sm-3">
                                                                                    <input type="text" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">所在地区：</label>
                                                                                <div class="col-sm-2 p-left15">
                                                                                    <select class="form-control form-control-styled w100">
                                                                                        <option>中国</option>
                                                                                        <option>美国</option>
                                                                                        <option>日本</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-2">
                                                                                     <select class="form-control form-control-styled w100">
                                                                                        <option>北京</option>
                                                                                        <option>安徽</option>
                                                                                        <option>福建</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-2">
                                                                                     <select class="form-control form-control-styled w100">
                                                                                        <option>安庆</option>
                                                                                        <option>蚌埠</option>
                                                                                        <option>巢湖</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-2">
                                                                                     <select class="form-control form-control-styled w100">
                                                                                        <option>迎江区</option>
                                                                                        <option>大观区</option>
                                                                                        <option>宜秀区</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">电子邮件：</label>
                                                                                <div class="col-sm-5">
                                                                                    <input type="text" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">地址：</label>
                                                                                <div class="col-sm-5">
                                                                                    <input type="text" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">邮编：</label>
                                                                                <div class="col-sm-3">
                                                                                    <input type="username" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">电话：</label>
                                                                                <div class="col-sm-3">
                                                                                    <input type="username" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">手机：</label>
                                                                                <div class="col-sm-3">
                                                                                    <input type="username" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">标志性建筑：</label>
                                                                                <div class="col-sm-5">
                                                                                    <input type="username" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-2 control-label">最佳送货时间：</label>
                                                                                <div class="col-sm-5">
                                                                                    <input type="username" class="form-control" id="" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                        </section>
		                                                            </div>
		                                                            <div class="modal-footer">
                                                                        <div class="form-group sure-but tabel-down">
                                                                            <label for="" class="col-sm-2 control-label"></label>
                                                                            <div class="col-sm-6">
                                                                                <button type="submit" class="btn btn-danger pull-left">确定</button>
                                                                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                                                            </div>
                                                                        </div>
		                                                            </div>
		                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!--收货人弹出层开始弹出层结束-->
                                            	<!--其他信息-->
                                                <div class="set_title bortop bgf8">收货人信息 <a href="javascript:;"></a></div>
                                            	<ul class="setinfor">
                                            		<li><label class="pull-left">收货人：</label><p>刘先生</p></li>
                                                    <li><label class="pull-left">地址：</label><p>北京海星大厦</p></li>
                                                    <li><label class="pull-left">电话：</label><p>13365894567</p></li>
                                                    <li><label class="pull-left">邮箱：</label><p>15313@qq.com</p></li>
                                                    <li><label class="pull-left">邮编：</label><p>20000</p></li>
                                                    <li><label class="pull-left"> 标志性建筑：</label><p>环球港</p></li>
                                                    <li><label class="pull-left"> 最佳送货时间：</label><p>2016-08-12 13：23：34</p></li>
                                               </ul>
                                                <!--其他信息 end-->
                                             </td>
											<td>
                                            	<!--订单状态-->
                                                <div class="set_title bgf8">&nbsp;</div>
                                            	<div class="order-state">
                                                    <h4><i class="icon_succeess pull-left"></i></i>当前订单状态：订单已确认，等待买家付款</h4>
                                                    <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                                    <div class="setbtn tabel-down">
                                                        <button class="btn btn-danger" >确认</button><button class="btn btn-danger">付款</button><button class="btn btn-danger">取消</button><button class="btn btn-danger">无效</button><button class="btn btn-danger">售后</button> 
                                                    </div>
                                                    <div aria-labelledby="history">
                                                   		 <div class="state-list">
															<div class="state-list-ul filter-scroll" tabindex="0" style="overflow: hidden; outline: none;">
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                                <p>管理员 admin 于 2016-08-08 11:03:02 对订单进行 无效操作  备注：客户要求取消订单</p>
                                                             </div>
                                                          </div>
                                                     </div>
                                                </div>
                                                <!--订单状态 end-->
                                            </td>
										</tr>
										<tr valign="top">
                                            
                                            <table class="table table-hover table-bordered table-button-none">
                                            <thead class="bgf8">
                                            	<tr><div class="set_title borbut bgf8">商品信息 <a href="order_details_edit.html">[编辑]</a></div></tr>
                                                <tr>
                                                    <th>商品名称<span style="font-size:12px;">［品牌］</span></th>
                                                    <th class="text-center">货号</th>
                                                    <th class="text-center">货品号</th>
                                                    <th class="text-center">价格</th>
                                                    <th class="text-center">数量</th>
                                                    <th class="text-center">库存</th>
                                                    <th class="text-center">小计</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<tr>
                                                	<td>
                                                    <div class="paddbot">
                                                        <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                            <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                        </div>
                                                        <div class="goods-pro-link">
                                                            <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                            <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                            <p>颜色：红色    尺寸：35</p>
                                                        </div>
                                                      </div>
                                                    </td>
                                                	<td class="text-center">ECS019949</td>
                                                	<td class="text-center">ECS019949s_spe</td>
                                                	<td class="text-center">¥124</td>
                                                	<td class="text-center">1</td>
                                                	<td class="text-center">1</td>
                                                	<td class="text-center">￥124</td>
                                                </tr>
                                            	<tr>
                                                	<td>
                                                    <div class="paddbot">
                                                        <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                            <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                        </div>
                                                        <div class="goods-pro-link">
                                                            <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                            <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                            <p>颜色：红色    尺寸：35</p>
                                                        </div>
                                                      </div>
                                                    </td>
                                                	<td class="text-center">ECS019949</td>
                                                	<td class="text-center">ECS019949s_spe</td>
                                                	<td class="text-center">¥124</td>
                                                	<td class="text-center">1</td>
                                                	<td class="text-center">1</td>
                                                	<td class="text-center">￥124</td>
                                                </tr>
                                            </tbody>
                                            </table>
										</tr>
									</tbody>
								</table>
                            <!--order_details end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>