<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>添加订单</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">添加订单</li>
                            </ul>
							<a href="order_details.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
                        	 <!-- Nav tabs -->
                            <ul class="goods-new-title order-edit-title m-bottom4">
                                    <li class="goods-header position-r"><a href="order_add_edit.html"><div class="circle-num">1</div><span style="margin-left:35px">加入订单</span></a><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_search.html"><div class="circle-num">2</div><span style="margin-left:35px">收货人信息</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_distribution.html"><div class="circle-num">3</div><span style="margin-left:35px">配货方式</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r active "><a href="order_add_payment.html"><div class="circle-num">4</div><span style="margin-left:35px">支付方式</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_packing.html"><div class="circle-num">5</div><span style="margin-left:35px">选择包装</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                    <li class="goods-header position-r"><a href="order_add_cost.html"><div class="circle-num">6</div><span style="margin-left:35px">费用信息</span></a><div class="goods-triangle2 position-a-l"></div><div class="goods-triangle position-a"></div></li>
                                </ul>
                            <!-- Tab panes -->
						  	<!--order-->
                            <div class="row j-get-one select-three">
                               <table class="table table-bordered table-hover">
                               		<thead>
                                    	<tr>
                                        	<th width="40"></th>
                                        	<th>名称</th>
                                        	<th class="text-center" width="60%">描述</th>
                                        	<th class="text-center">手续费</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr>
                                        	<td><div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                    </label>
                                                </div></td>
                                                <td>支付宝</td>
                                                <td>支付宝(www.alipay.com)是国内先进的网上支付平台。</td>
                                                <td class="text-center">0元</td>
                                        </tr>
                                    	<tr>
                                        	<td><div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                    </label>
                                                </div></td>
                                                <td>财付通</td>
                                                <td>财付通网站(www.tenpay.com)是国内先进的网上支付平台。</td>
                                                <td class="text-center">0元</td>
                                        </tr>
                                    	<tr>
                                        	<td><div class="ect-select pull-left">
                                                    <label class="dis-box">
                                                        <i class="j-select-btn"></i>
                                                    </label>
                                                </div></td>
                                                <td>微信支付</td>
                                                <td>微信支付，是基于微信公众号JS_API网页支付提供的支付服务功能。</td>
                                                <td class="text-center">0元</td>
                                        </tr>
                                    </tbody>
                               </table>
                                   
                            </div>
                             <div class="form-group">
                                    <div class="col-sm-12 text-center tabel-down">
                                        <a href="order_add_distribution.html"><button type="button" class="btn btn-danger">上一步</button></a>
                                        <a href="order_add_packing.html"><button type="button" class="btn btn-danger">下一步</button></a>
                                        <a href="order_add.html"><button type="button" class="btn btn-default">取消</button></a>
                                    </div>
                                </div>
                            <!--order end-->
					    </div>
                         
					 
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>