<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>退换货列表</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">退换货列表</li>
                            </ul>
							<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
						  	<!--order-->
                           
                            <div class="m-top2 m-bottom6 select-three j-get-more">
								 <table class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th width="40"><div class="ect-select pull-left">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            </label>
                                            </div></th>
											<th>退换货单编号</th>
											<th class="text-center">服务类型</th>
											<th class="text-center">申请时间</th>
											<th class="text-center">应退金额</th>
											<th class="text-center">实退金额</th>
											<th class="text-center">退回数量</th>
											<th class="text-center">订单状态</th>
											<th class="text-center">申请人</th>
											<th class="text-center">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
                                        	<td><div class="ect-select pull-left">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            </label>
                                            </div></td>
                                            <td>2016080702094994101</td>
                                            <td class="text-center">类型</td>
                                            <td class="text-center">2016.08.10 10:58</td>
                                            <td class="text-center">22.00</td>
                                            <td class="text-center">22.00</td>
                                            <td class="text-center">22</td>
                                            <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
                                            <td class="text-center">admin</td>
                                            <td class="text-center"><a href="order_return_details.html" class="btn btn-primary btn-xs" title="编辑" ><i class="glyphicon glyphicon-pencil"></i></a> <a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
										<tr>
                                        	<td><div class="ect-select pull-left">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            </label>
                                            </div></td>
                                            <td>2016080702094994101</td>
                                            <td class="text-center">类型</td>
                                            <td class="text-center">2016.08.10 10:58</td>
                                            <td class="text-center">22.00</td>
                                            <td class="text-center">22.00</td>
                                            <td class="text-center">22</td>
                                            <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
                                            <td class="text-center">admin</td>
                                            <td class="text-center"><a href="order_return_details.html" class="btn btn-primary btn-xs" title="编辑" ><i class="glyphicon glyphicon-pencil"></i></a> <a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
										<tr>
                                        	<td><div class="ect-select pull-left">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            </label>
                                            </div></td>
                                            <td>2016080702094994101</td>
                                            <td class="text-center">类型</td>
                                            <td class="text-center">2016.08.10 10:58</td>
                                            <td class="text-center">22.00</td>
                                            <td class="text-center">22.00</td>
                                            <td class="text-center">22</td>
                                            <td class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></td>
                                            <td class="text-center">admin</td>
                                            <td class="text-center"><a class="btn btn-primary btn-xs" title="编辑" ><i class="glyphicon glyphicon-pencil"></i></a> <a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a></td>
										</tr>
                                        <tr>
                                        	<td colspan="10" class="tabel-down">
                                            <div class="ect-select pull-left martop6">
                                            <label class="dis-box">
                                            <i class="j-select-btn ect-checkbox"></i>
                                            <span>全选</span>
                                            </label>
                                            </div> &nbsp;<button class="btn btn-danger">确认</button> <button class="btn btn-danger">无效</button> <button class="btn btn-danger">取消</button> <button class="btn btn-danger">移除</button></td>
                                        </tr>
									</tbody>
								</table>
							     <div class="page pull-right ">
									<div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
									<div class="page-link ">
										<a>第一页</a>
										<a>上一页</a>
										<a>下一页</a>
										<a>末页</a>
									</div>
									<div class="page-select ">
										<select class="form-control ">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
										</select>
									</div>
								</div>
							</div>
                            <!--order end-->
					    </div>
                         
					 
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>