<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>订单详情</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-reset.css">
	<link rel="stylesheet" href="css/ectouch.css" />
	<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
		<!--main content start-->
			<section class="wrapper">
				<div class="wrapper-con">
					<div class="wrapper-tab">
						<div class="titles">
                            <ul>
                            	<li class="pull-left active">订单详情</li>
                            </ul>
							<a href="order_list.html" class="btn btn-danger pull-right" >订单列表</a>
						</div>
						<div class="content-box">
						  	
								 <table class="setable">
									<tbody>
										<tr valign="top">
											<td>
                                            	<!--基本信息-->
                                                <div class="set_title bgf8">基本信息</div>
                                            	<ul class="setinfor">
                                                    <li><label class="pull-left">订单号：</label><p>2016081109514594789</p></li>
                                                    <li><label class="pull-left">下单时间：</label><p>2016-06-15 06:34:56</p></li>
                                                    <li><label class="pull-left">购货人：</label><p>robot</li>
                                                    <li><label class="pull-left">缺货处理：</label><p>等待所有商品备齐后再发</p></li>
                                                 </ul>
                                                <div class="more-inform">
                                                    <a href="javascript:void(0)">更多信息 <span class="glyphicon glyphicon-menu-down"></span></a>
                                                    <div class="more-inform-content">
                                                    	<ul>
                                                        	<li><label>配送方式：</label>申通快递</li> 
                                                        	<li><label>配送费用：</label>	15.00</li> 
                                                        	<li><label>是否保价：</label>否</li> 
                                                        	<li><label>保价费用：</label>0.00</li>                                                            
                                                         </ul>
                                                    </div>
                                                </div> 
                                                <!--基本信息 end-->
                                              
                                            	<!--其他信息-->
                                                <div class="set_title bortop bgf8">收货人信息 </div>
                                            	<ul class="setinfor">
                                                    <li><label class="pull-left">收货人：</label><p>小明</p></li>
                                                    <li><label class="pull-left">电子邮件：</label><p>100000001@qq.com</p></li>
                                                    <li><label class="pull-left">地址：</label><p>[中国 安徽 巢湖 居巢区]</p></li>
                                                    <li><label class="pull-left">邮编：</label><p>200000</p></li>
                                                </ul>
                                                <div class="more-inform">
                                                    <a href="javascript:void(0)">更多信息 <span class="glyphicon glyphicon-menu-down"></span></a>
                                                    <div class="more-inform-content">
                                                    	<ul>
                                                        	<li><label>电话：</label></li> 
                                                        	<li><label>手机：</label>	15000000000</li> 
                                                        	<li><label>标志性建筑：</label>否</li> 
                                                        	<li><label>最佳送货时间：</label>2015-15-15</li>     
                                                        	<li><label>客户给商家的留言：</label>好</li>                                                            
                                                         </ul>
                                                    </div>
                                                </div> 
                                                <!--其他信息 end-->
                                             </td>
											<td>
                                                <div class="set_title bortop bgf8 m-bottom1">操作信息 </div>
                                               <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-2 control-label">选择供货商：</label>
                                                         <div class="col-sm-5 p-left15">
                                                            <select class="form-control form-control-styled w100">
                                                                <option>上海供货商</option>
                                                                <option>北京供货商</option>
                                                            </select>
                                                        </div>
                                                	</div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-2 control-label">操作备足：</label>
                                                         <div class="col-sm-5 p-left15">
                                                           <textarea class="form-control" id="" rows="2" name="" required>对已收到的货物不满意，联系卖家协商换货</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                           <label for="" class="col-sm-2 control-label"></label>
                                                      <div class="col-sm-5 p-left15">
                                                          <button class="btn btn-danger">确认生成发货单</button>
                                                          <button class="btn btn-danger">取消</button>
                                                        </div>
                                                    </div>
                                               </div>
                                            	<!--商品名称-->
                                                <table class="table table-hover table-bordered table-button-none" style="border:none; margin-bottom:20px;">
                                                <thead class="bgf8">
                                                    <tr>
                                                        <th>商品名称<span style="font-size:12px;">［品牌］</span></th>
                                                        <th class="text-center">货号</th>
                                                        <th class="text-center">货品号</th>
                                                        <th class="text-center">价格</th>
                                                        <th class="text-center">数量</th>
                                                        <th class="text-center">库存</th>
                                                        <th class="text-center">小计</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	<tr>
                                                    	<td>
                                                        <div class="paddbot">
                                                            <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                                <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                            </div>
                                                            <div class="goods-pro-link">
                                                                <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                                <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                                <p>颜色：红色    尺寸：35</p>
                                                            </div>
                                                          </div>
                                                        </td>
                                                    	<td class="text-center">ECS019949</td>
                                                    	<td class="text-center">ECS019949s_spe</td>
                                                    	<td class="text-center">¥124</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">￥124</td>
                                                    </tr>
                                                	<tr>
                                                    	<td>
                                                        <div class="paddbot">
                                                            <div class="order-img"><a href="#" class="brand-img"><img src="img/pro-ac-2.png" class="goods-pro-img pull-left"></a>
                                                                <img src="img/pro-ac-2.png" alt="" class="goods-brand-img" style="display: none;">
                                                            </div>
                                                            <div class="goods-pro-link">
                                                                <p></p><div class="ordertext">劳力士Rolex 宇宙计型迪通拿 自动机械皮带男表</div><p></p>
                                                                <div class="order-ewm"><a href="#" class="brand-img"><img src="img/icon_ewm.png"></a><img src="img/orewm.jpg" alt="" class="goods-brand-img" width="120" height="120"></div>
                                                                <p>颜色：红色    尺寸：35</p>
                                                            </div>
                                                          </div>
                                                        </td>
                                                    	<td class="text-center">ECS019949</td>
                                                    	<td class="text-center">ECS019949s_spe</td>
                                                    	<td class="text-center">¥124</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">1</td>
                                                    	<td class="text-center">￥124</td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                                <!--商品名称结束-->
                                            </td>
										</tr>
										<tr valign="top">
											<td class="position-r">
                                               
                                            </td>
											<td>
                                               
                                                
                                           </td>
										</tr>
									</tbody>
								</table>
                            <!--order_details end-->
					    </div>
                         
					</div>
				</div>
			</section>
		<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>