<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags always come first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>专题管理</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-reset.css">
<link rel="stylesheet" href="css/ectouch.css" />
<link rel="stylesheet" href="iconfont/iconfont.css" />
<!--通用信息中的上传商品图片-->
<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
<!--选择日期-->
<link rel="stylesheet" type="text/css" href="bootstrap-datepicker/css/datepicker.css">
<!--修改字体颜色-->
<link rel="stylesheet" type="text/css" href="bootstrap-colorpicker/css/colorpicker.css">
</head>
<body class="white-bg">

			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">专题管理</li>
                                </ul>
								<a href="group_buy.html" class="btn btn-danger pull-right" >专题管理</a>
							</div>
							<div class="content-box">
                                <!--marketing_type-->
                                <ul class="ordernav m-top2 bgf8" role="tablist">
									<li class="active"><a href="#general-tab" aria-controls="general-tab" role="tab" data-toggle="tab" aria-expanded="true">通用信息</a></li>
									<li><a href="#goods-tab" aria-controls="goods-tab" role="tab" data-toggle="tab">专题商品</a></li>
									<li><a href="#desc-tab" aria-controls="desc-tab" role="tab" data-toggle="tab">专题介绍</a></li>
									<li><a href="#advanced-tab" aria-controls="advanced-tab" role="tab" data-toggle="tab">高级选项</a></li>
								</ul>
                                <div class="tab-content m-top2">
                               		<!--通用信息-->
                                    <div class="tab-pane active" id="general-tab">
                                    	<div class="form-horizontal  tabel-down">
                                           <section>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">专题名称：</label>
                                                     <div class="col-sm-6 ">
                                                        <input type="text" class="form-control pull-left m-right1" name="" value="夏新优惠大酬宾">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">专题关键字：</label>
                                                     <div class="col-sm-6 ">
                                                        <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">专题页面描述：</label>
                                                     <div class="col-sm-6 ">
                                                        <textarea class="form-control" id="" rows="2" name="" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">图片类型：</label>
                                                     <div class="col-sm-2 ">
                                                        <select class="form-control pull-left m-right1">
                                                            <option value="10" selected="selected">请选择</option>
                                                            <option value="25">图片</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType1');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>上传：</label>
                                                     <div class="col-sm-6 martop6">
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                                <img src="img/no-img.png" alt="">
                                                            </div>
                                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                            <div>
                                                                <span class="btn btn-white btn-file">
                                                            <span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
                                                                <span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
                                                                <input type="file" class="default">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
                                                            </div>
                                                        </div>
                                                        <input type="text" value="商品图片外部URL" class="form-control" id="" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
                                                        <span class="notice-span" id="noticeGoodsType1" style="display:none;">达到此数量，团购活动自动结束。0表示没有数量限制。</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">或者远程URL地址：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control pull-left m-right1 m-bottom1" name="" value="">
                                                        <input type="text" class="form-control pull-left m-right1" readonly name="" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType4');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>商品分类标题图片：</label>
                                                     <div class="col-sm-6 martop6">
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                                <img src="img/no-img.png" alt="">
                                                            </div>
                                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                            <div>
                                                                <span class="btn btn-white btn-file">
                                                            <span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
                                                                <span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
                                                                <input type="file" class="default">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
                                                            </div>
                                                        </div>
                                                        <input type="text" value="商品图片外部URL" class="form-control" id="" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
                                                        <span class="notice-span" id="noticeGoodsType4" style="display: none;">此模板的图片标准宽度为：2 标准高度为：38</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">或者远程URL地址：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control pull-left m-right1 m-bottom1" name="" value="">
                                                        <input type="text" class="form-control pull-left m-right1" readonly name="" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">基本风格样式：</label>
                                                     <div class="col-sm-4  position-r">
                                                        <input type="text" class="form-control" id="font-col">
															<div data-color-format="hex" data-color="#333" class="input-append colorpicker-default color" style="position:absolute;top:0;right:15px;" >
																<span class=" input-group-btn add-on" style="margin-top:-43px;" >
																	<button class="btn btn-white" type="button" style="padding: 9px;height:36px;border-radius: 0px 4px 4px 0;">
																		<i style="color:#333" id="colors-s"></i>
																	</button>
																</span>
															</div>
															<span class="notice-span" id="noticeGoodsMC">商品标题名称长度至少3个字符，最长50个汉字。</span>	
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">活动周期：</label>
                                                     <div class="col-sm-4 ">
                                                        <div class="input-group input-large" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
						                                        <input type="text" class="form-control dpd1" name="from">
						                                        <span class="input-group-addon">To</span>
						                                        <input type="text" class="form-control dpd2" name="to">
						                                    </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"></label>
                                                     <div class="col-sm-4 ">
                                                       <button class="btn btn-danger">确认</button> <input type="reset" name="Reset" value=" 重置 "  class="btn btn-default">
                                                    </div>
                                                </div>
                                            </section>
                                         </div>
                                    </div>
                                    <!--通用信息结束-->
                               		<!--专题商品-->
                               		<div class="tab-pane" id="goods-tab">
                                    	<div class=" form-horizontal tabel-down" style="padding:0 20px;">
                                        	<div class="search-list of-hidden m-bottom1">
                                                <label for="" class="control-label pull-left">专题分类：</label>
                                                <select class="form-control pull-left m-right1">
                                                    <option value="10" selected="selected">所有分类</option>
                                                    <option value="1">五分类</option>
                                                </select>
                                                    <input type="text" class="form-control pull-left m-right1" placeholder="" style="width:20%">
                                                    <button class="btn btn-danger pull-left m-right1">添加</button> <button class="btn btn-danger pull-left">移除</button>
                                            </div>
                                            <div class="search-list of-hidden">
													<select class="form-control pull-left m-right1">
														<option value="10" selected="selected">手机类型</option>
														<option value="1">手机配件</option>
														<option value="2">手机类型</option>
														<option value="3">充值卡</option>
													</select>
													<select class="form-control pull-left m-right1">
														<option value="10" selected="selected">所有分类</option>
														<option value="1">手机配件</option>
														<option value="2">手机类型</option>
														<option value="3">充值卡</option>
													</select>
													<div class="input-group dis-box pull-left col-sm-3 search-input-btn">
														<input type="text" class="form-control box-pull-leftex" placeholder="请输入要查找的关键词">
														<a class="btn btn-danger">
															<span class="glyphicon glyphicon-search"></span></a>
													</div>
                                       		 </div>
                                        </div>
                                                
                                                
                                            <form class="form-horizontal tasi-form m-top2" action="#" style="padding:0 20px">
                                               <div class="m-top2">
                                                        <div class="form-group ect-border-bottom0">
                                                            <div class="col-md-5 col-sm-5 text-center">可选商品</div>
                                                            <div class="col-lg-1 col-md-2 col-sm-2 text-center">操作</div>
                                                            <div class="col-md-5 col-sm-5 text-center">跟该商品关联的商品</div>
                                                        </div>
                                                        <div class="form-group">
                                                          <div class="col-md-5 col-sm-5">
                                                            <select name="source_select1" size="15" class="source-select filter-scroll" multiple="true" tabindex="5" style="overflow: hidden; outline: none;">
                                                              <option value="1" style="padding:10px;" id="1388.00">KD876F</option>
                                                            </select>
                                                          </div>
                                                          <div class="col-lg-1 col-md-2 col-sm-2 text-center ect-rel">
                                                                <div class="j-get-one select-three" style="overpull-leftow:hidden">
                                                                    <div class="ect-select pull-left">
                                                                        <label class="dis-box">
                                                                            <i class="j-select-btn"></i>
                                                                            <span class="box-pull-leftex">单向关联</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="ect-select pull-left">
                                                                        <label class="dis-box active">
                                                                            <i class="j-select-btn"></i>
                                                                            <span class="box-pull-leftex">双向关联</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <p class="m-top1"><button type="button" class="btn btn-danger">&gt;&gt;</button></p>
                                                                <p class="m-top1"><button type="button" class="btn btn-danger">&gt;</button></p>
                                                                <p class="m-top1"><button type="button" class="btn btn-danger">&lt;&lt;</button></p>
                                                                <p class="m-top1"><button type="button" class="btn btn-danger">&lt;</button></p>
                                                          </div>
                                                          <div class="col-md-5 col-sm-5">
                                                            <select name="source_select1" size="15" class="source-select filter-scroll" multiple="true" tabindex="6" style="overflow: hidden; outline: none;">
                                                              <option value="1" style="padding:10px;" id="1388.00">KD876F</option> 关联		                      <option value="4" id="58.00">诺基亚N85原装充电器</option>
                                                              <option value="3" id="68.00">诺基亚原装5800耳机</option>
                                                              <option value="5" id="20.00">索爱原装M2卡读卡器</option>
                                                              <option value="6" id="42.00">胜创KINGMAX内存卡</option>
                                                              <option value="7" id="100.00">诺基亚N85原装立体声耳机HS-82</option>
                                                              <option value="8" id="399.00">飞利浦9@9v</option>
                                                              <option value="10" id="1328.00">索爱C702c</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                        <div class="form-group text-center col-sm-11">
                                                            <button class="btn btn-danger">发放</button>
                                                        </div>
                                                   </div>
                                                </form>
                                    </div>
                                    <!--专题商品结束-->
                               		<!--专题介绍-->
                               		<div class="tab-pane" id="desc-tab">
                                    	夏新产品优惠开始了
                                    </div>
                                    <!--专题介绍结束-->
                               		<!--高级选项-->
                               		<div class="tab-pane form-horizontal" id="advanced-tab">
                                    		<div class="form-group">
                                                <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeAttrGroups');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>专题模板文件：</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                    <span class="notice-span" id="noticeAttrGroups">填写当前专题的模板文件名,模板文件应上传到当前商城模板目录下,不填写将调用默认模板。</span>
                                             </div>
                                            </div>
                                    		<div class="form-group">
                                                <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeAttrGroups1');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>专题样式表：</label>
                                                <div class="col-sm-6">
                                                    <textarea class="form-control" id="" rows="6" name="" required></textarea>
                                                    <span class="notice-span" id="noticeAttrGroups1">填写当前专题的CSS样式代码,不填写将调用模板默认CSS文件
[+] [-]</span>
                                                </div>
                                            </div>
                                    		<div class="form-group tabel-down">
                                                <label for="" class="col-sm-2 control-label"></label>
                                                <div class="col-sm-6">
                                                   <button class="btn btn-danger">确定</button> <button class="btn btn-default"> 重置</button>
                                                </div>
                                            </div>
                                    </div>
                                    <!--高级选项结束-->
                                </div>
                                <!--marketing_type end-->
						    </div>
                             
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<!--上传缩略图-->
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<!--颜色-->
		<script type="text/javascript" src="bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <!--日期时间选择-->
        <script type="text/javascript" src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="js/advanced-form-components.js"></script>
        <!--显示隐藏div层-->
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>