<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags always come first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>专题管理</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-reset.css">
<link rel="stylesheet" href="bootstrap-fileupload/bootstrap-fileupload.css">
<link rel="stylesheet" href="css/ectouch.css" />
<link rel="stylesheet" href="iconfont/iconfont.css" />
</head>
<body class="white-bg">
            <!--添加广告编辑弹出层开始-->
                    <div class="modal fade filter-area" id="myAreas-info" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">添加广告</h4>
                                </div>
                                <form class="form-horizontal  tabel-down">
                                <div class="modal-body j-get-one select-three">
                                    <!--修改内容-->
                                        
                                           <section>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType1');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>优惠活动名称：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="测试优惠活动">
                                                        <span class="notice-span" id="noticeGoodsType1">广告名称只是作为辨别多个广告条目之用，并不显示在广告中媒介类型	</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">媒介类型	</label>
                                                     <div class="col-sm-4 ">
                                                        <select class="form-control pull-left m-right1">
                                                            <option value="10" selected="selected">请选择</option>
                                                            <option value="25">图片</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">广告位置：	</label>
                                                     <div class="col-sm-4 ">
                                                        <select class="form-control pull-left m-right1">
                                                            <option value="10" selected="selected">请选择</option>
                                                            <option value="25">站外广告</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">开始日期：</label>
                                                     <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dpd1" name="from_ksrq">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">结束日期：	</label>
                                                     <div class="col-sm-4" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dpd1" name="from_jsrq">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">广告链接</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="http://localhost/ecshop/topic.php?topic_id=1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType2');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>上传广告图片：</label>
                                                     <div class="col-sm-4 ">
                                                         <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                                <img src="img/no-img.png" alt="">
                                                            </div>
                                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                            <div>
                                                                <span class="btn btn-white btn-file">
                                                            <span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
                                                                <span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
                                                                <input type="file" class="default">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
                                                            </div>
                                                        </div>
                                                        <input type="text" value="商品图片外部URL" class="form-control" id="" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
                                                        <span class="notice-span" id="noticeGoodsType2">上传该广告的图片文件,或者你也可以指定一个远程URL地址为广告的图片</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">或图片网址</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                        <label for="" class="col-sm-2 control-label m-right1">是否开启：</label>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                                <i class="j-select-btn"></i>
                                                                <span class="box-flex">开启</span>
                                                            </label>
                                                        </div>
                                                        <div class="ect-select pull-left">
                                                            <label class="dis-box">
                                                                <i class="j-select-btn"></i>
                                                                <span class="box-flex">关闭</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">广告联系人：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">联系人Email：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">联系电话：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="">
                                                    </div>
                                                </div>
                                                    
                                            </section>
                                    <!--修改内容结束-->
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group sure-but">
                                        <label for="" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-danger pull-left">确定</button>
                                            <button type="reset" class="btn btn-default pull-left">重置</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
            <!--添加广告编辑弹出层结束-->
             <!--发布到Flash播放列表编辑弹出层开始-->
                    <div class="modal fade filter-area" id="myAreas-flash" tabindex="-1" role="dialog" aria-labelledby="myAreaLabel" data-backdrop="static" style="display: none;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">添加图片广告</h4>
                                </div>
                                <form class="form-horizontal  tabel-down">
                                <div class="modal-body j-get-one select-three">
                                    <!--修改内容-->
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"><a href="javascript:showNotice('noticeGoodsType3');" title="点击此处查看提示信息"><span class="glyphicon glyphicon-question-sign glyph-remark" aria-hidden="true"></span></a>图片地址：</label>
                                                     <div class="col-sm-4 ">
                                                         <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                                <img src="img/no-img.png" alt="">
                                                            </div>
                                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                            <div>
                                                                <span class="btn btn-white btn-file">
                                                            <span class="fileupload-new"><i class="icon-paper-clip"></i>上传图片</span>
                                                                <span class="fileupload-exists"><i class="icon-undo"></i> 修改</span>
                                                                <input type="file" class="default">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> 删除</a>
                                                            </div>
                                                        </div>
                                                        <input type="text" value="" class="form-control" id="" name="goods_img_url">
                                                        <span class="notice-span" id="noticeGoodsType3">此模板的图片标准宽度为：484 标准高度为：200</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">图片链接：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="http://localhost/ecshop/topic.php?topic_id=1">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">图片说明：</label>
                                                     <div class="col-sm-4 ">
                                                        <input type="text" class="form-control" name="" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">排序：</label>
                                                     <div class="col-sm-1 ">
                                                        <input type="text" class="form-control" name="" value="">
                                                    </div>
                                                </div>
                                    <!--修改内容结束-->
	                                </div>
	                                <div class="modal-footer">
	                                    <div class="form-group sure-but">
	                                        <label for="" class="col-sm-2 control-label"></label>
	                                        <div class="col-sm-6">
	                                            <button type="submit" class="btn btn-danger pull-left">确定</button>
	                                            <button type="reset" class="btn btn-default pull-left">重置</button>
	                                        </div>
	                                    </div>
	                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
            <!--发布到Flash播放列表编辑弹出层结束-->
			<!--main content start-->
				<section class="wrapper">
					<div class="wrapper-con">
						<div class="wrapper-tab">
							<div class="titles">
                                <ul>
                                	<li class="pull-left active">专题管理</li>
                                </ul>
								<a href="favourable_list.html" class="btn btn-danger pull-right" >专题管理</a>
							</div>
							<div class="content-box">
                                <!--marketing_type-->
                                <table class="table table-bordered table-hover select-three j-get-more m-top2">
										<thead>
											<tr>
												<th><div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span> 编号</span>
                                                </label>
                                                </div></th>
												<th class="text-center">专题名称</th>
												<th class="text-center">开始时间</th>
												<th class="text-center">结束时间</th>
												<th class="text-center">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><div class="ect-select pull-left">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span> 01</span>
                                                </label>
                                                </div></td>
												<td>测试优惠活动	</td>
												<td class="text-center">2016-05-26 00:00	</td>
												<td class="text-center">2017-12-29</td>
												<td class="text-center">
                                               		<a href="#" type="button" class="btn btn-success  btn-xs" title="查看"><i class="glyphicon glyphicon-search"></i></a>
                                                    <a href="topic_info.html" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
													<a href="#" class="btn btn-danger btn-xs" title="移除"><i class="glyphicon glyphicon-trash"></i></a>
                                                    <a  href="javascript:;" title="发布到广告" data-toggle="modal" data-target="#myAreas-info">发布到广告</a>
                                                    <a  href="javascript:;" title="发布到Flash播放列表" data-toggle="modal" data-target="#myAreas-flash">发布到Flash播放列表</a>
												</td>
											</tr>
                                            <tr>
                                            <td colspan="8" class="tabel-down"><div class="ect-select pull-left martop6">
                                                <label class="dis-box">
                                                <i class="j-select-btn ect-checkbox"></i>
                                                <span>全选</span>
                                                </label>
                                                </div><button class="btn btn-danger">删除</button></td>
                                            </tr>
										</tbody>
									</table>
                                    <div class="page pull-right ">
                                            <div class="page-count ">总计<span>19</span>个记录，分为<span>2</span>页，当前第<span>1</span>页，每页<input type="text " class="form-control page-input "></div>
                                            <div class="page-link ">
                                                <a>第一页</a>
                                                <a>上一页</a>
                                                <a>下一页</a>
                                                <a>末页</a>
                                            </div>
                                            <div class="page-select ">
                                                <select class="form-control ">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                </select>
                                            </div>
                                        </div>
                                <!--marketing_type end-->
						    </div>
                             
						</div>
					</div>
				</section>
			<!--main content end-->
		 <!-- jQuery first, then Bootstrap JS. -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.customSelect.min.js"></script>
		<script src="bootstrap-fileupload/bootstrap-fileupload.js"></script>
        <!--显示隐藏div层-->
		<script>
			$(".payment-list h5").click(function(){
				$(this).toggleClass("active");
				$(this).parent().siblings(".payment-list-con").toggleClass("active");
			});
		</script>
		<!--ectouch for all pages-->
		<script src="js/ectouch.js"></script>
    </body>
</html>